[2020-10-10 21:55] ekzhu opened #1 "Output logs in JSON format"
Currently logs are produced in Tab-separated row format. Consider JSON log format because:

1. Easier interpolation with log analysis tools such as Elasticsearch/Logstash
2. JSON is typed, better for parsing in Python
3. Easier to combine log output from different future versions due to log schema change -- JSON schema is not position sensitive like the current format.
4. Model configuration is al

[2020-10-10 21:58] ekzhu opened #2 "Data cleaning/preparation for Numpy matrix input"
Currently `pandas.Dataframe` input is [cleaned](https://github.com/microsoft/FLAML/blob/main/flaml/util.py#L284).

Consider perform the same preparation steps for `numpy.ndarray` inputs.

[2020-10-10 22:02] ekzhu opened #3 "Guide for contributors"
Some helpful documentation for future contributors, may include:

1. Some general description about the classes and how they work
2. How to run unit tests.
3. etc.

[2020-10-10 22:03] ekzhu opened #4 "Publish package to Pypi"

[2020-10-11 16:11] sonichi opened #5 "Write a blog post"

[2020-10-12 17:28] ekzhu opened #6 "API Doc Website"
A static site for API doc.

[2020-10-12 17:28] sonichi opened #7 "create a community"
and an email

[2020-11-19 23:33] microsoft-github-operations opened #10 "ACTION REQUIRED: Microsoft needs this private repository to complete compliance info"
There are open compliance tasks that need to be reviewed for your FLAML repo.

## Action required: 4 compliance tasks

To bring this repository to the standard required for 2021, **we require administrators of this and all Microsoft GitHub repositories to complete a small set of tasks within the next 60 days.** This is critical work to ensure the compliance and security of your microsoft GitHub or

[2020-11-20 22:24] #10 closed, assigned to nobody

[2020-11-21 19:10] #1 closed, assigned to nobody

[2020-12-04 18:03] #4 closed, assigned to nobody

[2020-12-14 06:19] windwine opened #11 "import package error"
Hi,

I used pip install and
from flaml import AutoML
gave me the error of

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\windwine8700\\anaconda3\\lib\\site-packages\\settings.json'

I am using python 3.83. Is there a way to solve this issue? Thanks.

Best,

Jiaqi

[2020-12-14 22:13] sonichi commented on #11
Thanks Jiaqi. settings.json is missing in the Pypi package though it's in the repo. We'll fix it and publish a new version to Pypi soon. A temporary fix is to copy the settings.json in the root of this repo to C:\Users\windwine8700\anaconda3\lib\site-packages.

Best,
Chi

[2020-12-15 07:10] #11 closed

[2020-12-15 08:57] #6 closed

[2020-12-15 15:51] windwine commented on #11
It is fixed now.谢谢。

On Mon, Dec 14, 2020 at 4:13 PM Chi Wang <notifications@github.com> wrote:

[2020-12-22 15:27] flippercy opened #15 "Could you create a R library, too?"
Hi Chi

Amazing work! Could you create a R library for it, too? There is still a large portion of potential users working in R.

Best,

[2020-12-23 23:02] sonichi commented on #15
There seem to be a few ways to use Python code in R, or port models trained in Python to R.

https://rstudio.github.io/reticulate/
https://stackoverflow.com/questions/61663184/porting-xgboost-model-between-python-and-r

Would that work for you?

[2020-12-29 05:34] flippercy commented on #15
Hi Chi:

Thank you for your advice!

I am aware of reticulate and the post on porting xgboost models between python and R is a good eye-opener; however, from the perspective of consistency and scalability, it would still be better if there is a native R library of FLAML, even one simply using python cores sugar-coated with R by reticulate.  Sometimes it is harder to maintain and promote a bilingua

[2021-01-11 21:56] #15 closed

[2021-01-11 21:58] flippercy opened #16 "How to enforce monotonicity in FLAML?"
Hi Chi:

Thank you for the cool work! Could I enforce monotonicity in the main automl.fit() function? If so, what algorithms can be chosen in the estimator list?

Best,

[2021-01-11 22:34] sonichi commented on #16
What's the definition of monotonicity? Assuming the data has only one feature x and requiring the model prediction as a monotonic function of x?

[2021-01-11 22:53] flippercy commented on #16
Yes. Ideally it would work as the monotone_constraints in xgboost.

[2021-01-12 07:13] sonichi commented on #16
It's easy to add your custom XGBoost learner by inheriting the class XGBoostEstimator (regression) or XGBoostSklearnEstimator (classification) from flaml.model. See section 3 of the [notebook](https://github.com/microsoft/FLAML/blob/main/notebook/flaml_demo.ipynb) as an example.

In the constructor of the inherited estimator, set the monotonicity constraint you want to use in self.params,
after ca

[2021-01-13 16:16] flippercy commented on #16
Thank you for the response!

One extra question: it seems that the goal of automl is to fit the best ML model rather than mere hyperparameter tuning, is there any plan to also test and return ensembles of base models built during the search (such as a linear ensemble of the best model of each algorithm) ?

Best,

[2021-01-13 18:34] sonichi commented on #16
You can set `ensemble=True` in the fit() function. It will build a stacked ensemble using the best models.

Please let me know if that works for you. Thanks.

[2021-01-13 22:45] flippercy commented on #16
It does. Thank you! For other questions, I will open a separate issue.

[2021-01-13 22:47] flippercy opened #17 "Does it work with weighted datasets?"
Hi Dr. Wang:

Does this algorithm work with weighted datasets? I haven't seen any parameter like 'sample_weight'. Or shall I create customized learners for weighted datasets as you suggested for monotonicity?

Thank you.

[2021-01-15 18:30] #16 closed

[2021-01-19 17:23] flippercy commented on #17
Any updates? Thank you!

[2021-01-21 22:33] flippercy commented on #17
Thank you!

[2021-01-22 17:57] sonichi commented on #17
You can use a class inherited from an existing learner, and override its [_fit()](https://github.com/microsoft/FLAML/blob/53e300ae02e38ae024c56679605b1c7709575891/flaml/model.py#L60) function. Replace `model.fit(X_train, y_train)` with `model.fit(X_train, y_train, sample_weight=w)`.

[2021-01-22 21:52] flippercy commented on #17
Got it. Thank you for your patience!

[2021-01-22 23:07] flippercy commented on #17
Hi Dr. Wang:

Below are some sample codes I wrote for a customized xgboost learner. The goal is to enable both weights and monotonicity.

class MyMonotonicXGBGBTreeClassifier(BaseEstimator):

   # search space
    params_configsearch_info = {
        'learning_rate': ConfigSearchInfo(name = 'learning_rate', type = float, lower = 0.01, init = 0.3, upper = 10),
        'gamma': ConfigSearchInfo(name

[2021-01-23 06:29] sonichi commented on #17
`sample_weight` is not a keyword argument in the fit() function of AutoML, neither the _fit() function of a learner. So the sample_weight needs to be loaded from the customized learner class. That's not an ideal solution. But if you want to do a quick test, you can set `sample_weight=...` after `class MyMonotonicXGBGBTreeClassifier(BaseEstimator):`. And then in the _fit() funciton, remove `sample_

[2021-01-24 17:23] flippercy commented on #17
Thank you! I will try it next week.

Sent from my iPhone

On Jan 23, 2021, at 12:29 AM, Chi Wang <notifications@github.com> wrote:

﻿

sample_weight is not a keyword argument in the fit() function of AutoML, neither the _fit() function of a learner. So the sample_weight needs to be loaded from the customized learner class. That's not an ideal solution. But if you want to do a quick test, you can s

[2021-01-25 19:29] flippercy opened #18 "The ensemble option in the main fit function does not work with customized learners"
I fit a model with both the RGF in the sample codes and a few other default learners:

settings = {
    "time_budget": 120, # total running time in seconds
    "metric": 'roc_auc',
    "estimator_list": ['lgbm', 'rf', 'RGF'], # list of ML learners
    "task": 'classification', # task type
    "sample": True, # whether to subsample training data
    "log_file_name": 'airlines_experiment_with_ensemb

[2021-01-25 19:53] flippercy commented on #18
Actually, it seems that the ensemble option does not work whenever the estimator_list is specified. For example:

settings = {
    "time_budget": 40, # total running time in seconds
    "metric": 'roc_auc',
    "estimator_list": ['lgbm', 'xgboost'], # list of ML learners
    "task": 'classification', # task type
    "sample": False, # whether to subsample training data
    "log_file_name": 'airlin

[2021-02-01 05:17] sonichi commented on #18
Could you let me know the version of sklearn you are using?

[2021-02-02 19:52] flippercy commented on #18
I am using 0.23.1.

[2021-02-03 18:44] sonichi commented on #18
I can reproduce the problem in 0.23.1 but it works in 0.23.2.
It seems to be a problem of scikit-learn: https://github.com/scikit-learn/scikit-learn/issues/17353

[2021-02-04 16:50] flippercy commented on #18
Thank you! Waiting for the next release of FLAML!

Best,

[2021-02-06 05:41] #17 closed

[2021-02-06 05:41] #18 closed

[2021-02-07 13:24] citron opened #20 "ONNX/ONNXML export"
Thanks for this wonderful promising AutoML stack.
May I suggest to had an "export to ONNX/ONNXML method " ?
How would I export the best model pipeline to ONNXML now ? using sklearn-onnx ?

[2021-02-07 18:42] #5 closed

[2021-02-07 18:55] sonichi commented on #20
You can use [onnxmltools](https://github.com/onnx/onnxmltools) to export the best model `automl.model` after running `automl.fit()`. Please let us know if that works for you.

[2021-02-09 15:12] citron commented on #20
Thanks @sonichi
I was able to export the model, but not directly because -like most of data scientists playing with databases- I need some kind of scikit-learn based pipeline to process the data before sending it to FLAML. This pipeline would be translated to ONNX-ML.
Is FLAML compatible with Scikit-learn pipelines ? ( http://onnx.ai/sklearn-onnx/pipeline.html )
Thanks again for FLAML, my favorite

[2021-02-09 22:19] sonichi commented on #20
@citron Thanks for your comment. If you already have a data preprocessing pipeline, sth. like the following might work:

`pipe = Pipeline([('preprocessor', your_preprocessor), ('lgbm', automl.model)])`

Here I assume the best model selected by `automl` is LigthGBM after running `automl.fit()`. Please replace them correspondingly. Then, you can follow this example: http://onnx.ai/sklearn-onnx/auto_

[2021-02-11 14:18] pawarbi opened #22 "Enable Discussion"
Congratulations on releasing FLAML and I look forward to contributing to it. Would it be possible for you to enable discussions?
Here is how you enable it :

https://docs.github.com/en/discussions/quickstart

Thanks,
Sandeep

[2021-02-11 17:48] sonichi commented on #22
Thanks. It's enabled now.

[2021-02-11 17:48] #22 closed

[2021-02-11 17:49] #7 closed

[2021-02-14 20:05] frsrgrrw commented on #2
I'd quite like to take on this request as my first contribution to an open-source project but not sure what exactly you're wanting - the link above is dead.

[2021-02-14 21:15] sonichi commented on #2
Thanks for helping, @frsrgrrw. The link should be updated as: https://github.com/microsoft/FLAML/blob/d18d292081dbf34ffb2b1e3948acaf37569ebedd/flaml/data.py#L185

Fixing this issue should only require changes to `fit_transform()` and `transform()` in this file.

[2021-02-16 21:34] flippercy opened #29 "Errors when ensemble = True"
Hi:

There is an error message when fitting models using customized monotonic learners with ensemble = True:

RuntimeError: Cannot clone object <__main__.MyMonotonicLightGBMGBDTClassifier object at 0x7f9ef2999310>, as the constructor either does not set or modifies parameter monotone_constraints

I assume it is due to the monotone_constraints added to self.params. Any suggestion on how to fix it?

[2021-02-17 01:46] sonichi commented on #29
When `ensemble=True` and `monotone_constraints` is in self.params, you need to set the `monotone_constraints` according to **params in the constructor if it is passed. For example: https://github.com/microsoft/FLAML/blob/d18d292081dbf34ffb2b1e3948acaf37569ebedd/flaml/model.py#L373

It's required by scikit-learn.

[2021-02-17 15:10] flippercy commented on #29
Got it. Thank you!

[2021-02-17 19:45] sonichi commented on #29
It fits an ensemble for the best base model of each learner. You should be able to see some msg like:

[flaml.automl: 02-17 11:42:05] {1161} INFO - ensemble: StackingClassifier(estimators=[('lgbm',
                                <flaml.model.LGBMEstimator object at 0x0000027F30E05F88>),
                               ('RGF',
                                <test.test_automl.MyRegularizedGreedyFor

[2021-02-19 05:38] flippercy opened #31 "Questions on the output in the log"
Hi Dr. Wang:

Got a few questions from my team on the content in the log of FLAML.

This is part of the log from one of our tests on FLAML (all the numbers on loss are redacted for compliance reasons):

{"record_id": 0, "iter_per_learner": 1, "logged_metric": false, "trial_time": 1756.8860552310944, "total_search_time": 2590.4430527687073, "validation_loss": XXX, "config": {"max_depth": 6, "n_esti

[2021-02-19 19:33] sonichi commented on #31
Thanks for sharing the feedback about flaml in action. Great to hear that its result is good in your task. To the questions:

1. `iter_per_learner` means how many models have been tried for each learner. The reason you see `iter_per_learner=13` for `record_id=2` is that flaml only logs better configs than the previous iters by default, i.e., `log_type='better'`.
2. `trial_time` means the time take

[2021-02-19 19:54] flippercy commented on #31
Thank you! All make sense.

[2021-02-19 21:35] sonichi commented on #31
Great. If flaml is useful in your application, it will be nice to have your feedback. Feel free to email hpo@microsoft.com to ask questions or share your feedback.

[2021-02-19 21:35] #31 closed

[2021-02-21 23:50] #29 closed

[2021-02-25 15:50] flippercy opened #33 "get_output_from_log returns empty objects"
Hi:

get_output_from_log returns empty objects for me with no error message:

from flaml.data import get_output_from_log
get_output_from_log(filename = 'test.log', time_budget = 600)

([], [], [], [], [])

However, when I ran your sample codes in the notebook, this function worked well. Moreover, my test log file exists and can be accessed in Jupyter using other methods.

I am using 0.2.5 and my s

[2021-02-25 21:36] sonichi commented on #33
The first simple thing to check is whether you have any record finished before 600s. With `time_budget=600` it will look for records finished before that point.

[2021-02-25 22:01] flippercy commented on #33
Silly me.....somehow I thought time_budget meant the amount of time allowed for this function to run.....

Thank you!

[2021-02-25 22:01] #33 closed

[2021-03-08 20:44] sonichi opened #36 "Write example test for using nni tuning interface"
add test/nni to illustrate how to use flaml in the nni framework.

[2021-03-10 07:19] rroy09 opened #38 "Verbose argument in model.fit()"
Hi,

While training the learner, a console output is generated, which can take up huge space in the notebook if the time_budget is made large. If I wish to suppress the console output while training my learner, how do I do that? In keras, sklearn, etc., setting verbose = 0 suppresses the console output.

Thanks!

[2021-03-10 17:49] sonichi commented on #38
Thanks for the question. The easiest way to do it in your notebook now is to insert these two lines before `automl.fit()`:

`from flaml import logger`
`logger.setLevel(logging.WARNING)`

for example:
`from flaml import logger`
`logger.setLevel(logging.WARNING)`
`automl.fit(X_train = X_train, y_train = y_train, **settings)`

I'd also encourage a pull request to add an argument `verbose` in `automl.

[2021-03-13 03:58] rroy09 commented on #38
Thanks for the response. However, I get an error 'logging is not defined'.

[2021-03-13 16:40] sonichi commented on #38
@rroy09 Please also add `import logging`.

[2021-03-13 16:41] rroy09 commented on #38
Thanks a lot for the response.

[2021-03-13 16:41] #38 closed

[2021-03-13 20:26] ImanHosseini commented on #36
I tried to use the _BlendSearchTuner_ in NNI, for the mnist case, I tried this config.yaml:
[code]
But it crashes with this error:
[code]
Is there another intended way to use the blendsearch tuner with NNI?

[2021-03-14 02:54] ImanHosseini commented on #36
Ok, I found a way to make it work, but it is not pretty. To fix the import issue, I made a 'wrap.py':
[code]
and in config.yaml:
[code]
Now doing "nnictl create --config ./config.yaml" works. Will this be helpful to someone trying to use NNI with _BlendSearchTuner_? If it does, it is not _test_ -ish, maybe a markdown file describing it would be helpful documentation?

[2021-03-16 06:06] sonichi commented on #36
Thanks @ImanHosseini. What about creating test/nni/ and putting the config.yaml and flaml_nni_wrap.py under it?
For flaml_nni_wrap.py, we can use:
`from flaml.searcher.blendsearch import BlendSearchTuner, CFO as CFOTuner`
After testing it, we can add an example to flaml/tune/README.md.
One issue to figure out is how to specify initial values corresponding to low cost for a subset of hp dimensions,

[2021-03-17 05:01] ImanHosseini commented on #36
It is okay to just add the [mnist.py](https://github.com/microsoft/nni/blob/52e40cb89b5757b1616d3f561c75c36a3fd36674/test/ut/tools/annotation/testcase/usercode/mnist.py)  from the NNI sample right?
To pass initial value to the tuner, I do this in the wrapper:
[code]
It works _here_ but for a general  case, one way would be to check the _known_ parameters, like: for _hidden_dimension_ or other _dim

[2021-03-17 05:13] #3 closed

[2021-03-17 23:51] sonichi commented on #36
Thanks. Yes it's a bug. Could you fix it in this PR?

It is okay to add the mnist.py from the NNI sample with a comment in the file marking the source.

And your way to pass points_to_evaluate is OK. One suggestion: use `super().__init__`.

[2021-03-18 10:09] nhirschey opened #46 "Using pandas validation data gives an error"
If I leave out X_val and y_val, automl works fine. But if I specify these values, it crashes with the following error:

[code]

[2021-03-19 03:30] flippercy opened #47 "A couple of errors when building the ensemble"
Hi:

Our team has explored the ensemble option in the fit function of automl and got a few errors:

1. There is an error when using both the GLM (LRL1/LRL2) and MLs for the ensemble. For example:

from flaml.data import load_openml_dataset
X_train, X_test, y_train, y_test = load_openml_dataset(dataset_id = 1169, data_dir = './')

settings = {
    "time_budget": 40,
    "metric": 'roc_auc',
    "ta

[2021-03-19 05:35] #36 closed

[2021-03-19 06:10] sonichi commented on #47
Problem 1 will be fixed in #45
Problem 2 is because when training the final estimator in the stacked ensemble learner, the predictions from base learners are added as new features. Then the number of monotonic constraints will be unequal to the # features in the final estimator. When the selected final estimator does not have monotonic constraints this error won't appear. To make the monotonic con

[2021-03-19 06:43] sonichi commented on #46
https://github.com/microsoft/FLAML/pull/45/commits/2bfc9cdd3c6d58925b98872878432a406b3e8a43

[2021-03-19 15:45] flippercy commented on #47
Thank you Chi. I see what you meant for problem 2.  After checking the codes, it turns out that the ensemble is built using the estimator of the best base model as the final estimator with passthrough=True, causing the problem.

A few questions and thoughts:

1. Is it possible to let users specify the final_estimator and passthrough for the ensemble, please? In practice sometimes the only meta lea

[2021-03-19 16:39] sonichi commented on #47
1. `pass_through` is for original features. If you set pass_through=False, the original features will not be passed and the predictions are used as features for the final estimator. That won't solve the constraint mismatching problem.
2. Possibly.
3. Override the `fit()` function of the customized lgbm estimator by changing the constraints before calling `self._fit()`. Like:

[code]

[2021-03-19 16:42] flippercy commented on #47
I understand. Passthrough is unrelated with this issue; just a side thought.

[2021-03-19 16:47] sonichi opened #48 "let users specify the final_estimator and passthrough for the ensemble"
Is it possible to let users specify the final_estimator and passthrough for the ensemble, please? In practice sometimes the only meta learner can be accepted by the business is GLM. Single boosting models are OK but a boosting model of boosting models is just too complicated for the legal team and regulators. Regarding the passthrough, there is no guarantee that one way will be better than the oth

[2021-03-19 16:48] sonichi commented on #47
I created a separate issue #48 for this.

[2021-03-19 16:50] #46 closed

[2021-03-29 09:45] davidwaroquiers opened #52 "Bug in Cross-Validation estimation"
Dear all,

I have been trying FLAML for a few days now and I believe I stumbled across a bug in the evaluation of the model when using cross-validation (eval_method="cv").

I believe that there is only the last fold that is taken into account in function evaluate_model_CV (ml.py). The list of validation scores (val_loss_list) is only updated with the current fold's validation score for the last fo

[2021-03-29 18:38] sonichi commented on #52
Hi David, thanks for the comment. It doesn't produce unwanted result but I understand why it looks overcomplicated in the current form. With `n_repeats=1` in `kf`, `val_loss_list` only contains one element which is the average of loss from `valid_fold_num` folds. So we don't really need the list as of now. Using the list, however, allows setting `n_repeats` larger than 1.

Please let us know if yo

[2021-03-30 06:58] davidwaroquiers commented on #52
Hi,

Thank you for your answer. Ok indeed, I see. What I wanted is to have access to the different validation scores of each fold and it was difficult (actually not possible without changing a little bit the code of course) to do that with the current implementation.

Best,

David

[2021-03-30 17:04] sonichi commented on #52
"to have access to the different validation scores of each fold", do you need the scores per fold to be logged? Otherwise they are not going to be accessible from outside.

[2021-03-31 22:30] maycuiyan opened #53 "Error when specifying sample_weight with xgboost"
line 394 of flaml/model.py, The train() method does not accept weight as legitimate argument.
Instead, the weight should be specified in line 390 when creating dtrain.

[2021-04-01 21:42] sonichi commented on #53
Could you try version 0.2.10 and let me know if the problem is fixed? Thanks.

[2021-04-02 07:07] suryajayaraman opened #56 "Option for groupKFold for regression problems"
Hi,

I'm trying to tune lightgbm for a regression problem and need to use groupKFold for cross-validation.
By default, automl.fit() takes repeatedkfold as split_type. I looked up at the [documentation](https://microsoft.github.io/FLAML/), but couldn't find details regarding that. Also, how to pass the groups arguments to it.

Thanks in advance.

[2021-04-02 15:45] sonichi commented on #56
Hi @suryajayaraman there are two ways to go about it:
1. Add support for split_type='group' in AutoML.fit(), in addition to 'stratified' and 'uniform'. Group weights can be passed and handled in a similar way as 'sample_weight'. Feel free to create a PR.
2. Use [flaml.tune.run()](https://github.com/microsoft/FLAML/tree/documentation/flaml/tune) to which you can pass a custom function `evaluate_con

[2021-04-02 15:52] sonichi commented on #47
@flippercy I'm closing this issue now. If your problem is not solved feel free to reopen it.

[2021-04-02 15:52] #47 closed

[2021-04-02 16:39] sonichi commented on #52
@davidwaroquiers Since this is not really a bug I will close this issue now. If you need the scores per fold to be logged please create a separate issue for that feature request.

[2021-04-02 16:39] #52 closed

[2021-04-02 19:32] flippercy opened #57 "Error message with lrl1 when using FLAML via reticulate: NameError: name '_' is not defined"
Hi:

I've received the error message below with lrl1 when using FLAML in RStudio via reticulate:

[flaml.automl: 04-02 14:24:16] {986} INFO - iteration 0  current learner lrl1
NameError: name '_' is not defined

Interestingly, the same codes ran well in Jupyter. The versions of scikit-learn in the two environments are the same.

Any ideas?

Thank you.

[2021-04-03 01:57] maycuiyan commented on #53
@sonichi Upgrading to 0.2.10 solves the issue. Thanks! Will close this.

[2021-04-03 01:57] #53 closed

[2021-04-03 15:42] sonichi commented on #57
Is it specific to lrl1? There is no use of '_' in the code related to lrl1.

[2021-04-03 18:33] flippercy commented on #57
It is; all the ML learners, including customized ones, are fine.

Sent from my iPhone

On Apr 3, 2021, at 10:43 AM, Chi Wang ***@***.***> wrote:

﻿

Is it specific to lrl1? There is no use of '_' in the code related to lrl1.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/microsoft/FLAML/issues/57#issuecomment-812882474>

[2021-04-05 14:33] flippercy commented on #57
I got a similar error when running the notebook example in RStudio via reticulate:

[code]

[flaml.automl: 04-05 09:20:34] {884} INFO - Evaluation method: holdout
[flaml.automl: 04-05 09:20:35] {591} INFO - Using StratifiedKFold
[flaml.automl: 04-05 09:20:35] {905} INFO - Minimizing error metric: 1-roc_auc
[flaml.automl: 04-05 09:20:35] {925} INFO - List of ML learners in AutoML Run: ['lrl1', 'lgb

[2021-04-05 14:49] flippercy opened #58 "How to pull the number of iterations completed for each learner?"
Hi:

Is there a way to pull the number of iterations completed by automl() for each learner, please? I know it can be found in the log if I set log_type to 'all' but can I pull it directly?

Assume all the default learners are used, it would be great if we can get the information for a table as below:

Learner | Iterations   Completed
-- | --
Xgboost | 100
LightGBM | 200
Catboost | 150
RF | 50

Th

[2021-04-06 18:32] qingyun-wu commented on #58
Hi flippercy,

Thank you for your question.

If you want to get that info from an AutoML instance, a quick solution is to get it through the
**_iter_per_learner** attribute of the AutoML instance you created. The attribute is valid as long as the fit() function is already called.

E.g.

'''
automl_experiment = AutoML()
automl_experiment.fit(X_train, y_train)
print(automl_experiment._iter_per_learn

[2021-04-06 21:40] flippercy commented on #58
Hi Qingyun:

Thank you for your response. I've noticed this attribute; however, it did not return what I expected. For example, after running your notebook example on automl with "estimator_list": ['lgbm' , 'rf' , 'xgboost', 'catboost' , 'extra_tree']:

[flaml.automl: 04-06 16:39:06] {986} INFO - iteration 62  current learner rf
[flaml.automl: 04-06 16:39:06] {1140} INFO -  at 50.1s,	best rf's err

[2021-04-06 23:07] qingyun-wu commented on #58
Hi fippercy,

Sorry that the update of _iter_per_learner actually also checks the size of the data sample used and thus not exactly what you want.

You can get it through **self._search_states[learner_name].total_iter**

E.g. use the following code we pull the info from all the learners:

**learner_iter_dict = {k:v.total_iter for (k,v) in automl._search_states.items()}**

[2021-04-07 13:50] bnriiitb opened #61 "Handling imbalanced dataset in automl"
Is there a way to handle imbalanced datasets in the auto ml?

[2021-04-07 16:54] sonichi commented on #61
Yes, please see https://github.com/microsoft/FLAML/wiki/Classification-of-imbalanced-data

[2021-04-07 19:03] bnriiitb commented on #61
Thanks a lot 👍 @sonichi

[2021-04-08 20:13] qingyun-wu opened #62 "Redirect the catboost_info subfolder created by CatboostEstimator"
Feedback from sebhrusen (from the automlbenchmark)
CatboostEstimator is creating and filling a catboost_info subfolder in the running directory. We should be able to pass a 'train_dir' param to Catboost to avoid that.

For example at AutoML level, accept a tmpdir and pass it to each algo supporting an equivalent property (or pass a dedicated subfolder, for example tmpdir/catboost for Catboost and

[2021-04-08 23:00] sonichi commented on #62
or find the directory of log_file_name and pass that to catboost

[2021-04-16 12:56] stepthom opened #65 "n_estimators of best model is really large (32768)"
After running FLAML for several hours, I noticed in the log that the best model was xgboost with n_estimators set to 32768:

[code]

But that seems excessively large to me and will surely result in an overfit model. (Indeed, the model achieves 99.9% F1 score on the training data set, but only about 75% on a held-out test data set.)

I see in the code that 32768 is set as the upper bound for `n_est

[2021-04-16 20:15] sonichi commented on #65
@stepthom though the upper bound is set high, usually it's not chosen in the final model because the overfitting to training data could be detected by checking validation error. What `eval_method` did you use and how large is your training data?

[2021-04-16 20:31] qingyun-wu commented on #65
Thank you for sharing your observation.
An upper bound of n_estimators up to 2^15 = 32768 is indeed intentionally set. It is set high because we want FLAML to have robust performance for various scales of datasets (large datasets do need models with a larger number of estimators).

As for the performance, as commented by Chi, FLAML evaluates a config by its validation error. So the gap between the

[2021-04-17 14:23] stepthom commented on #65
Thanks, @sonichi  and @qingyun-wu.

I am pleased with the results (84% F1 score on my test data) but the model has likely overfit. Are there any tips to help avoid overfitting?

Here are some more details:

I am using the default `eval-method`.

I have split my dataset into three groups. Training has 63K instances, validation has 7K, and test has 8K. All have 219 features.

I have passed the train

[2021-04-17 20:26] qingyun-wu commented on #65
Hi @stepthom ,

One possible way to avoid overfitting is to use an evaluation metric that discounts the training loss in AutomL.  You can set a customized metric in FLAML through the 'metric' argument: https://github.com/microsoft/FLAML/blob/06045703bf90f58f3b89acb01b50c8fe2c65b93b/flaml/automl.py#L811

You can find an example of such a customized metric here: https://github.com/microsoft/FLAML/bl

[2021-04-18 11:27] stepthom commented on #65
Thank you - great suggestion. I am trying out a custom f1 metric now. 👍

[2021-04-19 10:45] gianpDomiziani opened #66 "datetime64[ns] dtype in dataframe"
When, DataTranformer's fit_transform method is called,  If some columns have a datetime format, an error is raised by the sklearn\utils\validation.py method.

I fixed it, turning any datetime columns to datetime.toordinal type

[2021-04-19 17:44] sonichi commented on #66
Thanks @gianpDomiziani. This a reasonable approach before we add preprocessing specific to datetime type. Would you like to create a PR with your fix?

[2021-04-20 11:24] bnriiitb opened #69 "Is there a way to use a custom evaluation metric?"
I would like to define & use a custom evaluation metric.

[2021-04-20 13:08] qingyun-wu commented on #69
Hi @bnriiitb

You can set a customized metric in FLAML through the 'metric' argument: https://github.com/microsoft/FLAML/blob/06045703bf90f58f3b89acb01b50c8fe2c65b93b/flaml/automl.py#L811

You can find an example of such a customized metric here: https://github.com/microsoft/FLAML/blob/06045703bf90f58f3b89acb01b50c8fe2c65b93b/test/test_automl.py#L92

Let us know if you need more help! Thanks!

[2021-04-20 14:32] bnriiitb commented on #69
Thank you @qingyun-wu this is helpful.

[2021-04-20 15:42] #69 closed

[2021-04-20 15:44] #66 closed

[2021-04-21 08:00] bnriiitb opened #72 "Log parameters, metrics using mlflow instead of writing into a log file"
Currently, the model training logs are written into a log file. Instead of writing into a logfile, is there a way to log parameters, metrics using mlflow

[2021-04-22 09:16] bnriiitb commented on #72
Thank you @sonichi

[2021-04-22 09:16] #72 closed

[2021-04-22 19:01] gianpDomiziani opened #75 "sklearn f1_score method has 'binary' as average default"
sklearn f1_score makes use of 'binary' as average default parameter. It means, if the problem is a multiclass ones, it must be changed the average parameter to ones of ['micro', 'macro', 'weighted', 'samples']. In the ml module the sklearn_metric_loss_score is called without specifiyng that parameter. Consequently, at the moment, if a multiclass problem and f1 metric are choosen, a problem arise.

[2021-04-22 23:11] sonichi opened #76 "feature engineering for datetime columns"
Create features from columns of datetime dtype in DataTransformer's fit_transform() and transform() methods. Right now a simple conversion to float type is used.

_Originally posted by @sonichi in https://github.com/microsoft/FLAML/issues/66#issuecomment-822654160_

[2021-04-24 02:09] qingyun-wu commented on #75
Hi @gianpDomiziani,

Thanks for reporting this issue. It seems f1 score is not a commonly used metric for multiclass classification tasks. So it is not clear to me how we should properly chose the 'best' metric in this case.

Among the several average options ['micro', 'macro', 'weighted', 'samples'], 'micro', 'macro', 'weighted' all work well. Do you think it is reasonable to just set the average

[2021-04-24 02:52] sonichi commented on #75
or maybe we should ask users to specify 'micro_f1', 'macro_f1', etc. as metrics.

[2021-04-24 11:29] gianpDomiziani commented on #75
Hi @qingyun-wu, yes, you right, it is not very common to use f1 score for multiclass tasks. However, sometimes looking to the f1-micro / f1-macro could be required. By very good, I mean that if the dataset is unbalanced a micro f1 should be used more tough than a macro f1, however it could be an unnecessary complication
Instead, I think the solution proposed by @sonichi should be great. If the tas

[2021-04-24 13:09] gianpDomiziani commented on #76
Could such a solution be okay?
for dt_column in datetime_columns:
   X[f'year_{dt_column}'] = X[dt_column].dt.year
   X[f'month_{dt_column}'] = X[dt_column].dt.month
   X[f'day_{dt_column}'] = X[dt_column].dt.day
   X[dt_column] = X[dt_column].map(datetime.toordinal)

[2021-04-24 15:40] sonichi commented on #75
@qingyun-wu do you agree? If so, I'd encourage @gianpDomiziani to create a PR. Thanks.

[2021-04-24 16:01] sonichi commented on #76
Yes that's the gist of it. I'll consider the following: Year, Month, Day, Day of week, Day of year, Quarter, Week of the year, Hour, Minute, Second.

[2021-04-24 17:55] qingyun-wu commented on #75
I agree. Thanks!

[2021-04-26 18:50] #75 closed

[2021-05-03 21:16] Yard1 opened #85 "Possible error/inconsistency with the paper in FLOW2 step size reduction"
In code, step size is reduced with the following:
[code]

However, the algorithm description in the FLOW2 paper shows that:
![image](https://user-images.githubusercontent.com/10364161/116933999-a3381200-ac64-11eb-9c5e-bcc5300e950f.png)

From this, we can see that `k'` (`_oldK` in code) is only changed whenever a new best score is obtained. However, in the current implementation, `k'` always become

[2021-05-04 04:26] qingyun-wu commented on #85
Hi @Yard1,

Thank you for pointing out the differences. Your understanding of the paper is correct and your code is correct (with respect to consistency with the paper) as well. We indeed made several modifications to the stepsize design after the paper is published.

It'll be interesting to compare these two designs on different tasks. Would you like to work together on that comparison?

[2021-05-04 06:11] Yard1 commented on #85
@qingyun-wu Thanks for the response. A comparison sounds interesting and I would be happy to work with you on this. Do you remember the rationale for this particular change? Was it done to cover a wider range of step sizes?

[2021-05-04 19:37] qingyun-wu commented on #85
Hi @Yard1,

Our rationale comes mainly from theoretical analysis, which requires the step size to be 1/\sqrt{K^*} (unknown beforehand). The exact way to approximate such an unknown required value is indeed what is used in the code: _**step = self.step * np.sqrt(oldK / K)**_ where the _**K**_ will be updated to be the **_oldK_** such that the numerator of the discount factor on the latest stepsize

[2021-05-04 20:29] Yard1 commented on #85
Thank you for the explanation, this makes sense. In my case, I have a very large search space with a large number of both categorical and numeric parameters that I want to optimize over using BlendSearch. Furthermore, another difference from base BlendSearch is the presence of conditional parameters - adding support for them was straightforward, though (Optuna as GS supports those natively and a l

[2021-05-05 00:00] sonichi commented on #85
Hi @Yard1 thanks a lot for the feedback. It's very cool to see how you adapt BlendSearch to your application and very nice to know it works for you. Would you like to contribute your implementation as a derived class of BlendSearch into FLAML? That may potentially benefit other users with similar problems. BTW, it will be great to share the problem domain you are working on so that your solution c

[2021-05-05 07:15] Yard1 commented on #85
I will definetely share my work, I just want to get it up to a presentable state first. I still have some unrelated things to work out in the project as a whole. I am not sure whether it will be possible to make it a generic thing as I had to modify things outside BlendSearch too (like the Optuna Searcher) but I can look into it.

[2021-05-05 14:49] sonichi commented on #85
Cool. Feel free to create a PR when you are ready. And we can discuss on gitter if you'd like to: https://gitter.im/FLAMLer/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2021-05-25 15:31] sonichi commented on #76
closed by #89

[2021-05-25 15:31] #76 closed

[2021-05-30 17:40] sonichi opened #94 "support time series forecasting"
add a task type 'forecast', and at least one forecasting learner, like greykite.

[2021-05-30 18:31] qingyun-wu commented on #94
Reference: [a tutorial about forecast model tuning](https://linkedin.github.io/greykite/docs/0.1.0/html/gallery/tutorials/0100_forecast_tutorial.html) from greykite.

[2021-06-01 09:23] bnriiitb opened #95 "Log best model as part of MLflow run"
Is there a way to persist the best model in the mlflow runs

[2021-06-01 16:58] sonichi commented on #95
@bnriiitb we can chat on https://gitter.im/FLAMLer/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge
to understand the exact goal. For example, do you want to only persist the best model and not the others? When would you like the persistence to happen?

[2021-06-02 16:39] nabalamu opened #97 "FLAML: New feature"
My team is working on a multiclass classification model for a predicting the workload type(POC, Prod, Dev, Test) of Azure services like SQLDW, Synapse and SQLDB. We replaced the Gridsearch/XGBoost with FLAML XGBoost for better performance. Since it is multiclass classification, we implemented more metrics like normalized confusion matrix, Precision-Recall curve and Roc-curve using OneVsRestClassif

[2021-06-02 17:15] sonichi commented on #97
thanks @nabalamu for the feedback. What is a desirable API? Would the following work?

[code]

[2021-06-02 17:21] nabalamu commented on #97
Sure, the above API works. Similar APIs can be implemented for ROC curve and Precision-Recall curve as well.

def plot_roc_curve(estimator, X_train, y_train, X_test, y_test):
    '''Binarize the data for multi-class tasks and plot ROC curve

    Args:
        estimator: A multi-class classification estimator
        X_train: A numpy array or a pandas dataframe of training data
        y_train: A n

[2021-06-02 18:50] sonichi commented on #97
There are a few hardcoded things like `figsize=(10,10)` and `fmt='.2f'` in your code. Do you prefer making the plot function outside flaml so that you can customize these visual elements, or keep them hardcoded in flaml?

[2021-06-03 14:58] Isha307 commented on #2
@sonichi Can I work on this issue?

[2021-06-04 10:39] bnriiitb commented on #62
@sonichi I would like to contribute to this awesome framework. As this is my first open-source contribution. Could you provide me some guidelines?

[2021-06-04 10:41] bnriiitb commented on #2
@sonichi I would like to take this up

[2021-06-08 16:25] PardeepRassani opened #104 "fit stops after Iteration 0 when metric is r2"
I am using FLAML in Django views:

               X_train, X_test, y_train, y_test = train_test_split(df.copy(), train_size=selectedTrainingPercentage)

               automl = AutoML()

                settings = {
                    "time_budget": 60,      # total running time in seconds
                    "metric": 'r2',         # primary metrics for regression can be chosen from: ['mae','mse

[2021-06-08 21:32] #97 closed

[2021-06-09 04:58] PardeepRassani commented on #104
There is no error message. Above screenshot is the complete output from flaml.

[2021-06-09 05:06] sonichi commented on #104
That means the first training doesn't finish. Does the basic regression example work for you?

[code]

[2021-06-09 05:32] PardeepRassani commented on #104
@sonichi  Yes, successfully.

[2021-06-09 15:50] sonichi commented on #104
How can we reproduce this problem? We can chat in [gitter](https://gitter.im/FLAMLer/community) if you'd like to.

[2021-06-10 17:57] bnriiitb commented on #2
the above mentioned link is dead. Could you please the updated one?

[2021-06-11 05:11] sonichi commented on #62
@bnriiitb Thanks for considering to contribute. Please read https://github.com/microsoft/FLAML#contributing to get started. We can chat on gitter if you have questions.

[2021-06-11 05:17] sonichi commented on #2
Please see my comment above.

[2021-06-12 17:20] dtquandt commented on #56
+1, I'm having the same issue but for classification. Trying to understand the underlying code better so that I can think about whether I feel confident adding it myself.

[2021-06-13 14:38] sonichi commented on #56
@dtquandt @suryajayaraman Let's discuss on gitter about it.

[2021-06-13 15:32] sonichi commented on #56
@suryajayaraman @dtquandt The PR is created. Please let us know your suggestions.

[2021-06-16 01:52] #56 closed

[2021-06-17 13:00] stepthom opened #110 "More details on low_cost_partial_config?"
`fit()` is stopping early with the following message:

[code]

I cannot find any details in the documentation as to what exactly `low_cost_partial_config` is, or what I should be setting it to. Any pointers or guidance would be appreciated.

[2021-06-17 13:28] stepthom commented on #110
Oops, nevermind. I was not using FLAML's `fit()` properly. My mistake. Fixed now.

[2021-06-17 13:28] #110 closed

[2021-06-18 22:23] stepthom opened #112 "Error with custom metric when using eval_method = "cv""
I'm trying to use a custom metric. I'm using the one from the test case:

https://github.com/microsoft/FLAML/blob/06045703bf90f58f3b89acb01b50c8fe2c65b93b/test/test_automl.py#L92

This works fine when `eval_method` is set to its default value of "holdout". But if I change this to "cv"`, I get an error as follows:

![image](https://user-images.githubusercontent.com/3842201/122620955-3c2ebb00-d062-1

[2021-06-19 02:22] sonichi commented on #112
Thanks @stepthom for finding the bug. This PR should fix it.

[2021-06-19 04:20] #112 closed

[2021-06-20 23:27] stepthom opened #117 "Question: how does FLAML handle categorical features?"
Hi,

I am trying to learn how FLAML handles categorical features - i.e., which encoding methods (e.g., OneHotEncoding, OrdinalEncoding) are used.

I looked through the following code:

https://github.com/microsoft/FLAML/blob/c4c15f533fb1d9e33690a18c85eba041c80699b7/flaml/data.py#L187

but I can't see where the categorical features are actually encoded.

Also, I was wondering if different estimator

[2021-06-21 00:13] sonichi commented on #117
Different estimators use different encodings. CatBoost uses the raw categorical features, for example. That can be found in the `_preprocess` function of each estimator in model.py.

[2021-06-21 10:45] stepthom commented on #117
Thank you, @sonichi.

So if I understand `modey.py` correctly:

- The default/base `_preprocess` does a Ordinal-type encoding via ` X[cat_columns] = X[cat_columns].apply(lambda x: x.cat.codes)`
- LGBM's `preprocess` doesn't do anything to categorical features, effectively leaving them "raw"
- KNN's `_preprocess` drops all categorical features

[2021-06-21 15:36] sonichi commented on #117
Yes. Both LGBM and CatBoost use raw categorical features.

[2021-06-21 17:15] stepthom commented on #117
thank you!

[2021-06-21 17:15] #117 closed

[2021-06-22 03:54] sonichi commented on #2
I found a recent technique that can be used to infer feature types automatically: https://github.com/pvn25/ML-Data-Prep-Zoo/tree/master/MLFeatureTypeInference
Any volunteer to try it in flaml?

[2021-06-30 18:36] lostmygithubaccount opened #125 "python 3.9 support?"
![image](https://user-images.githubusercontent.com/54814569/124013544-453f5680-d997-11eb-8afc-9135e04e3842.png)

it seems only up to 3.8 is supported, is 3.9? will it be?

also 3.10 which is releasing soon?

[2021-07-01 00:53] sonichi commented on #125
Python 3.9 works. We'll add that to the banner.

We'll try 3.10 once it's released.

[2021-07-01 14:08] luizhemelo opened #126 "AtributeError mensage during fit"
Hi everyone!!

I've received the atribute error message below when using FLAML with XGBoost (this error occurs with others algorithms too):

[code]

Parameters used:

[code]

Specifications:
Python 3.7.10
FLAML 0.5.4 (installed via PiP)
XGBoost 1.4.0 (installed via _conda_)

Any ideas?

Thanks! :D

[2021-07-01 15:29] sonichi commented on #126
Hi @luizhemelo  Is ray installed in your environment? If so, which version is it?

[2021-07-01 17:13] luizhemelo commented on #126
I didn't have Ray installed, @sonichi.
After installation it worked perfect!!
Thanks a lot!! :D

[2021-07-01 17:41] sonichi commented on #126
It's supposed to work both with and without ray installation. So I don't really know what caused the error and I can't reproduce that error. Anyway, we'll remove the use of ConcurrencyLimiter in the next version.

[2021-07-06 01:20] #125 closed

[2021-07-06 01:20] #126 closed

[2021-07-08 15:42] stepthom opened #130 "Crash with ValueError when ensemble=True"
When I set `ensemble=True`, and my data has categorical features, I get the following error at the end of the FLAML run:

[code]

This error does not occur if `ensemble=False` or if I remove (or encode) the categorical features from my dataset

My guess is that FLAML properly encodes categorical features when training the base estimators (LGBM, RF, etc), but not when training the stacking classifi

[2021-07-08 16:14] stepthom opened #131 "Question: Why not retrain on full dataset if eval_method = cv?"
I noticed that FLAML will only retrain on the full dataset if the `eval_method` parameter is set to `'holdout'`:

https://github.com/microsoft/FLAML/blob/b04b00dc9d4bc47a4135f777ca7e419854ceb140/flaml/automl.py#L910-L911

Why not retrain on full dataset for other eval_methods, such as `'cv'`?

[2021-07-08 17:58] sonichi commented on #131
The retraining happens right after cross-validation:
https://github.com/microsoft/FLAML/blob/b04b00dc9d4bc47a4135f777ca7e419854ceb140/flaml/ml.py#L259

[2021-07-08 18:06] stepthom commented on #131
Oh, I see - thank you very much! 👍

[2021-07-08 18:06] #131 closed

[2021-07-08 18:19] sonichi commented on #130
Could you check whether this line is executed?
https://github.com/microsoft/FLAML/blob/b04b00dc9d4bc47a4135f777ca7e419854ceb140/flaml/model.py#L187
It is supposed to be executed to preprocess the categorical features before hitting
  File "/global/home/hpc3552/.conda/envs/myenv/lib/python3.8/site-packages/flaml/model.py", line 78, in _fit
    model.fit(X_train, y_train, **kwargs)

[2021-07-09 14:26] stepthom commented on #130
Thanks for the response. While investigating this issue further, I realized that my FLAML installation was old. I updated to the latest (5.3) and have now run into a new error. I will create another issue for that. Once that error is resolved, I will come back to this issue to see if it still exists.

[2021-07-09 14:31] stepthom opened #133 "Error when ensemble=true"
After upgrading to the newest version of FLAML, I am running into the following error when I set `ensemble=True`:

[code]

My call to FLAML:

[code]

This issue goes away if I change `ensemble` to `False`.

Here are my environment details:

[code]

[code]

[2021-07-09 14:43] stepthom commented on #133
Note: After downgrading to FLAML version 0.4.1, this error no longer occurs.

[2021-07-09 15:16] stepthom commented on #133
Note: I did a little more testing.

- this error does occur on 0.5.4
- this error does occur on 0.5.3
- this error does not occur on 0.5.2
- this error does not occur on 0.5.1
- this error does not occur on 0.5.0
- this error does not occur on 0.4.1

[2021-07-09 15:43] stepthom commented on #130
I can confirm that this issue still exists for version 0.5.2.

@sonichi I added some print statements around the line you mention in `model.py`.  That line is definitely being executed many times while FLAML builds the normal/individual estimators.

But that line of code seems like it is not executed when building the ensemble's version of the dataset. I added a print just before the call to `.fit

[2021-07-09 17:22] sonichi commented on #133
Thanks for finding this bug. The reason is `_estimator_type` is passed to the constructor and stored in `self.params`. The way to fix it is to delete `self.params['estimator_type']`.

[2021-07-10 11:28] stepthom opened #134 "struct error during ensemble"
When FLAML is building the ensemble at the end of a run, I am seeing the following error message:

[code]

Interestingly, this error does not occur every time, but only sometimes.

[2021-07-10 11:47] stepthom commented on #134
After doing some reading online (https://github.com/scikit-learn/scikit-learn/issues/3313 and https://stackoverflow.com/questions/24406937/scikit-learn-joblib-bug-multiprocessing-pool-self-value-out-of-range-for-i-fo), this seems to be related to memory usage.

The weird part is, I have run FLAML many times on this same dataset on this same machine, without experience the error. But it only occurs

[2021-07-10 11:53] stepthom commented on #134
FWIW, I am using 64-bit version of Python:

[code]

[2021-07-10 16:02] #133 closed

[2021-07-10 16:04] sonichi commented on #130
Could you check the latest version on github? I just merged a PR that fixes #133

[2021-07-12 23:14] sonichi commented on #130
It's also uploaded to pypi v0.5.7.

[2021-07-13 16:15] stepthom commented on #130
@sonichi I am still getting this error, even with the latest version 0.5.7.

[2021-07-13 17:40] sonichi commented on #130
Could you share a minimal example so that we can reproduce this error?

[2021-07-16 11:56] stepthom commented on #130
I am out of office for a few days, but I will send a test case next week.

[2021-07-16 11:59] stepthom commented on #134
Update: This error does not occur if I use a machine with more memory. So it is definitely memory-usage related and I don't believe this is an issue with FLAML in particular. It is possible that FLAML and/or scikit learn has a subtle memory leak somewhere that triggers this error, but it is also possible that this is a ulimit/OS type limitation.

This is no longer a blocker for me so I will close.

[2021-07-16 11:59] #134 closed

[2021-07-26 19:22] stepthom commented on #130
@sonichi Here is a minimal example that causes the error; note that if you set `ensemble` to `False`, then there is no error.

[code]

[code]

Output:

[code]

[2021-07-27 17:35] sonichi commented on #130
Thanks @stepthom. I'm able to reproduce it. Investigating.

[2021-07-27 19:21] sonichi commented on #130
I found the problem: the `_concatenate_predictions` function in `_stacking.py` from sklearn converts pandas dataframe into numpy array. When fitting the models with numpy array, we assumed it's numeric and did not preprocess the data. Working on a fix.

[2021-07-28 01:02] #2 closed

[2021-07-28 01:02] #130 closed

[2021-07-28 14:32] dsbyprateekg opened #139 "Unable to train with ensemble option"
Thanks, Authors for your wonderful work.
[ensemble_logs.txt](https://github.com/microsoft/FLAML/files/6893865/ensemble_logs.txt)

I was trying this on a dataset and with individual estimators, the training part is done successfully but once I set the estimator_list in settings and set the ensemble option True like below-
`automl.fit(X_train=X_train, y_train=y_train, ensemble=True, **settings)`

I

[2021-07-28 15:42] sonichi commented on #139
Hi @dsbyprateekg could you try installing the latest version `pip install flaml==0.5.10`? If it doesn't fix it, could you please share the notebook?

[2021-07-28 16:21] dsbyprateekg commented on #139
@sonichi Thanks! With the latest version issue is resolved. I am able to train successfully.
With this note I am closing this issue.

[2021-07-28 16:21] #139 closed

[2021-07-28 17:26] zzheng93 opened #140 "Apple Silicon M1 arm64 support"
Hello,
Thank you for developing this tool. Very helpful. I attempted to install it on my local machine (MacBook Pro M1 with arm64) but failed. I think the main reason is that the catboost doesn't support the architecture  https://github.com/catboost/catboost/issues/1526.
I wonder if there is any solution available? Or how to install FLAML without catboost?
Thanks!

[2021-07-28 18:51] qingyun-wu commented on #140
Hi @zzheng93, thank you for your interest. Are you using (or have you tried) [anaconda](https://www.anaconda.com/products/individual#macos) or miniconda (or [miniforge](https://github.com/conda-forge/miniforge) which  )to set up your development environment? If not, please try them. I (also using a machine with Apple Silicon M1 arm64) can install FLAML properly with a anaconda environment without

[2021-07-28 19:40] zzheng93 commented on #140
Hi @qingyun-wu , thank you very much for your kind reply. Yes, I used both miniconda and miniforge but failed. Would you please share the `environment.yml` that you used to install flaml?

Thank you!

[2021-07-28 19:57] qingyun-wu commented on #140
Please find my [environment.yml](https://www.dropbox.com/s/b5rthq2fgk8r2kw/environment.yml?dl=0). Thank you!

[2021-07-28 20:44] zzheng93 commented on #140
Hi @qingyun-wu , thank you!
It seems that your environment doesn't work for "Miniforge3-MacOSX-arm64" (the experimental conda-forge macOS ARM64 distribution).
It works when I use "Miniforge3-MacOSX-x86_64" (an x86-64 Python distribution) with Rosetta2.
Would be great to know when the macOS ARM64 distribution is available.

reference: https://www.anaconda.com/blog/apple-silicon-transition

[2021-07-29 20:31] eduardobull opened #142 "Error when the argument `training_function` passed to `tune.run` returns a value"
Thank you for this great library!

I'm getting the following error when the argument `training_function` passed to `tune.run` returns a value:

[code]

Code to reproduce the problem:
[code]

Maybe we can fix this by changing

https://github.com/microsoft/FLAML/blob/15fd8adac4738074c73d651691df6bc562fffa7d/flaml/tune/tune.py#L332-L334

to

[code]

[2021-07-30 00:47] sonichi commented on #142
Great suggestion. That should work. If you'd like to make a PR, please go ahead. Otherwise we'll fix it in the next version.

[2021-07-30 11:42] stepthom opened #144 "Hyperparameter search space for Catboost?"
The search space for Catboost is rather limited; it only includes `early_stopping_rounds` and `learning_rate`:

https://github.com/microsoft/FLAML/blob/072e9e458819324f9f9436c3febeb034e80e6f4f/flaml/model.py#L620-L633

Is there a reason why other hyperparameters are not searched? I was thinking it might be interesting to include:

- `l2_leaf_reg`
- `subsample`
- `bagging_temperature`
- `mvs_reg`
-

[2021-07-30 15:16] sonichi commented on #144
We have not tried those. Would you like to explore a different search space?

[2021-08-02 00:55] #142 closed

[2021-08-03 13:38] stepthom commented on #144
A different search space might yield better results for my current project, yes. I have noticed that the best loss for catboost is always worse than xgboost and lgbm.  I was wondering if there was a particular reason that catboost's search space is smaller, but it sounds like there is not. So I will experiment with a different/larger search space, and if I learn anything interesting, I will report

[2021-08-03 13:38] #144 closed

[2021-08-04 03:53] #140 closed

[2021-08-04 04:00] zzheng93 opened #151 "reproducibility and random state for AutoML.fit()"
Hello, I wonder if it is possible to reproduce the results of "flaml.AutoML.fit()"?
If possible, could you please kindly let me know how to set up the random_state (or seed) for the "flaml.AutoML.fit()"?
Thanks!

[2021-08-04 04:59] qingyun-wu commented on #151
Hi @zzheng93, that's a very good question, and thank you for raising it.

A short answer is: For now, unfortunately, we cannot guarantee flaml.AutoML.fit() is 100% reproducible.

Here is the reason: although we used random seeds to control all the explicit randomness in AutoML, we are not able to control the randomness in run time. And the measurement of time is used in multiple places of flaml.Au

[2021-08-04 15:46] zzheng93 commented on #151
Hi @qingyun-wu , thank you very much for your prompt reply.
I have `"estimator_list": ['lgbm', 'rf', 'xgboost', 'catboost']`. With the same code and data, sometimes I got that lgbm is the best estimator and sometimes xgboost. Even with the same "best estimator" (e.g., lgbm), the models were different every time. So I wonder if there is any way to keep the results to be similar?

[2021-08-04 17:21] sonichi commented on #151
How long is the time budget? The results seem to indicate that the time budget is not enough to conclude what model is best.

[2021-08-04 18:10] zzheng93 commented on #151
Hi @sonichi , thank you very much! I just used the default configuration. I have ~1M training samples. It would be great if you could offer some suggestions regarding the configurations (e.g., time budget)!

[2021-08-04 18:42] sonichi commented on #151
Oh the default budget is 60 seconds, which is too small for your use case. I'd suggest trying 1 hour (`time_budget=3600`) if that's affordable. If your desired time budget is shorter than that, then simply use your desired budget.

[2021-08-04 18:46] zzheng93 commented on #151
Thank you @sonichi , I will follow your suggestions!

[2021-08-05 07:23] AlgoAIBoss commented on #144
If you are interested in checking Catboost hyperparameters here are most of them.

`params = {"iterations": 100,           # Default 1000 if decreased learning_rate should be increased. While tuning iteration:hight, learning_rate:low
          "learning_rate":0.03,
          "depth": 2,                   # Up to 16 for loss functions except ranking for which up to 8
          "loss_function": "Cro

[2021-08-07 04:46] hanhanwu opened #153 "AttributeError: 'ConcurrencyLimiter' object has no attribute 'set_search_properties'"
### Discussed in https://github.com/microsoft/FLAML/discussions/152

<div type='discussions-op-text'>

<sup>Originally posted by **hanhanwu** August  6, 2021</sup>
I tried multiple dataset but always got error saying, "AttributeError: 'ConcurrencyLimiter' object has no attribute 'set_search_properties'"

Then I tried the simple 2 examples FLAML provided here: https://github.com/microsoft/FLAML, th

[2021-08-07 12:26] qingyun-wu commented on #153
Hi @hanhanwu, can you please let me what tests are you running or the code you used to run this exp? And which version of flaml are you using? Thank you!

[2021-08-07 15:05] hanhanwu commented on #153
Hi @qingyun-wu, I'm using the latest version v0.5.11.

Even when I was running the exact same example you guys were showing on the home page, this error happens.
Here's one of the examples I tried
![error](https://user-images.githubusercontent.com/4024769/128604625-f72866ac-ad16-4927-a5a0-beffc2564f26.PNG)

[2021-08-07 16:55] qingyun-wu commented on #153
Hi @hanhanwu, unfortunately, I am not able to reproduce the error you had. Did you install ray? If so, what is the version? FLAML's required ray version is 1.5.1.

Thanks!

[2021-08-07 18:20] hanhanwu commented on #153
Oh, now it works. Forgot to install Ray. Thank you!

[2021-08-07 18:20] #153 closed

[2021-08-07 20:29] sonichi commented on #153
@hanhanwu The example is supposed to work without ray installation. Did you use `pip install flaml` to install flaml?

[2021-08-08 01:36] hanhanwu commented on #153
@sonichi Yes I did install FLAML in that way, but always had that error. Only after I have installed latest Ray, the error were gone. And "ConcurrencyLimiter" related error is mainly due to Tune, which is related to Ray

[2021-08-08 10:07] dsbyprateekg opened #155 "How to decide value of time_budget?"
Hi,

Is there any way we can find the best value for the time_budget as per our dataset?
Please share some tips.

[2021-08-08 18:24] qingyun-wu commented on #155
Hi @dsbyprateekg,

Thanks for your interest and your question. There is in general no absolute answer to this question, but here are some tips that might be useful:

1. Use the [AutoML benchmark](https://openml.github.io/automlbenchmark/benchmark_datasets.html ) as a reference and decide your time budget accordingly.
 
This AutoML benchmark has a large and diverse collection of datasets (from open

[2021-08-09 03:46] dsbyprateekg commented on #155
Thanks a lot, @qingyun-wu and your entire team for this amazing work.
The next release of FLAML will definitely help us to improve the model performance.

I am testing FLAML for the first time for a challenge and the datasets have the following sizes:
train.csv: 22083 x 45
test.csv: 9465 x 43

I have two target columns to predict and the scoring I am using is as below:
`# Target1
score1 = max(0, 1

[2021-08-09 05:43] qingyun-wu commented on #151
Hi @zzheng93,

Could you try ```np.random.seed(seed)```  before ```automl.fit()```

This presumably can help reduce randomness.

[2021-08-09 12:14] dsbyprateekg opened #156 "AttributeError: 'NoneType' object has no attribute 'predict_proba'"
Hi,

Since today I am getting below error while training the model-
`
AttributeError                            Traceback (most recent call last)
<ipython-input-12-5a5472c0ce3c> in <module>()
    119 }
    120 np.random.seed(2021)
--> 121 automl.fit(X_train=X_train, y_train=y_train, ensemble=True, **settings)
    122 print('Best ML leaner:', automl.best_estimator)
    123 print('Best hyperparmeter

[2021-08-09 15:19] qingyun-wu commented on #156
Hi @dsbyprateekg, What time budget do you use? I guess your time budget is not enough for FLAML to finish training a single model. So the output model is None. You may consider increasing your time budget.

Thanks!

[2021-08-09 19:32] qingyun-wu commented on #156
Hi @dsbyprateekg, we did some debug and it turns out the error is caused by the data pre-processing for catboost

[code]

We will try to handle the pre-processing error in the next release. There are several workaround you can use for now:
Option 1. Do the pre-processing yourself to resolve the format issue in your data column 'Parental consent' (make it to int or string)

Option 2. Remove the est

[2021-08-10 02:14] zzheng93 commented on #151
Thank you @qingyun-wu ! I'll try it

[2021-08-10 04:14] dsbyprateekg commented on #156
Hi @qingyun-wu ,

Thanks for debugging the issue.
With option2, I am able to proceed.
It's a mistake from my side that I have ignored this column and have not done the preprocessing.

[2021-08-12 10:07] dsbyprateekg commented on #156
Thanks @sonichi , with this new version 0.5.12, this error is resolved.

[2021-08-12 10:07] #156 closed

[2021-08-12 10:08] dsbyprateekg commented on #155
Thanks @sonichi , with this new version 0.5.12, I am able to see a message in the console suggesting to increase the time budget.

[2021-08-12 10:08] #155 closed

[2021-08-12 19:39] stepthom opened #160 "multiple metrics; confusion matrix?"
Are there any development plans to allow FLAML to report multiple metrics at the end of a `fit()` call? E.g., accuracy, f1, AUC, and even confusion matrix? My understanding is that you can only get `best_loss` which will correspond to the `metric` that was passed to `fit()`.

[2021-08-12 20:35] sonichi commented on #160
There is no such plan so far. Do you have a suggestion?

[2021-08-12 22:34] flippercy opened #161 "How to specify cat_features for the catboost learner?"
Hi:

I am using a customized catboost learner but having difficulties in specifying cat_features.

The codes for the customized learner is:

from catboost import CatBoostClassifier

class MyMonotonicCatboostClassifier(BaseEstimator):

    def __init__(self, task = binary:logistic', thread_count = num_cores,  **params):

        super().__init__(task, **params)

        self.estimator_class = CatBo

[2021-08-13 22:13] anhnht3 opened #163 "RayTune's example for BlendSearch fails with flaml 0.5.12"
[code]

Error message:

  File "/opt/conda/lib/python3.8/site-packages/flaml/searcher/blendsearch.py", line 168, in __init__
    self._init_search()
  File "/opt/conda/lib/python3.8/site-packages/flaml/searcher/blendsearch.py", line 218, in _init_search
    0: SearchThread(self._ls.mode, self._gs)
  File "/opt/conda/lib/python3.8/site-packages/flaml/searcher/search_thread.py", line 52, in __init__

[2021-08-13 22:35] sonichi commented on #161
Why can't it be saved by save_model() and how does your customized learner solve that problem?

[2021-08-13 23:02] anhnht3 commented on #163
After a little bit of debugging, it seems to me that ver. 0.5.12 expects `space` to be a Dict[str, Domain]. In my use case, the config dict is a nested dict where only some values are tune.sample.Domain. Pass this nested config directly to `space` will yield a lot of errors due to unhashable types. For example,
[code]

[2021-08-14 00:57] sonichi commented on #163
@anhnht3 Thanks. The first problem can be fixed easily. For the second problem, do you have list object in your config dict? Could you share the dict which causes the error?

[2021-08-14 04:41] qingyun-wu commented on #160
Hi @stepthom, although we are not reporting multiple metrics at the end of a `fit()` call, there is actually a way to allow FLAML to log multiple metrics: you can define a [customized metric function ](https://github.com/microsoft/FLAML/blob/main/flaml/automl.py#L1020)which returns both a metric to minimize and a dictionary of metrics to log. Please find an example in this [test](https://github.co

[2021-08-14 05:18] anhnht3 commented on #163
[code]

Hi Sonichi, thank you for the prompt response. An example is included in the above. This example worked fine in the previous version of flaml.

[2021-08-14 05:42] sonichi commented on #163
Got it. We'll fix it in the next version.

[2021-08-15 10:52] stepthom commented on #160
@qingyun-wu Thank you! That looks very interesting. I will give it a try.

[2021-08-16 12:37] stepthom commented on #160
@qingyun-wu @sonichi Thanks for your help thus far. I was able to write a custom metric that returns a lot of metrics (following the example in the tests):

[code]

Thanks again.

[2021-08-16 12:37] #160 closed

[2021-08-16 20:04] flippercy commented on #161
Sorry, the issue has been resolved.

Appreciate your reply!

[2021-08-16 23:44] sonichi commented on #161
You can set the cat_features in the same way as in flaml:
https://github.com/microsoft/FLAML/blob/10082b9262a862ef51cf09117bc5d13e43d1ca0d/flaml/model.py#L720-L724

[2021-08-16 23:58] flippercy commented on #161
Thank you @sonichi; I will try.

On the other hand, is there any plan to expand the search space of catboost as discussed in #144 ?

[2021-08-17 03:55] sonichi commented on #161
@stepthom is exploring it. @AlgoAIBoss made some suggestions in that thread. I'll be curious what’s a good search space for catboost. Maybe you can discuss on gitter with them and share with each other what you found. If you have a recommended search space, we can run some benchmark experiments to verify its effectiveness.

[2021-08-17 03:57] flippercy commented on #161
Got it. Thank you very much!

[2021-08-17 03:57] #161 closed

[2021-08-17 15:52] flippercy opened #168 "A few questions on FLAML"
Hi Team FLAML:

Thank you for your great work and timely support. So far FLAML works well in our internal modeling workflow and creates significant values by increasing the efficiency of HPO and automl, especially with gigantic datasets.

My team has a few extra questions on FLAML. They do not impact the implementation of FLAML for us but we do want to know the answers. We are mostly a R team so p

[2021-08-17 17:12] sonichi commented on #168
Thanks for the feedback. Please see my answers below.

1. The estimator class in flaml.model does a few extra things for each training. For example, the XGBoostSklearnEstimator will preprocess the categorical columns because XGBClassifier doesn't handle raw categorical features. And when a time budget is given, the number of estimators may be modified to satisfy the budget. The `size` function is

[2021-08-17 20:46] flippercy commented on #168
Thank you!

[2021-08-17 20:46] #168 closed

[2021-08-18 20:27] zzheng93 commented on #151
Hi, I have followed your suggestions (seed and time_budget=3600). Seems the best_estimator is converged (in my case, they converged to "lgbm"). Although the results are different, they are very close (e.g., r2 of testing data varied from 0.80 to 0.82).

However, I noticed the models are overfitting. For example, the n_estimator is >25000. I wonder if there is any approach in FLAML to prevent overf

[2021-08-18 22:02] kabrate opened #169 "In 'Catboost' estimator, entire parameters are not able to obtained."
When estimator is 'catboost', automo.model only print <flaml.model.CatBoostEstimator object at 0x000001768BFC5AC8>. Entire parameters are not able to obtained. Besides, i check variables in the debugger, automl1.best_config only has two paremeters.

![image](https://user-images.githubusercontent.com/26816327/129977783-6d02fcaf-ce93-48de-8c3b-8a65aee76f29.png)

![image](https://user-images.githubus

[2021-08-19 00:45] qingyun-wu commented on #151
Hi @zzheng93, thank you for following up. I am wondering why do you conclude that the models are overfitting? Is this conclusion obtained purely based on the fact the this model found is complex, or do you also observe that the gap between validation error and the test error is large on this resulting model? Thanks!

[2021-08-19 02:19] qingyun-wu commented on #169
Hi @kabrate,

This is because currently flaml is only tuning two hyperparameters (you can find the current search space for catboost [here](https://github.com/microsoft/FLAML/blob/main/flaml/model.py#L643)) of the catboost model instead of all the hyperparameters. All the other hyperparameters except these two are all using default values.

Do you just want to get the values for the entire hyperpa

[2021-08-19 02:20] zzheng93 commented on #151
Hi @qingyun-wu , thank you for your prompt response. I guess it is overfitting because the n_estimator is much larger than the model trained from time_budget=300 (n_estimator is about 1200). But the testing errors are similar (R2 = ~0.8).

The training error (R2 = 0.99) from configuration "time_budget=3600" is indeed smaller than the one trained from "time_budget=300" (R2 = 0.93).

[2021-08-20 04:34] qingyun-wu commented on #151
Hi @zzheng93, in your case, at least the larger model (the model found with a larger time budget) does not give worse testing results, so it is less worrisome (assuming you only care about the test error and do not worry about the model size), right? Another more proactive suggestion is to design your own metric to guide the search of AutoML. For example, this [custom_metric ](https://github.com/m

[2021-08-21 10:07] stepthom opened #171 "Questions on LGBM's search space"
LGBM's search space includes `subsample`, [also known as](https://lightgbm.readthedocs.io/en/latest/Parameters.html#bagging_fraction) `bagging_fraction`:

https://github.com/microsoft/FLAML/blob/10082b9262a862ef51cf09117bc5d13e43d1ca0d/flaml/model.py#L224-L227

However, according to [LGBM documentation](https://lightgbm.readthedocs.io/en/latest/Parameters.html#bagging_fraction), `bagging_freq` (al

[2021-08-21 10:48] stepthom opened #172 "Why not use early_stop_rounds?"
For LGBM and XGBoost,  `num_estimators` is sampled between 4 and `min(32768, int(data_size))`.

Instead, have you considered setting `num_estimators` (alias `num_boost_round`) to a large value (say 32768) and using `evals` and `early_stop_rounds` during training? This would allow the learning algorithm (rather than the tuning algorithm) to directly find the number of boosting rounds that is optima

[2021-08-21 17:03] sonichi commented on #171
@stepthom Good catch about `bagging_freq`, we'll set it to 1 and test the performance in next version.

`log_max_bin` is just the logarithm of `max_bin`. It's converted to `max_bin` when passing to LGBM.

[2021-08-21 17:06] sonichi commented on #172
It's an idea worth trying. Would you like to implement and test it?

[2021-08-22 12:56] stepthom commented on #171
Got it - thank you for confirming!

[2021-08-23 20:26] #94 closed

[2021-08-24 13:25] stepthom commented on #172
@sonichi I have done some initial experimentation and it has led to accuracy improvement.👍

I will not have time to robustly implement in FLAML for a while, but just wanted to bring to your attention

[2021-08-24 19:14] qingyun-wu commented on #172
Thanks, @stepthom for exploring this. The suggestion sounds interesting and useful. We (me, chi, or some other volunteers) can probably find time to work on it. I wonder could you please share with us your initial experimentation? Will also keep you posted about the progress in case you have comments. Thank you!

[2021-08-26 00:27] sonichi opened #177 "kr-vs-kp fold 5"
In one 1h1c run, the selected model is

XGBClassifier(base_score=0.5, booster='gbtree',
colsample_bylevel=0.6281707771928395, colsample_bynode=1,
colsample_bytree=0.7174708818734449, gamma=0, gpu_id=-1,
grow_policy='lossguide', importance_type='gain',
interaction_constraints='', learning_rate=0.6150169906019578,
max_delta_step=0, max_depth=0, max_leaves=11,
min_child_weight=0.010391650780357337, m

[2021-08-26 20:47] #177 closed, assigned to nobody

[2021-08-29 20:09] sonichi commented on #57
@flippercy Does this issue still exist in the latest version?

[2021-08-29 20:17] sonichi commented on #104
closing as unable to reproduce.

[2021-08-29 20:17] #104 closed

[2021-08-30 20:57] flippercy commented on #57
@sonichi: I just checked and the issue does not exist anymore. How did you fix it? Just curious.

Thank you.

[2021-09-01 16:41] sonichi commented on #57
I haven't done anything specifically for this issue. I just thought it's worth trying again with the many updates we had. It's good to see the problem is gone now.

[2021-09-01 16:41] #57 closed

[2021-09-01 23:25] #62 closed

[2021-09-01 23:40] sonichi commented on #151
This custom metric function is added as an example to the notebook https://github.com/microsoft/FLAML/blob/main/notebook/flaml_automl.ipynb in #178

[2021-09-07 09:28] camer314 opened #190 "How to return metrics using custom estimator"
I note the example customized learner in the automl notebook.

I have a couple of learners not written using scikit so I understand I need to write a wrapper class around them and implement the fit and predict methods. That is fine.

What i do not understand (not being scikit expert) is once fitted how the necessary metrics get delivered back to flaml, as part of the fit what do i need to store or

[2021-09-07 11:06] camer314 commented on #190
You can probably safely ignore my question. Digging into the code you call fit then call predict and you calculate the loss that way. So i just have to implement fit and predict and should be good.

[2021-09-07 18:17] qingyun-wu commented on #190
Hi @camer314, you are right about the way to add a customized estimator. But please feel free to follow up if you encounter any other problems. We are happy to learn more about your use cases. You are also welcome to post quick questions and share comments on [gitter](https://gitter.im/FLAMLer/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge ).

[2021-09-08 01:02] #151 closed

[2021-09-08 13:28] hadisotudeh opened #193 "feature importance"
Hi,

How can i get feature_importances_ of the tree-based models?

[2021-09-08 15:40] sonichi commented on #193
You can use `automl.model.estimator.feature_importances_` to get the feature_importances_ for the best model found by automl.
If you want to get that for a particular estimator, for example lgbm, you can use `automl.best_model_for_estimator['lgbm'].estimator.feature_importances_`.

[2021-09-08 20:04] fleuryc opened #194 "Feature Request : Make FLAML installable with Conda"
Basically the title.

Gherkin style :
- AS A ML developer
- WHEN  I run `conda install flaml` (or `conda -c conda-forge install flaml`)
- THEN it installs FLAML in my current Conda environment
    - AND I can execute the following code :
[code]

[2021-09-09 06:22] zuoxiaojiang opened #195 "The result of demo case between ray tune and flaml is not same."
I run case studies in page of https://github.com/microsoft/FLAML/tree/main/flaml/tune, which includes the cfo used for flmal.tune and ray.tune. But the result is different between them, so is there something wrong in embding the flmal into ray.tune's framework?

[2021-09-10 15:53] knoam commented on #193
Would you consider doing permutation importance as well?

[2021-09-10 17:25] ThakurRajAnand commented on #193
@sonichi Is there a way to get SHAP or LIME explanations for every prediction?

[2021-09-11 01:16] sonichi commented on #194
Can someone help with this issue? Right now catboost is the only required package unavailable from conda. I can make flaml work when catboost is not installed. Can someone help with uploading the package to conda after that?

[2021-09-11 01:23] qingyun-wu commented on #195
Hi @zuoxiaojiang,

Thank you for your question.
- Sequential vs parallel: flaml.tune is doing sequential tuning using the provided search algorithm, e.g., cfo, while ray.tune is doing parallel tuning by default. This is the major cause of the difference.
- Time overhead in ray.tune: when ray.tune is used, there will be some time overhead (in addition to the search time used by the search algorithm

[2021-09-11 01:28] sonichi commented on #193
@ThakurRajAnand Try [azureml-interpret](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability-aml)
@knoam You can use [sklearn.inspection.permutation_importance](https://scikit-learn.org/stable/modules/generated/sklearn.inspection.permutation_importance.html) on `automl.model.estimator` or `automl.best_model_for_estimator['lgbm'].estimator` etc.

[2021-09-11 14:41] thanhmannguyen3158 opened #199 "What is log_max_bin?"
It seems like this param does not exist in LGBMRegressor or any ensemble models.

[2021-09-11 14:58] JosephKarpinski opened #200 "Examples: Learning to rank - AssertionError"
Python 3.8.5
<img width="1223" alt="Error1" src="https://user-images.githubusercontent.com/37123616/132952060-aa719136-d79e-44c5-b333-9f73a38ff12e.png">
<img width="1556" alt="Error2" src="https://user-images.githubusercontent.com/37123616/132952062-440bb1f6-0c55-4da7-ae83-3a8536399cd5.png">

Examples: Learning to rank from URL https://github.com/microsoft/FLAML generates
AssertionError: # rows in

[2021-09-11 15:08] JosephKarpinski opened #201 "Examples: Time series forecasting - ModuleNotFoundError"
Python 3.8.5
Examples URL https://github.com/microsoft/FLAML
ModuleNotFoundError: No module named 'prophet'

See attached
<img width="1546" alt="Screen Shot 2021-09-11 at 11 01 52 AM" src="https://user-images.githubusercontent.com/37123616/132952373-0b6f1920-3d6d-4cdf-80a9-a9b4a96ba396.png">
<img width="1546" alt="Screen Shot 2021-09-11 at 11 02 38 AM" src="https://user-images.githubusercontent.co

[2021-09-11 16:13] sonichi commented on #200
Thanks. Fixing it:
[code]

[2021-09-11 16:17] sonichi commented on #201
Does `pip install flaml[forecast]` succeed?

[2021-09-11 16:37] sonichi commented on #199
It's the log transformed max_bin. It will be converted to max_bin before passing to LGBMRegressor.

[2021-09-11 16:54] JosephKarpinski commented on #201
No

Output

zsh: no matches found: flaml[forecast]

Sent from my iPhone

On Sep 11, 2021, at 12:17 PM, Chi Wang ***@***.***> wrote:

﻿

Does pip install flaml[forecast] succeed?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/microsoft/FLAML/issues/201#issuecomment-917432759>, or unsubscribe<https://github.com/notificati

[2021-09-11 17:20] JosephKarpinski commented on #201
Got it.

zsh uses square brackets for glowing/pattern matching.
That means that if you need to pass literal square brackets as an argument to a command,
you either need to escape them or quit the argument

pip install 'flame[forecast]'

Same issue for notebook

pip install 'flam[notebook]'

[2021-09-11 17:44] JosephKarpinski commented on #201
Well pip install 'flame[forecast]' just moved the problem further down the chain to mat
<img width="1288" alt="Screen Shot 2021-09-11 at 1 37 42 PM" src="https://user-images.githubusercontent.com/37123616/132956568-6f4c7174-e120-4c53-9eaa-81cbc14eba7a.png">
<img width="1288" alt="Screen Shot 2021-09-11 at 1 38 34 PM" src="https://user-images.githubusercontent.com/37123616/132956577-91879650-72e3-4

[2021-09-11 18:12] sonichi commented on #201
my prophet and matplotlib version:
prophet                           1.0.1
matplotlib                        3.2.0

[2021-09-12 04:19] #200 closed

[2021-09-12 13:10] JosephKarpinski commented on #201
My versions are similar.
Unable to upgrade to prophet 1.0.1 with Python 3.8.5
<img width="1288" alt="Screen Shot 2021-09-12 at 9 00 26 AM" src="https://user-images.githubusercontent.com/37123616/132988699-5149dd4f-d882-48c8-951e-b9b32ce20fed.png">
<img width="1288" alt="Screen Shot 2021-09-12 at 9 03 47 AM" src="https://user-images.githubusercontent.com/37123616/132988706-a9e8dfae-3de9-4287-baef-3

[2021-09-12 13:15] JosephKarpinski commented on #201
Of course now the issue has cleared.
Guessing running the setup for one of the other example fixed the issue.
Closing

<img width="1311" alt="Screen Shot 2021-09-12 at 9 09 51 AM" src="https://user-images.githubusercontent.com/37123616/132988956-8eee79bd-61e3-4c64-b8e4-678ff69c52bd.png">

<img width="1288" alt="Screen Shot 2021-09-12 at 9 09 17 AM" src="https://user-images.githubusercontent.com/37

[2021-09-12 13:15] #201 closed

[2021-09-12 14:39] #163 closed

[2021-09-13 18:42] flippercy opened #203 "Could we pass an argument for folds to automl.fit()?"
Hi @sonichi:

Is it possible to enable users to use a list of pre-defined CV folds (as most ML algorithms do) for automl.fit(), please? This feature is crucial when users want to create an ensemble with models returned by FLAML and models from other resources using cross-validation predictions directly.

 Thank you.

[2021-09-13 20:45] sonichi commented on #203
What about taking the best model from automl after automl.fit(), and then using that model `automl.model` to build ensemble?

[2021-09-13 21:15] flippercy commented on #203
Hi @sonichi:

Thank you for the reply.

On the one hand, with your advice above, will I be able to add models built by algorithms not compatible with sklearn API, such as splitGLM (https://github.com/cran/SplitGLM), which is even not available in python so far, to the ensemble?

On the other hand, I think the CV folds are assigned randomly during the search by FLAML (correct me if I am wrong); as

[2021-09-13 21:22] sonichi commented on #203
Could you let me know how you build the ensemble without FLAML? I do not fully understand the questions. If you can already build the ensemble without FLAML, the only change with FLAML is you can use the best model found by FLAML to replace your original untuned model.

[2021-09-13 21:31] flippercy commented on #203
Hi @sonichi:

Sorry for the confusion.

To build an ensemble without FLAML, we usually create a bunch of cross-validated base learners first and then use the cross-validation prediction of each base learner as the training dataset for the meta learner. To do that, we also have to use the same pre-defined CV folds for all the base learners so that their cross validation predictions can be combined.

[2021-09-13 22:52] sonichi commented on #203
Yes. First, run flaml as usual. Second, use the best model(s) from flaml as the base learner(s), and start building your ensemble. Basically, take the model(s) from flaml as your start point of base learners.

[2021-09-13 22:55] flippercy commented on #203
How about cross validation predictions? Are they part of the FLAML output or do I have to calculate them separately?

[2021-09-13 23:53] sonichi commented on #203
The same way as you get cross validation predictions today for your base learners when not using flaml.

[2021-09-14 18:40] Sandy4321 opened #204 "can it be used for for multi variate time series"
can it be used for for multi variate time series
for both categorical and continues features ?
pip install flaml[forecast]

[2021-09-14 18:43] flippercy commented on #203
Close it for now; will check whether it works with the current pipeline for stacked ensemble.

Thank you.

[2021-09-14 18:43] #203 closed

[2021-09-14 18:53] sonichi commented on #204
Not as of now. @int-chaos Could you follow up with @Sandy4321 on this issue?

[2021-09-14 18:53] flippercy opened #205 "'SearchState' object has no attribute 'trained_estimator'"
Hi @sonichi:

When running the latest version of FLAML (0.6.2) on an azure VM via reticulate, I got the following error:

AttributeError: 'SearchState' object has no attribute 'trained_estimator'

As a result, automl.best_model_for_estimator('MonoLightGBM') returned an empty object.

However, this learner has been searched thoroughly by FLAML:

199

Any idea on why I got this error? It did not hap

[2021-09-14 18:56] sonichi commented on #205
Please pass "keep_search_state=True" to AutoML.fit()? Otherwise, the big objects in search states are cleared after fit finished for saving memory.

[2021-09-14 18:58] flippercy commented on #205
Got it. Thank you!

[2021-09-14 18:58] #205 closed

[2021-09-14 20:20] flippercy opened #206 "How to specify lrl1 as the final estimator for the ensemble?"
Hi @sonichi:

I am wondering how to use lrl1 as the final estimator for the ensemble.  The codes below do not work.

"ensemble": {"final_estimator": 'lrl1',
                "passthrough": False,}

Thank you.

[2021-09-14 20:26] sonichi commented on #206
`"final_estimator": 'lrl1',`
->
`"final_estimator": LRL1Classifier(**params),`

[2021-09-14 20:26] #206 closed

[2021-09-14 21:01] int-chaos commented on #204
Currently, FLAML only supports single time-dependent variable for time series forecasting, as the learners only support univariate time series and do not take in exogenous regressors.

[2021-09-15 17:44] msh855 commented on #204
I have a similar question. Not sure I understand how FLAM understand that the objected passed to the main function uses time series? For example, cross-validation or other tuning processes for time series works differently.

[2021-09-15 19:16] #169 closed

[2021-09-15 20:39] sonichi commented on #204
@Sandy4321 BTW, is there an existing learner you use for multi variate time series? flaml supports tuning custom learners.

[2021-09-16 23:13] int-chaos commented on #204
At the moment, we will be improving time series forecasting to support continuous features. In regards to categorical features, we ask that users treat it as hierarchical time series forecasting, where the original dataset will be split based on desired categories and treat each as a different forecasting problem.

[2021-09-17 03:46] Oath4Love opened #212 "why the condition is 'resoure * self.resource_multiple_factor > self.max_resource' in _round method?"
In flow2.py file, I confuse that why the condition is 'resoure * self.resource_multiple_factor > self.max_resource'
[code]

[2021-09-17 17:47] qingyun-wu commented on #212
Hi @Oath4Love, thank you for your question. This is a heuristic to ensure we do not have a rung of resource that is too close (which intuitively unnecessary) to max_resource. For example, say the max_resource is 450, min_resource is 100, and the multiple factor is 2, with this heuristic, we will have resource rung 100, 200, 450 instead of 100, 200, 400, 450.

[2021-09-19 06:37] reshalfahsi opened #214 "A Curious Question about Prediction Quality"
Hi there,

Is it possible to obtain prediction quality? Is there any computation under the hood inside this package to find the conformal prediction? If there weren't any could you please add it as the feature request?

[2021-09-20 17:03] sonichi commented on #214
I'm making it a feature request. What package do you use today to get prediction quality for models like lightgbm or random forest?

[2021-09-21 00:35] sonichi commented on #172
@stepthom Any update?

[2021-09-21 04:38] reshalfahsi commented on #214
Have you heard about `nonconformist` package? I currently use that one.

[2021-09-21 04:53] sonichi commented on #214
It seems that you can first run flaml to do hyperparameter tuning and model selection, and then pass `flaml.model` to the package. Give that a try?

[2021-09-21 05:51] reshalfahsi commented on #214
I haven't but maybe I will give it a try.

[2021-09-21 06:15] reshalfahsi commented on #214
Hi @sonichi,

It seems the `nonconformist` package requires the user to train alongside the wrapper from the package. You have to wrap the model and do the magic. But I recommend that you should implement the algorithm by yourself because when I apply XGBoost model I have to tweak the package a little bit.

[2021-09-21 15:07] hguidara opened #218 "Setting custom metric raises error in AutoML.fit"
I tried using a custom metric function as argument to AutoML.fit but it raises errors.
I made sure to follow the required function signature as mentionned in the documentation :

This is the code I am using :

[code]
As you can see, the _custom_metric_foo_ function I am using is very basic for testing purpose.

And this is the error I get:

N.B: When I set the "metric" argument to any predefined m

[2021-09-21 15:24] sonichi commented on #214
Yes it uses a wrapper. I was thinking that you could take the tuned model from flaml, wrap it with the package and retrain. Is there any issue with this approach? What tweak is required for XGBoost?

[2021-09-21 15:58] sonichi commented on #218
@hguidara Thanks for catching this. As a workaround, you can return a dict for metrics_to_log. It would be even better if you could make a PR and handle the case when metrics_to_log is not a dict in _eval_estimator() of ml.py.

[2021-09-23 12:31] zuoxiaojiang commented on #195
Thank you for your&nbsp;reply:&nbsp;

Sorry to reply your email such late, for I'm busy with another work.&nbsp;&nbsp;

I have tried to make a similar result between flaml and ray.tune, as you recommended. But actually, I still can't succeed, my codes are here, and I&nbsp;

need your help to review them in your free time.

This is the code using flaml.tune
from flaml import tune
import numpy as np

[2021-09-23 17:49] #218 closed

[2021-09-24 04:02] Jie-Yuan opened #221 "log error?"
roc_auc???
![image](https://user-images.githubusercontent.com/20265321/134616276-266ad3a6-a283-4a8e-b28e-2ca1cbd2c285.png)

[2021-09-24 05:04] qingyun-wu commented on #221
Hi @Jie-Yuan, be noted that the log is showing the error (or loss). When your metric is `roc_auc`, the error value is `1 - roc_auc`.  From your log attached, it seems the `roc_auc` score is 1.0, implying a perfect learner. Although not impossible, it is indeed rare. Can you please provide more information about your task or what exactly is your concern?

Thank you!

[2021-09-24 12:44] itabhiyanta opened #222 "problems setting up a custom metric"
HI I am trying to setup a  custom metric but I keep getting an error about the custom metric having more arguments than what it should have
`TypeError: custom_metric() takes 5 positional arguments but 11 were given`

My code looks like this

[code]

I am wondering what am I doing wrong. Can you please suggest?
with kind regards
Rohit

[2021-09-24 14:49] angela97lin opened #223 "Kernel panic / Segmentation fault when trying to run example"
Hi! I tried to install and run a simple example, but ran into a `Segmentation Fault: 11` error when using Python 3.9.6:

[code]

Running this in both my Jupyter notebook and via bash gives me:

[code]

[2021-09-24 15:10] angela97lin commented on #223
I also tried this with 3.7.9, and got the same error. Here are my packages:
[code]

These packages were installed in a fresh virtualenv, with only `pip install flaml` and `pip install flaml[notebook]` ran.

[2021-09-24 15:37] sonichi commented on #223
In your code snippet, `X, y` looks undefined. I modified your code as the following and it works for me.
[code]

[2021-09-24 15:48] angela97lin commented on #223
@sonichi My bad, that was a copy-and-paste error. Even with X and y properly defined, the code segfaults!

[2021-09-24 15:59] sonichi commented on #223
Yes, it works for me in a fresh conda environment of Python 3.7.9 and `pip install flaml`. The packages installed are:
Package           Version
----------------- ---------
astroid           2.3.3
backcall          0.2.0
catboost          0.26.1
certifi           2021.5.30
colorama          0.4.3
cycler            0.10.0
decorator         4.4.2
FLAML             0.6.4
graphviz          0.17
ipyker

[2021-09-24 16:00] angela97lin commented on #223
Not sure if this makes a difference, but I'm not using conda! 🤔

[2021-09-24 16:21] sonichi commented on #223
I tried venv with Python 3.7.5 and it works too. I ran `pip install -U pip` before `pip install flaml` because the default pip version is too low in the venv. Packages:
Package         Version
--------------- -------
catboost        0.26.1
cycler          0.10.0
FLAML           0.6.4
graphviz        0.17
joblib          1.0.1
kiwisolver      1.3.2
lightgbm        3.2.1
matplotlib      3.4.3
numpy

[2021-09-24 17:09] qingyun-wu commented on #222
Hi @itabhiyanta,

Thank you for your question. When defining the custom metric, you need to manually configure the 11 arguments (even if you are not using them) required. For the ones you are not using, you can set the value to None. Please find a reference in this example: https://github.com/microsoft/FLAML/blob/16a97bec76ba101d62b1eb05484b20cc7c271e1c/test/test_automl.py#L128

[2021-09-24 17:28] angela97lin commented on #223
I tried again with a new environment, but still no luck. Here are the exact commands I ran:

[code]

Dependencies look like:
[code]

Currently using pip 21.2.4.

Could this be related to OS? I'm using macOS Big Sur, version 11.5.2. 🤔

[2021-09-24 17:55] qingyun-wu commented on #223
Hi @angela97lin, I wonder is your Mac computer with Intel chip or Apple M1? Thank you!

[2021-09-24 17:56] yue-msr commented on #223
Hi, I tried 3.7.9 and 3.9.6 in Windows. They both worked fine.

[2021-09-24 18:55] angela97lin commented on #223
I have an Intel chip: `2.3 GHz 8-Core Intel Core i9`

[2021-09-25 00:12] ekzhu commented on #223
Hi I tried Python 3.8.6 on a duo-core intel core i7, MacOS Big Sur. It works fine for me.

[2021-09-25 00:18] sonichi commented on #223
@angela97lin Could you try `pip install --no-cache-dir flaml`? Maybe some package is corrupted in the cache.

[2021-09-26 02:06] qingyun-wu commented on #195
Hi @zuoxiaojiang, what is the ray tune version you are using?

[2021-09-26 04:07] zuoxiaojiang commented on #195
Thank you for the reply. Im using the version of ray.tune 1.5.1&nbsp;

If convenient, can we discuss in WeChat, my WeChat account is ZXJ-5599.&nbsp;

Thank you.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/FLAML"

[2021-09-26 04:30] qingyun-wu commented on #195
Hi @zuoxiaojiang,

Thank you for providing the information. The required version is [`ray[tune]==1.6.0`](https://github.com/microsoft/FLAML/blob/main/setup.py#L63). In addition, can you please add the step for setting up the searcher before calling flaml.tune (as attached below)?  Let me know if you still get different results.

And just F.Y.I., we added a consistency test in this file: https://gi

[2021-09-26 07:25] zuoxiaojiang commented on #195
Thank you for your reply and the case about consistence test, I will try it in some days.

As the case shows, is the "low_cost_partial_config" must be specified, what if unknown?

[2021-09-26 13:21] qingyun-wu commented on #223
Hi @angela97lin, I tried Python 3.8.5 and Python 3.7.5 with MacOS Big Sur and Intel chip. Both work fine for me. Can you try re-installing with the `--no-cache-dir` option as suggested by sonichi?

[2021-09-27 00:52] dtquandt opened #226 "Group k-fold cross validation does not appear to be working for classification"
Hi! I made a request to include Group K-fold cross validation a few months ago and it worked great then, but now I'm having some trouble with the feature. I'm not sure if it was an API change or if I'm doing something wrong, but I pass in the groups (as strings) using the `groups` argument when fitting an autoML object but it does not appear to be having an effect.

[code]

I tried setting the spl

[2021-09-27 01:05] sonichi commented on #226
Thanks. We'll fix it. Would you mind sharing what application you use flaml for? Feel free to chat on [gitter](https://gitter.im/FLAMLer/community).

[2021-09-27 01:05] dtquandt commented on #226
As far as I can tell - though admittedly I've only superficially tested this - simply changing line 1021 in automl.py to
`assert split_type in [None, "stratified", "uniform", "time", "group"]`
and specifying the 'group' split_type when fitting fixes this issue and works as intended. I don't know if this feature was disabled for a specific reason or if it breaks something somewhere else, but it see

[2021-09-27 07:18] itabhiyanta commented on #222
Hi @qingyun-wu

I tried according to the example but I got this error now.

-------------------------
[code]

------------------------------------------------------------------------------------

I modified my code like this

`def custom_metric(X_test, y_test, estimator, labels, X_train, y_train, weight_test=None, weight_train=None,
                      config=None, groups_test=None, groups_train

[2021-09-27 15:11] angela97lin commented on #223
Thanks for all of the replies! I've tried with `pip install --no-cache-dir flaml`, but still no luck.

I noticed that it usually segfaults during lightgbm / xgboost. When I update my code to:

[code]

Everything runs to completion!

[2021-09-27 15:45] sonichi commented on #223
Do lightgbm and xgboost work on your machine without flaml?

[2021-09-27 17:28] angela97lin commented on #223
Yup, they do.

Not sure if this is helpful, but everything works fine in a virtual environment that I use day-to-day for development. This virtual environment has many more packages installed, listed below. I only run into this issue when I try to create a new virtual environment.

Packages in virtual environment that does not cause FLAML to segfault:

[code]

[2021-09-27 18:31] sonichi commented on #223
The lightgbm version in this working env is 3.0.0. The failing env has version 3.2.1. Could that be the cause?

[2021-09-27 19:11] sonichi commented on #222
@itabhiyanta could you try version 0.6.5? If you don't need to log any additional metric, simply
`return mape_error, {}` in your custom metric function.

[2021-09-28 13:40] qingyun-wu commented on #195
Hi @zuoxiaojiang,

About `low_cost_partial_config`:

- Definition and purpose: The `low_cost_partial_config ` is a dictionary of subset of the hyperparameter coordinates whose value corresponds to a configuration with known low-cost (i.e., low computation cost for training the corresponding model).  The concept of low/high-cost is meaningful in the case where a subset of the hyperparameters to tun

[2021-09-28 13:52] qingyun-wu commented on #110
Hi @jezerro,

Please find a brief explanation about it on this wiki page: [About low_cost_partial_config ](https://github.com/microsoft/FLAML/wiki/About-%60low_cost_partial_config%60). Please let us know if it is still not clear to you. Thank you!

[2021-09-28 19:47] angela97lin commented on #223
Still no luck 😬
[code]

[2021-09-28 23:28] sonichi commented on #223
We can add some debugging info to the output and then you can run it and confirm whether the error happens right before lightgbm training. Would you like to do that?

[2021-09-30 13:38] stepthom commented on #172
@sonichi I am working on this now, and will have something to post by the end of the week.

[2021-10-01 06:13] angela97lin commented on #223
Sure! If this is helpful, installing FLAML in an editable mode and setting a breakpoint shows:

[code]

Stepping through, it seg faults when running `compute_estimator` in `_compute_with_config_base`.

[2021-10-01 10:09] knoam opened #236 "Reproducibility of Estimators"
Is there a way to pass parameters to the estimators to make them reproducible? For example, LightGBM's `seed` and `deterministic` arguments?

[2021-10-01 13:51] stepthom commented on #172
Here are some initial results. You can find my code and results here: https://github.com/stepthom/vaccine.

I'm coping the contents of the README.md file here for convenience:

# Early stopping experiment on vaccine dataset
Experiment to test early stopping during hyperparameter tuning of LGBM in FLAML.  See related discussion in https://github.com/microsoft/FLAML/issues/172.

# Experiment Setup

[2021-10-01 16:02] sonichi commented on #223
I added the debugging mode in the branch `msg`. If you install that branch of FLAML with `-e`, you can pass `verbose=4` to `AutoML.fit()` and see debugging info. If you see
[code]
before the seg fault, then the lgbm fit succeeds. If you only see the first msg but not the second one, then the seg fault happens during fit.

[2021-10-01 16:40] sonichi commented on #172
Thanks for the initial results! Quick comment:
[code]
can be simplified to `low_cost_partial_config={'num_leaves': 4}`, which might give you better results.

[2021-10-01 23:57] sonichi commented on #236
You can add a custom learner class by inheriting `flaml.model.LGBMEstimator` and set these parameters in `self.params` in its constructor.

[2021-10-02 08:38] lokijota opened #237 "Documentation question -- example for warm-start?"
Hi,

the docs for the latest version say this:

*"support warm-start in AutoML.fit() by using previously found start points."*

I found the notebook with the warm-start sample (`flaml_automl.ipynb`), but this seems to be more of specifying boundaries on a previously executed search (plus the code is complex), not a "search for 2 hours more" kind feature.

Is there documentation on warm-start in ad

[2021-10-02 12:35] sonichi commented on #237
Thanks for the question. We'll add more documentation about it. For warm-start the `AutoML.fit()`, please see one example below.
https://github.com/microsoft/FLAML/blob/a99e939404caeda88f32724cc264841f2f5dcfca/test/test_automl.py#L819-L846
For warm-start `tune.run`, please see one example below.
https://github.com/microsoft/FLAML/blob/a99e939404caeda88f32724cc264841f2f5dcfca/test/tune/test_tune.py

[2021-10-02 14:28] wuchihsu opened #238 "Set splitter for cross-validation"
Is it possible to set a splitter or a iterable when fitting?

[2021-10-02 18:47] sonichi commented on #238
Currently, the splitter is decided by the `split_type`:
https://github.com/microsoft/FLAML/blob/a99e939404caeda88f32724cc264841f2f5dcfca/flaml/automl.py#L812-L853
Is your use case beyond one of them?

[2021-10-04 04:01] wuchihsu commented on #238
Yes, my case is beyond them. I want to set a customized splitter. Just like the parameter 'cv' in sklearn.model_selection.RandomizedSearchCV.

[2021-10-04 05:04] sonichi commented on #238
Not supported currently. Would you like to work on adding that feature?

[2021-10-05 17:27] cdeil opened #242 "load_boston is deprecated?"
Change example in README?
[code]

[2021-10-05 17:31] cdeil opened #243 "Hang or segfault with Python 3.9 MacOS conda"
I'm using this:
[code]
and
[code]

and then trying to execute the hello-word regression example in the README I get a hang from JupyterLab or a segfault from ipython:

[code]

I didn't try to debug this or other versions, it worked a month ago on Mac on Python 3.8.

Maybe you could extend your CI to also test with conda and try to reproduce / fix the issue?

[2021-10-05 19:44] sonichi commented on #243
Could you follow https://github.com/microsoft/FLAML/issues/223#issuecomment-932356442?
We haven't been able to reproduce the problem but this debugging mode should help identifying the cause.

[2021-10-05 20:00] cdeil commented on #243
Maybe you'll see the error if you add a MacOS conda build using the env I gave above to your CI?

[2021-10-06 04:15] wuchihsu commented on #238
OK, I would give it a try.

[2021-10-08 23:09] #223 closed

[2021-10-08 23:09] #242 closed

[2021-10-09 01:07] sonichi commented on #194
@MichalChromcak and @qingyun-wu v0.6.6 is published to PyPI with the CD github actions. Thanks @MichalChromcak again for recommending it.
Request for @MichalChromcak could you try the conda package build again?
Request for @qingyun-wu could you make the PR in the automlbenchmark?

[2021-10-09 01:15] #193 closed

[2021-10-09 01:16] sonichi commented on #195
@qingyun-wu and @zuoxiaojiang is this issue resolved?

[2021-10-09 13:06] sonichi commented on #223
@angela97lin In #243 another user reported a similar issue in MacOS and confirmed that lgbm's fit() fails without flaml. Could you test lightgbm in your env without flaml too?

[2021-10-09 13:27] cdeil commented on #243
Reported here: https://github.com/microsoft/LightGBM/issues/4666

[2021-10-09 13:27] #243 closed

[2021-10-10 08:12] zuoxiaojiang commented on #195
Hi @qingyun-wu, today I try the code for testing consistency which you provided, and finally get a correct and same results. Thank you for your patiente help.

I found my code use the library which is `from flaml import CFO`, while you use the `from flaml.searcher.blendsearch import CFO`. I think this is the course for difference.

[2021-10-10 14:48] qingyun-wu commented on #195
Great! Thanks for the follow-up. I will close this issue if you don't have further questions.

[2021-10-10 14:48] #195 closed

[2021-10-11 05:30] sonichi commented on #194
@MichalChromcak please wait for v0.6.7 as I am adding pandas into `install_requires` in #244

[2021-10-11 05:36] #199 closed

[2021-10-11 06:40] sonichi commented on #194
@MichalChromcak v0.6.7 is released.

[2021-10-11 13:02] off99555 opened #246 "How to interpret model performance?"
Is it possible for me to visualize feature importance or SHAP values or anything like that to explain the model's reasoning?
If possible, which library/framework should I use?

[2021-10-11 15:32] sonichi commented on #246
feature importance and SHAP values: #193
SHAP values are not built-in. But it's frequently asked (also in #220). Suggestions/contributions are welcome.
[optimization history](https://render.githubusercontent.com/view/ipynb?color_mode=auto&commit=ddc1a63a764d546e902acd3599c2de387ab2673e&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6d6963726f736f66742f464c414d4c2f64646

[2021-10-12 14:57] sonichi opened #249 "Using BlendSearch with ray"
### Discussed in https://github.com/microsoft/FLAML/discussions/248

<div type='discussions-op-text'>

<sup>Originally posted by **jw00000** October 11, 2021</sup>
I'm trying to try use ray during fit, and I'm not sure why the below trivial example fails. This same example succeeds if I omit the n_concurrent_trials=10 arg. Seems like without this arg the search is done with CFO sequentially (inste

[2021-10-14 11:37] camer314 opened #252 "Feature request: Allow for optional inclusion of catboost, lgbm and xgboost"
These packages incur massive additional cost to size required by FLAML when used in a docker image (seems like installing FLAML adds ~1Gb to image).

It would be awesome if it was possible to remove dependencies on libraries which will not be used at runtime. For example, we are unlikely to be using xgboost or catboost or possible not even using LGBM as we have mostly our own estimators so would l

[2021-10-14 22:25] sonichi commented on #194
@MichalChromcak To confirm, if the package version in `install_requires` changes, we need to update in the conda recipe *before we publish the pypi package*, right? Otherwise the automerge will publish a conda package with wrong dependencies and I suppose there is no way to revert it.

[2021-10-14 22:35] MichalChromcak commented on #194
@sonichi One can make a manual second build with updated recipe. It might take some time (to 1 hour?) until conda install would prefer the new build for the same version…(see the two builds on the anaconda.org as an example)

[2021-10-16 04:36] #249 closed

[2021-10-16 04:36] #252 closed

[2021-10-16 15:20] #212 closed

[2021-10-19 01:18] qingyun-wu commented on #237
Hi @lokijota,

Thank you for your question. I created a PR for the documentation of warm-start related arguments (`starting_points` for `AutoML.fit()` and `evaluated_rewards` for  `tune.run()`), where you can find simple code examples (basically the ones mentioned by @sonichi) and you also can find a brief explanation for those args.

Please let me know if your question is resolved or not. Thank y

[2021-10-19 10:55] knoam commented on #236
Thanks @sonichi. In your opinion, would using the same random seed for LightGBM during training impact generalization? One could also increment the random seed at each call, something like this:

[code]

[2021-10-19 13:32] konabuta opened #256 "AutoML classification on Ray failed with error"
HI I'm trying to run AutoML Classification on Ray, but failed with the following error.

[code]

This problem seems to happen on only classification task. Code is very simple.

[code]

[2021-10-19 18:52] #256 closed, assigned to nobody

[2021-10-19 20:39] #237 closed

[2021-10-19 21:02] knoam opened #258 "Feature Selection by FLAML?"
Could you also use FLAML to select an optimal subset of features, perhaps using fewer features at first, then increasing, similar to how model complexity increases during training?

[2021-10-20 03:27] dyq0811 commented on #193
How to get corresponding feature names for these importance values?

[2021-10-20 16:35] jw00000 commented on #258
From what I gleaned from playing with autosklearn, their approach was to build their search space to search for the best 'pipeline' where a pipeline included some preprocessing steps as well as the estimator. So included in the search space were hyperparameters defining choices about which preprocessing components to use and with what hyperparameters. Among the choices of preprocessing steps were

[2021-10-21 01:06] qingyun-wu commented on #258
Hi @jw00000, thank you for sharing your experience with autosklearn and suggestions. Including the preprocessing component into the search space (as a hyperparameter with categorical choices) is a very reasonable approach, especially when the number of preprocessing choices is not that large, e.,g., it should be still practical when the number is less than 5.  Regarding the impact on model quality

[2021-10-21 17:49] angela97lin commented on #223
@sonichi Got it. FWIW, we make our conda package with catboost as a dependency via conda-forge: https://anaconda.org/conda-forge/catboost, could be interesting to look into?

Closing this issue though since the original issue is resolved. Thanks again!

[2021-10-22 02:17] leelew opened #259 "TypeError: Object of type float32 is not JSON serializable"
Hi, I'm trying to test AutoML regression but I keep getting the error `TypeError: Object of type float32 is not JSON serializable`. Maybe should add `np.float()` to change it to float64?

Can you give some suggest?
Lu Li

![1634868501(1)](https://user-images.githubusercontent.com/46986798/138381978-985d749b-8513-410a-af89-34473287eb5f.png)
![1634868513(1)](https://user-images.githubusercontent.com

[2021-10-22 03:40] sonichi commented on #194
@MichalChromcak FYI https://github.com/microsoft/FLAML/issues/223#issuecomment-948863047. There seems to be a conda package of catboost, though I've no idea how to leverage it.

[2021-10-31 14:14] keremtatlici opened #265 "How to save model to disk for future using"
[code]

I trained lgbm model like this but i want to save it to drive for future using. How can i do that ?

[2021-10-31 22:31] qingyun-wu commented on #265
Hi @keremtatlici, you can just use pickle to dump the automl object and load it when you want to use it. You can find an example in this [notebook](https://github.com/microsoft/FLAML/blob/main/notebook/flaml_automl.ipynb) (In [7]). Let me know if your question is not resolved. Thank you!

[2021-10-31 22:34] qingyun-wu commented on #221
Hi @Jie-Yuan, I am closing this issue as I didn't hear from you for over a month. Please feel free to re-open it if you have further questions. Thank you!

[2021-10-31 22:34] #221 closed

[2021-10-31 23:03] keremtatlici commented on #265
Thanks, it worked !

[2021-10-31 23:04] #265 closed

[2021-11-03 13:25] knoam commented on #236
Thanks for your response. One issue with the solution above is that the number of iterations can change from run to run, so reproducibility is not guaranteed.

[2021-11-04 08:25] MichalChromcak commented on #194
@sonichi sorry, wasn't around for a while.

The `catboost `- if I remember it well the problem was with other libraries, that would need to be added - like `graphviz`. For some reason, it seems, that the `conda install <package_name>` work as expected, but following `pip check` command is sometimes missing already existing installation. The `pip check` is no longer there, so maybe it would work no

[2021-11-04 10:01] MichalChromcak commented on #194
@sonichi there already is `sklearn >=0.24` in the recipe. The following now is the minimal configuration of the conda environment if created as is. Any update needed?

[code]
[code]
[code]

[2021-11-04 14:21] sonichi commented on #194
@MichalChromcak that looks good to me. Thanks for double checking.
@qingyun-wu @fleuryc @cdeil @angela97lin Could you test the new conda package, especially on macos? We can close this issue if it works.
@cdeil you had a good suggestion about adding conda package test into the CI. Would you like to create a PR or an issue for it?

[2021-11-04 14:45] cdeil commented on #194
To be realistic, no, I don't have any spare time, sorry.

[2021-11-04 14:50] sonichi commented on #204
@Sandy4321 v0.7.0 supports use case 1. Could you try it and let us know how it works?

[2021-11-04 14:56] sonichi commented on #236
@knoam Could you share more about your use case? Depending on your goal, it may be ok to use a fixed random seed.

[2021-11-04 18:47] knoam commented on #236
@sonichi I work in a regulated industry where everything has to be reproducible for verification purposes. This includes hyperparameter tuning. So if an auditor were to repeat the tuning, they would need to be able to arrive at the same hyperparameters.

[2021-11-04 22:04] sonichi commented on #236
@knoam In that case I would suggest using a fixed random seed. That is already the case by default. In addition, you can set time_budget=None and max_iter to be a constant number. Then you are supposed to get the same result every time when tuning lightgbm on the same dataset. If that's not the case, please let us know.

[2021-11-06 00:19] sonichi commented on #172
@stepthom I tried adding early_stopping_rounds in the search space. The results are not conclusive. In some cases the results are better, and in other cases they are worse. My change is in the `early_stop` branch. If you'd like to improve it, I can help with benchmarking.
If you are satisfied with using the tune api for lgbm with early stopping, then we can close this issue.

[2021-11-08 14:28] miquelduranfrigola opened #277 "Is multi-tasking allowed?"
Hi!

Many thanks for a very useful tool. I wonder if multi-output regression (multi-tasking) is allowed with FLAML. I know that, at least, CatBoost does allow for this option.

Many thanks in advance!
M

[2021-11-08 16:01] sonichi commented on #277
@miquelduranfrigola If you already know how to use flaml for single-output regression, I sketched a way to use it for multi-output regression in #192. I haven't tried it myself.
BTW, how many outputs do you need to fit simultaneously?

[2021-11-08 17:42] flippercy opened #278 "A new error when fitting automl with X_val and y_val specified: 'TypeError: transform() takes 2 positional arguments but 3 were given'"
Hi FLAML team:

After upgrading the FLAML to the latest version, there is an error when I ran automl.fit() with X_val and y_val specified. Using your notebook on automl as an example:

from flaml.data import load_openml_dataset
X_train, X_test, y_train, y_test = load_openml_dataset(dataset_id=1169, data_dir='./')

from flaml import AutoML
automl = AutoML()

settings = {
    "time_budget": 240,  #

[2021-11-08 19:15] sonichi commented on #278
@flippercy Could you show me the trace of error? Thanks.

[2021-11-08 19:51] flippercy commented on #278
Here you go.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/tmp/ipykernel_4757/550052602.py in <module>
----> 1 automl.fit(X_train=X_train, y_train=y_train, X_val=X_test, y_val=y_test, **settings)

~/.local/lib/python3.7/site-packages/flaml/automl.py in fit(self, X_train, y_train, dataframe,

[2021-11-08 19:55] sonichi commented on #278
Thanks. This problem has been fixed by #274
You can either wait for the release of v0.7.1 or clone the latest version and do "pip install -e".

[2021-11-08 20:21] miquelduranfrigola commented on #277
Thanks @sonichi! I typically fit 10-20 outputs, which means that the solution provided in #192 may be a bit slow, since at the end of the day multiple single-output regressors will have to be fit. But it will work for now! I will try it and let you know if I find any problem.

[2021-11-08 20:51] sonichi commented on #277
@slhuang Please take a look at this use case. I think it's another motivating example.

[2021-11-08 22:03] sonichi commented on #278
Update: v0.7.1 is released.

[2021-11-09 20:36] stepthom commented on #172
@sonichi. Very interesting. Thanks for looking into it. We can close the issue; I am happy with using tune api directly for now. I will continue to do research some research as to how/why/when early_stopping would work and when it wouldn't. Out of curiosity, does FLAML have any "benchmark" datasets and results to which we can compare results to know if a given approach is beneficial?

[2021-11-10 06:50] sonichi commented on #172
@stepthom Thanks. Yes, there is an [automlbenchmark](https://github.com/openml/automlbenchmark) based on which we can evaluate each new version and compare with the released version. Looking forward to your research and improvement of the library.

[2021-11-10 15:02] #278 closed

[2021-11-12 01:02] Shao-kun-Zhang commented on #194
@MichalChromcak @sonichi Can I help maintain the conda package? I am very happy to do this.

[2021-11-12 07:10] MichalChromcak commented on #194
@sonichi such test might be added to the test section of the conda package creation if you want - replacing just import check with something more detailed. Is there already some code, which should be executed to check for correctness?

@Shao-kun-Zhang from my end - sure, happy to have more people on board.

[2021-11-12 11:02] Shao-kun-Zhang commented on #194
@MichalChromcak ok, If there is anything I can help with, please tell me!

[2021-11-12 16:26] sonichi commented on #194
@MichalChromcak what about adding the test for the example code in the main post?
Change "test/iris.log" into "iris.log".
@Shao-kun-Zhang Thanks for helping!

[2021-11-12 16:55] MichalChromcak commented on #194
@sonichi Yes I can do that :)

[2021-11-12 18:03] #172 closed

[2021-11-16 12:13] MichalChromcak commented on #194
@sonichi, @Shao-kun-Zhang
I added the test in this [PR](https://github.com/conda-forge/flaml-feedstock/pull/5).

There were few architectural decisions made, let me comment on them...

I decided to keep the test within the `flaml-feedstock` repository, as it provides more control over

- the environment (no need to install all the dependencies)
- test duration
- test definition itself

On the othe

[2021-11-16 16:24] sonichi commented on #194
Thank you! It looks good.

I like option 2. We can put the test file you need in test/conda/.

[2021-11-17 15:19] hadisotudeh opened #284 "datetime feature engineering issues"
Hi,

Below, you can see the error I face:

[code]

It seems the datetime features are not created for the validation set. I assumed using best.predict_proba will apply the same pipeline to the validation set, which was fitted with the training set.

Any idea?

[2021-11-17 16:32] sonichi commented on #284
@hadisotudeh I've found a possible root cause and I'm working on a fix. It'll be helpful if you could provide a simple test example that reproduces this error.

[2021-11-17 16:45] hadisotudeh commented on #284
I can share the google colab notebook link if you provide your email address, but I can't put it here for the public :)

[2021-11-17 18:13] sonichi commented on #284
@hadisotudeh I just sent an empty private notebook to you and transferred the ownership to you: https://colab.research.google.com/drive/1KfYI3oSPAz6E3IlXZyhytHhDe47dvNwa?usp=sharing

[2021-11-17 18:37] hadisotudeh commented on #284
Thanks, I put the code there. If you select "Run all". You can see where the expectation appears. I think I also found another issue with fast automl model.fit() gets out of memory and crashes while I set the memory threshold below the maximum available. You can also see that issue, too.

[2021-11-18 04:04] sonichi commented on #284
@hadisotudeh #285 fixes the error.
While xgboost fails in the colab notebook, it succeeded with larger RAM size.
flaml is capable of handling datasets with more than 10 million rows, as long as the estimators in the estimator_list do not fail.

[2021-11-18 08:01] hadisotudeh commented on #284
Great news.
Should I update the package with "pip install" or just use the changes you made to the code?

[2021-11-18 08:32] sonichi commented on #284
The pypi package has not been released yet. You can clone the "issue284" branch and do `pip install -e.` to install the cloned version to test it.

[2021-11-18 19:19] #284 closed

[2021-11-18 22:05] sonichi opened #290 "TransformerEstimator lacks predict_proba() method"
predict_proba() method is needed when the task type is classification, for example, seq-classification.

[2021-11-18 22:13] sonichi opened #291 "TransformerEstimator's classes_ property"
The BaseEstimator's classes_ property calls self._model.classes_. There is no `_model` in TransformerEstimator, so the `classes_` property will fail.
Requirement: TransformerEstimator.classes_ property works when the task type is classification, for example, seq-classification.

[2021-11-20 12:08] hadisotudeh opened #296 "'NoneType' object has no attribute 'predict_proba'"
Hi,

Today, I faced the following issue:
![image](https://user-images.githubusercontent.com/2101643/142725703-e98a07d3-684b-467a-95b7-c8c22b2db8e8.png)
![image](https://user-images.githubusercontent.com/2101643/142725714-787fd2b4-0385-4147-9ce5-ce609e35768a.png)

I am using "pip install git+https://github.com/microsoft/FLAML.git" to install the library.

P.S. it also did not let me to use catboost

[2021-11-20 14:30] hadisotudeh opened #297 "time series forecasting on data with missing values"
It seems the example provided in the documentation does not support data with some missing values.

I thought the example will handle missing value, but it does not seem so:

![image](https://user-images.githubusercontent.com/2101643/142730042-34c03c2b-b88b-4d0d-bc8a-b0a350618886.png)

[2021-11-20 17:35] sonichi commented on #296
Could you set `verbose` to 3 and see if any model has been trained? The default time budget is 60s and if the preprocessing takes longer than that, no model will be trained. If that's the case, increase the time budget.
To use catboost, install flaml with the option [catboost].
`pip install git+https://github.com/microsoft/FLAML.git#egg=flaml[catboost]`

[2021-11-21 08:11] hadisotudeh commented on #297
I filled in the missing rows/data and still I get the same error. The time column is in '2021-11-06 23:59:00' format and it increases minute by minute.

[2021-11-21 08:23] hadisotudeh commented on #297
Adding this line, fixed the issue

`estimator_list": ["prophet"]
`
It seems the error is because of the other estimators

[2021-11-21 21:47] int-chaos commented on #297
This is because `arima` and `sarimax` do no support missing values, but prophet does.

[code]

I just tested this for arima and sarimax and it works.

[2021-11-21 22:01] sonichi commented on #297
@int-chaos DataTransformer.fit_transform() is supposed to fill the missing values. Is it not doing so for time series data?

[2021-11-21 22:09] int-chaos commented on #297
No it is not. In DataTransformer.fit_transform(), the time stamp column is popped out then after all the necessary transformations inserted back in, so it would not know that it is missing a time series data.

[2021-11-22 07:44] hadisotudeh commented on #297
To clarify, I also filled in the missing values, but only "Prophet" works and others throw the same exception I put here.

[2021-11-22 10:19] hadisotudeh opened #299 "clarification on the usage of custom metric"
Hi,

As mentioned in the documentation, one can set up his/her own custom metric.

I just don't understand why X_test and y_test are inputs of this function. Since the metric is gonna be minimized, should not it be only based on X_train and y_train?

Below, you can see the function I use currently:
[code]

I think the documentation is missing these explanations with an example.

[2021-11-22 14:28] int-chaos commented on #297
@hadisotudeh Does it work after you filled in the missing timestamp? If not, can you please check that you have the latest version of flaml because I know that there was a problem with this in a previous version where the data was shuffled, thus causing the problem. If the problem still exists, would you please send me the dataset and I will test it out on my end.

[2021-11-22 14:59] #277 closed

[2021-11-22 14:59] #296 closed

[2021-11-22 15:03] hadisotudeh commented on #296
That is correct and it seems to be because of "time_budget". Maybe, this point can be added to the documentation.

[2021-11-22 15:11] hadisotudeh commented on #297
@int-chaos, First, I had missing values. I filled it and tried, but it did not work. Later, I found out that my data also has duplicate rows and rows with the same timestamp, but different values for the output column. "prophet" was working without throwing any exception, and ARIMA family libraries threw a vague exception out.

After I also fixed the duplicate issue, the model.fit part worked.
It

[2021-11-22 15:39] int-chaos commented on #297
Yes, duplicate rows will lead to errors for the ARIMA family libraries and I agree with you that the exceptions are unclear.

Thank you for your suggestions on data handling and warnings/exceptions. I will work on implementing those.

To my knowledge, I do not believe there is a built-in functionality in the forecasting models to limit it to only positive predictions. You can check out https://git

[2021-11-22 16:43] qingyun-wu commented on #299
Hi @hadisotudeh,

Thank you for your questions and suggestions. And sorry for the confusion. Although the names of the arguments are X_test and y_test, when this custom_metric is called, you are passing validation data to them, i.e., custom_metric(X_test = X_val, y_test=y_val, …). We are not asking you to provide the actual test data from your task.

The custom function you wrote is returning the

[2021-11-22 18:06] sonichi commented on #297
One way to ensure positive predictions is to log-transform the labels before fit, and exp-transform the predictions afterwards. If the labels are distributed in a wide range this is worth trying.

[2021-11-23 06:17] #299 closed

[2021-11-23 09:03] fengsxy opened #301 "How can i do a muti-output regression task"
when i do a muti-output regression task,it says that
![图片](https://user-images.githubusercontent.com/57928993/142996085-7279dd76-af6c-4535-b44a-f0af11ac782e.png)

but i think the shape is matching.

[2021-11-23 09:09] fengsxy commented on #301
About the reason ,i find that  y will be flattern in this code.But for example ExtraTree are supported for the muti-output regression.
![图片](https://user-images.githubusercontent.com/57928993/142997090-fe767f85-fd54-4910-bd8c-fa6d9f18e5ef.png)

[2021-11-23 09:44] hadisotudeh opened #302 "default values for cv and holdout"
Hi,

In the documentation, it says one can set "eval_method": # validation method can be chosen from ['auto', 'holdout', 'cv']

I think it is not clear what "auto" means.

In addition, if one chooses "holdout" or "cv", what is the default values for "split_ratio" and "n_splits".

It is not clear how the cross-validation is done, is it split randomly or based on the input data order?

[2021-11-23 13:51] knoam opened #303 "Automl Fails to Complete When max_iter Is Specified"
I want to specify max_iter but the automl terminates after a single fit with no best_estimator. Here are my settings:

[code]

And here are the log messages:
[code]

Is max_iter being sent to lgbm? I only want to limit the number of steps for FLAML. The same code works if I specify a time limit instead of max_iter.

[2021-11-23 14:10] knoam opened #304 "CatBoost Fails with Keyword 'groups'"
Here's the code:

[code]

Here's the output:

[code]

[2021-11-23 18:08] sonichi commented on #301
Example for multi-output regression: https://github.com/microsoft/FLAML/blob/85e21864ce20a323fefe297b18b8aa75f9a72f59/test/automl/test_regression.py#L198

This works if you install flaml from git:
`pip install git+https://github.com/microsoft/FLAML.git`
before v0.8.0 release.

Related: #277 #292

[2021-11-23 18:14] sonichi commented on #303
"time_budget" is set to 60 seconds by default. In you case, please set time_budget to a large enough value (like 1e+10) to avoid timeout. BTW, In the next release, we will allow users to specify -1 as unlimited time budget.

[2021-11-23 18:20] #303 closed

[2021-11-23 18:29] sonichi commented on #304
"groups" for catboost is not currently supported. The reason is that `CatBoostClassifier` does not accept `groups` in its `fit()` function.

[2021-11-23 19:11] sonichi commented on #302
By default, flaml decides the resampling automatically according to the data size and the time budget. If you would like to enforce a certain resampling strategy, you can set `eval_method` to be "holdout" or "cv" for holdout or cross-validation.

For holdout, you can also set:
* `split_ratio`: the fraction for validation data, 0.1 by default.
* `X_val`, `y_val`: a separate validation dataset. When

[2021-11-23 19:26] #290 closed

[2021-11-23 19:26] #291 closed

[2021-11-24 05:55] sonichi opened #307 "Fix certain hyperparameter values during search"
Asked in https://github.com/microsoft/FLAML/discussions/271, and also on [gitter](https://gitter.im/FLAMLer/community). Right now the solution is to use a derived estimator. We can make it easier by adding an argument in `AutoML.fit()`.

[2021-11-24 06:02] #259 closed

[2021-11-24 06:44] sonichi opened #308 "Support Python 3.10"
Python 3.10 has been released. We should test it. If all the dependencies support it, we should add it to CI.

[2021-11-24 06:51] sonichi commented on #58
We can add a property `iterations_per_estimator` in `AutoML`.

[2021-11-24 16:56] sonichi opened #310 "Decouple learn and predict in autovw"
Remove the assumption about the sequence of calls of predict() and learn(),

[2021-11-24 22:03] sonichi opened #312 "display an estimation of the best objective that can be expected from search"
### Discussed in https://github.com/microsoft/FLAML/discussions/311

<div type='discussions-op-text'>

<sup>Originally posted by **jezerro** November 24, 2021</sup>
Hello, im working on a gesture recognition app that uses tabular data. As time passes im adding more gestures and its hard having to trial-and-error the balance between training time and samples per label.

It would be very helpful if

[2021-11-26 08:40] citron opened #315 "Need some kind of ignorance"
Hello
In LightGBM, we can pass a dataframe with features marked as ignored by using the `"ignore_column"` option.
Is there a way to do the same in Flaml ?
This is very useful when one needs to keep track of records. Or did I miss something ?
Have a wonderful coding day !

[2021-11-26 15:30] sonichi commented on #315
From [lightgbm doc](https://lightgbm.readthedocs.io/en/latest/Parameters.html): Note: works only in case of loading data directly from text file.
Not sure what is the use case you are thinking of. Could you elaborate more?

[2021-11-29 09:08] citron commented on #315
I do use Flaml at the hospital emergency service. A CSV row is indexed by a unique "passage" number which allows us to relate measurement to patients. As the CSV is used in various pipelines and flows, it would be easier not to alter it to much. I do prefer to keep the "passage" numbers even If It should not be treated a feature.

[2021-11-29 16:19] sonichi commented on #315
@citron For such columns with unique value for each row, flaml will automatically drop them during training and prediction. You can keep them in your data. Please let me know if it doesn't work.

[2021-11-29 21:17] MichalChromcak commented on #194
Ok, the last change was made and conda distribution should now contain test taken from `flaml` repo. `pytest.ini` was also not copied over during the distribution creation, but as pytest markers work also without it I just skipped copying it. Changing `pytest.ini` option into `setup.cfg` should not need any change in the `flaml-feedstock` repo now.

I would propose to close this now, what do you t

[2021-11-30 08:25] EgorKraevTransferwise opened #318 "What exactly does pred_time_limit refer to?"
`pred_time_limit` sounds like a great way to limit complexity of models being fitted; but what time does it refer to: inference on one row, inference on the whole training dataset, or something else?

[2021-11-30 17:24] sonichi commented on #318
It refers to the average prediction time per row in validation data.
https://github.com/microsoft/FLAML/blob/85e21864ce20a323fefe297b18b8aa75f9a72f59/flaml/ml.py#L205
Adding it to docstr in #319

[2021-11-30 17:57] sonichi commented on #194
@MichalChromcak Thanks for the great effort in helping with this issue. I really appreciate it. I'm closing it now.

[2021-11-30 17:57] #194 closed

[2021-12-01 07:51] coffepowered opened #320 "Custom cross-validation strategy with generator or iterable"
Hello,

I'm looking into FLAML to see if it can be applied to my current problem.
I am currently working with a regression problem on some hierarchical time series that need a custom cross-validation strategy for which I already have an implementation (e.g. Group Time Series split).

To do so, I need to pass either an iterable or splits as an array to FLAML's `.fit` method, but that seems not supp

[2021-12-01 08:07] EgorKraevTransferwise commented on #318
Thanks a lot! Where can I find some guidance as to reasonable values? Especially as I expect due to vectorization this doesn't scale linearly in dataset size.

[2021-12-01 09:05] fleuryc commented on #194
Thanks everyone ! :tada:

[2021-12-01 18:23] sonichi commented on #238
@wuchihsu what's the status of this feature? #320 requests the same feature.

[2021-12-02 04:46] wuchihsu commented on #238
Sorry, I have not started yet. I can start this month.

[2021-12-02 11:43] citron commented on #315
@sonichi I noticed that among my 350000 lines, I had 7 with the same "passage" numbers. That why Flaml saw this column as a category. Thanks for the help !

[2021-12-02 18:23] coffepowered commented on #238
Hi, thank you for your answer. I've tried to take a look myself at the code, but it seems like that such a modification would require refactors at multiple levels.
If you can provide a high-level overview, I might be of some help as well.

[2021-12-04 00:02] #318 closed

[2021-12-06 08:21] sonichi opened #326 "metric="auto" does not work for nlp task"
[code]

ValueError: auto is not a built-in metric, currently built-in metrics are: r2, rmse, mae, mse, accuracy, roc_auc, roc_auc_ovr, roc_auc_ovo,log_loss, mape, f1, micro_f1, macro_f1, ap. please pass a customized metric function to AutoML.fit(metric=func)

[2021-12-06 18:30] knoam commented on #236
I am having trouble with reproducibility even after following your advice above. Here's a reproducible example:

[code]

And here is the output:

[code]

[2021-12-07 02:15] slhuang commented on #238
Thanks! We would love to add support for customized splitters. We envision the API for a customized splitter to be like a class with an implemented function called split(X_train), which will be called here (https://github.com/microsoft/FLAML/blob/dd60dbc5eb7e6d298c5f1506a8e0b7a8bb390052/flaml/ml.py#L323). Do you think this API would fulfill your need or in your split() function, you will need info

[2021-12-07 05:11] wuchihsu commented on #238
I have made some modifications to it to make it work -> wuchihsu/FLAML@f53aeb7d8aafe8b5611b098442e5f9c116ecdd7c (but did not check other things still work yet). How about this kind of modifications.

[2021-12-07 09:59] tugra-alp opened #329 "Using 'gap' for time series cv in Flaml"
![9fb545ac-d898-43d4-b567-65ba33a2ed0b](https://user-images.githubusercontent.com/82160533/145007241-c057d53e-b2b1-44ff-82b5-3820b96bdbf2.jpg)

How can we use 'gap' method which is exist in sklearn.model_selection.TimeSeriesSplit in Flaml ?

![6dc03571-ea29-427b-b3f7-fd92cd9cd717](https://user-images.githubusercontent.com/82160533/145007305-54d56e67-951c-474a-a8fd-f34012561933.jpg)

[2021-12-07 21:52] qingyun-wu opened #330 "Improve AutoVW"
`AutoVW.learn()` has an implicit dependency on `AutoVW.predict()`, and thus they need to be used in a synchronized manner. Better remove this dependency and allow asynchronous calls of them.

[2021-12-07 21:56] qingyun-wu opened #331 "Add notebook examples for the usage of schedulers"
Add notebook examples for the usage of different  [schedulers supported in `flaml.tune`](https://github.com/microsoft/FLAML/blob/main/flaml/tune/tune.py#L222). The examples are similar to the one used in this  [test file](https://github.com/microsoft/FLAML/blob/main/test/tune/test_scheduler.py).

[2021-12-07 22:16] slhuang commented on #238
@wuchihsu  Can you use the param `split_type` and make a PR? We can then review your code. thanks!

[2021-12-08 00:36] #310 closed

[2021-12-08 04:43] slhuang commented on #329
Hello, we are currently working on a feature to allow customized splitters #238. You should be able to pass in `Gap` with this new feature. Stay tuned.

[2021-12-08 11:18] wuchihsu commented on #238
I make a PR #333

[2021-12-10 17:32] #326 closed

[2021-12-12 19:56] VedAustin opened #340 "Best model for each estimator"
Hello when I try to use best_model_for_estimator directly for prediction, I get very wrong results. But when I use the best params of the estimator and recreate one using sklearn's it makes much more sense. Am I doing something wrong here?

[code]
[code]

[code]
[code]

[2021-12-12 21:35] sonichi commented on #340
Please add `"model_history": True` to your `automl_settings`. Otherwise only the best model for the best learner would be saved as a trained model. Other models returned by best_model_for_estimator() would be untrained. We'll improve the documentation about it.

[2021-12-14 16:30] flippercy commented on #340
Hi @sonichi:

What is the difference between 'model_history' and 'keep_search_state'? Am I supposed to set both to 'True' to fix the issue mentioned in this thread?

Thank you.

[2021-12-14 19:26] sonichi commented on #340
@flippercy you don't need to set `keep_search_state` to "True". That is for keeping the data needed for model search.

[2021-12-17 00:13] #238 closed

[2021-12-17 00:13] #320 closed

[2021-12-17 00:13] #329 closed

[2021-12-18 17:14] sonichi commented on #301
@fengsxy @miquelduranfrigola @gmkyadav
I have an idea to improve the AutoML performance for multi-output task. After AutoML.fit() finishes for one output, we could use the warm-start capability from flaml for the next output. That is supposed to work better than doing the search from scratch. See an example of warm-start here:
https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#w

[2021-12-18 20:33] miquelduranfrigola commented on #301
Hi @sonichi I think this is a good idea. I am not an AI/ML expert myself (I am more on the user side), but would be very happy to test on my applications. However, I wonder: does the warm-start idea works when the outputs are **not** correlated?

[2021-12-18 23:09] sonichi commented on #301
@miquelduranfrigola It works as long as the hyperparameter choice for different outputs are correlated. The outputs themselves don't need to be correlated. Given that the features used to predict different outputs are the same, chance is that the hp chosen for one output is a good starting point for the others.

[2021-12-20 02:36] fengsxy commented on #301
So does it mean that we train the one of the single output first,and then use the output as a feature and best_config_per_estimator as a starting_point for next  automl？The advantage about it is that it can start
with a better point and be adapative  with related output？

[2021-12-20 02:37] fengsxy commented on #301
Because my example is two-output regressor,and the two output are related.

[2021-12-20 07:07] sonichi commented on #301
@fengsxy whether to use the first output as a feature is up to you. In either case, you can use best_config_per_estimator as a starting_point for next automl. Would you like to try that idea in your application?

[2021-12-20 17:55] liususan091219 opened #348 "Add jupyter notebook for nlp module"
Adding jupyter notebook for:

1. seq classification
2. seq regression
3. summarization

[2021-12-22 12:10] tugra-alp commented on #329
Sorry , but I dont understand how i can set parameters of TimeSeriesSplit function in Flaml custom data splitter . Is there any use case example for that  ?

[2021-12-22 12:55] kurucan opened #350 "Time Series cross-validator"
Is there a support for sklearn.model_selection.TimeSeriesSplit

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

[2021-12-22 12:59] fengsxy commented on #301
I plan to try this idea,but i just have  a 5000 data ,so i set the search_time short.But i'll try it.And share my result.

[2021-12-22 16:44] sonichi commented on #350
Yes, you can set `split_type="time"`.
https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#data-split-method

[2021-12-22 16:46] sonichi commented on #301
Thanks. BTW, what application do you use flaml for?

[2021-12-22 20:27] sonichi commented on #236
@knoam the problem is fixed in #349
could you try installing the latest version from git:
`pip install git+https://github.com/microsoft/FLAML.git`
and check if your problem is solved?
I've tested [test/rep.py](https://github.com/microsoft/FLAML/blob/main/test/rep.py)

[2021-12-23 20:39] knoam commented on #236
I confirm that now extra_tree model (using ExtraTreesEstimatorSeeded as described above) is reproducible for my dataset. Thanks!

[2021-12-23 20:39] #236 closed

[2021-12-23 22:14] jezerro opened #355 "Make predict() return "Undetected" in the classification estimator if confidence is below threshold"
**Use case: flower recognition**
_Input:_ flower photo
_Output:_ flower name

Right now if you input a flower that is not among the classes, predict() will return the one closest to it which is wrong. The right would be telling the user that it was not recognized. One way to do it is making the estimator produce a confidence float [0-1]. Then make predict() accept a confidence threshold along with

[2021-12-24 18:56] int-chaos opened #360 "test\nlp\test_autohf_summarization.py error with pytest"
@liususan091219

when running `pytest test` this error was prompted

![test_autohf_summarization error](https://user-images.githubusercontent.com/74878789/147369417-0532bf53-4edc-4941-b92d-4484d8179fed.png)

[2021-12-24 19:11] liususan091219 commented on #360
What's your transformers version? This happened to me when it was 4.5, need to make sure it's the latest version (4.14)

[2021-12-24 20:18] liususan091219 opened #361 "Add REAME for NLP"
TODO: add README for NLP.

[2021-12-26 00:38] int-chaos commented on #360
works now. thank you

[2021-12-26 00:38] #360 closed

[2021-12-27 02:10] bladesaber opened #363 "Error " no current event loop in thread 'Thread-2" happen when param 'use_ray' is True"
Hello, when I set the param use_ray to be True it will throw a Error:
    "RuntimeError: There is no current event loop in thread 'Thread-2'.".

Below is the code I reproduce:
`
automl = AutoML()
automl_settings = {
    "time_budget": 5,  # in seconds
    "metric": 'r2',
    "task": 'regression',
    "log_file_name": "california.log",
    "use_ray": True,
    "estimator_list": ['xgboost', 'rf', 'e

[2021-12-27 05:40] sonichi commented on #258
@knoam what is a metric you'd like to optimize when doing feature selection? With what constraint?

[2021-12-27 11:55] kurucan commented on #350
Thanks but sklearn time series function have additional parameters like "gap", I do not see the additional params in the defined flaml function;

sklearn time series split function:
class sklearn.model_selection.TimeSeriesSplit(n_splits=5, *, max_train_size=None, test_size=None, **gap=0**)

https://github.com/microsoft/FLAML/blob/main/flaml/automl.py
        elif self._split_type == "time":

[2021-12-27 15:42] ottok92 opened #365 "AutoML() doesn't seem to use Ray's object store (for large datasets)"
Hi there,

I have a large dataset (+100GB) that I have been trying to make FLAML (AutoML) work with, no success so far. Since FLAML uses Ray, shouldn't it take advantage of Ray's object store (object spill to disk)?
If not, any suggestions on how we should go about out-of-memory compute with FLAML?

[2021-12-27 15:44] ottok92 commented on #365
When I try to pass a Ray objectRef to AutoML's `fit`, I get an error that either a Numpy array, Pandas DataFrame or Scipy sparse matrix is expected.

[2021-12-27 17:17] sonichi commented on #365
@ottok92 How do you perform training currently? If you have a working training function already, you can use `flaml.tune` to perform [hyperparameter tuning](https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function).

[2021-12-27 18:30] sonichi commented on #350
@kurucan
https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#data-split-method
You can use a custom splitter with your desired "gap" etc.
Welcome to add a test case like in https://github.com/microsoft/FLAML/blob/2f5d6169d3b5cc025eb2516cbd003fced924a88e/test/automl/test_split.py#L158

@slhuang

[2021-12-27 19:45] qingyun-wu commented on #363
Hi @bladesaber,

I cannot reproduce the error with the code provided. Which version of flaml are you using? I am using the latest version (v0.9.2). Can you try the latest version if you are not using it?

Thank you!

[2021-12-28 01:56] bladesaber commented on #363
Strange. The version of flaml is also 0.9.2. I think may be the version of ray is non compatible, my ray is the latest version 1.9.1.

[2021-12-28 06:05] ottok92 commented on #365
Thank you for the quick reply, @sonichi. Currently I do everything in Spark with Scala. I'm interested in using FLAML both because of the impressive CFO algorithm and also to make it easier for my colleagues to collaborate (everybody knows Python).
I'll go through the doc you suggested to see if this will enable us to run FLAML on our large datasets. Thanks for the support!

[2021-12-28 07:28] tugra-alp opened #366 "Created datasets by custom splitter"
How can i see the datasets which i fit the model after used custom splitter like below example ?

"split_type" : TimeSeriesSplit(n_splits=5,  max_train_size=10, test_size=2, gap=1)

[2021-12-28 08:18] ottok92 commented on #365
It looks very promising to integrate with Ray's object store. Thank you for the suggestion. I will run some experiments and post feedback in this thread for future reference.

[2021-12-28 10:44] kurucan commented on #350
Many thanks! It works.

[2021-12-28 16:55] sonichi commented on #365
@ottok92 That's great. I'm very interested in how it works with your use case.
Another question is what learner do you use, for example, lightgbm? flaml has built-in search space for the built-in learners, which might be useful. For example, here is an example of tuning lgbm:
https://github.com/microsoft/FLAML/blob/main/test/tune_example.py
To make it work for your dataset, you can modify the `tra

[2021-12-28 20:02] qingyun-wu commented on #363
Maybe, can you try `ray[tune]==1.6.0`. I will try `1.9.1` as well. Thanks!

[2021-12-29 00:26] sonichi commented on #366
@tugra-alp Do you mean seeing the X_train and X_val for each fold during the hyperparameter search? Or the full training data used for the final model training?

[2021-12-29 06:43] ottok92 commented on #365
Perfect! I'm working with XGBoost, which is also built-in. Once I finish playing with this, I will share my `train_xgboost` function. Maybe we can create a section in the Docs for "handling large datasets with Ray".

[2021-12-29 07:07] tugra-alp commented on #366
Actually, i prefer to see X_train and X_val in each split.

[2021-12-29 16:17] sonichi commented on #365
That'll be super cool. Looking forward to it.

[2021-12-29 18:39] sonichi commented on #366
Right now there is no such info exposed. You need to insert some logging statement after:
https://github.com/microsoft/FLAML/blob/2f5d6169d3b5cc025eb2516cbd003fced924a88e/flaml/ml.py#L452-L457

[2022-01-02 02:40] qingyun-wu commented on #363
Hi @bladesaber,

Could you share your full traceback? Thank you!

[2022-01-02 20:10] liususan091219 opened #373 "remove the global variable in utils.py tokenized_column_names"
As title.

[2022-01-02 20:12] liususan091219 opened #374 "Add documentation for other NLP tasks"
+ Multiple choice classification
+ Token classification
+ QA

[2022-01-02 20:31] liususan091219 commented on #348
# Prepare training data
# ...
from flaml import AutoML
automl = AutoML()
automl.fit(X_train, y_train, task="regression", time_budget=60, **other_settings)
# Save the model
with open("automl.pkl", "wb") as f:
pickle.dump(automl, f, pickle.HIGHEST_PROTOCOL)

# At prediction time
with open("automl.pkl", "rb") as f:
automl = pickle.load(f)
pred = automl.predict(X_test)

[2022-01-03 01:09] liususan091219 opened #375 "Lint issue still exists after merging 367"
As title.

[2022-01-03 04:14] qingyun-wu commented on #363
Hi @bladesaber,

In case you are still having this error: it might be because of the library `dast`. If you have a version of`dask` installed in your environment,  it may fail `lightgbm` if the version is not right and throw the error. In this case, you can try uninstalling `dask`. Let me know if you still need help. Thanks!

[2022-01-03 18:44] #375 closed

[2022-01-04 02:08] liususan091219 opened #377 "potential issue in _train_with_config"
PR #368 has some issues, when testing test_distilling_emo(), it has the following error:

`Traceback (most recent call last):
  File "test_autohf_distilling.py", line 180, in <module>
    test_distilling_emo()
  File "test_autohf_distilling.py", line 157, in test_distilling_emo
    automl.retrain_from_log(
  File "/data/xliu127/projects/hyperopt/FLAML/flaml/automl.py", line 1416, in retrain_from_l

[2022-01-05 19:10] liususan091219 opened #378 "Wrong gpu/cpu usage number"
When requesting gpu = 1, if we don't set n_jobs = 1, the # cpu = #available_cpu / n_current_jobs, so if a cpu is already in use, we don't get enough resource and we'll end up getting 0/CPU, 0/GPU for the trial.

[2022-01-05 19:12] liususan091219 opened #379 "When using ray, serialization problem"
TypeError: cannot pickle 'torch._C.Generator' object

[2022-01-05 22:32] liususan091219 commented on #377
change all _is_nlp_task to estimator is transformer or distillation

[2022-01-05 22:34] liususan091219 commented on #377
change _is_nlp_Task to is nlp estimator (distiller or transformers)

[2022-01-06 18:28] #379 closed

[2022-01-06 21:09] #302 closed

[2022-01-07 03:36] int-chaos opened #382 "Handle multiple time-series in one dataset"
Use sklearn regressors to forecast multiple time-series, where each time series will be indicated by categorical columns
- update time series validation function (won't handle duplicate timestamps when there is only one time series)

[2022-01-07 03:38] int-chaos opened #383 "Support time series forecasting for discrete target variable"
support time series forecasting where target values are categorical values instead of only numerical
use sklearn classifiers and hcrystalball sklearn wrappers

[2022-01-07 03:39] int-chaos opened #384 "Update notebook and documentation for time series forecasting"
show examples of supporting new scenarios and types of datasets

[2022-01-07 07:12] #297 closed

[2022-01-07 07:25] #378 closed

[2022-01-07 23:33] liususan091219 opened #386 "bug in auto metric for nlp"
File "/workspace/autonlp/flaml/automl.py", line 1639, in train
result = states[estimator].training_function(config)
File "/workspace/autonlp/flaml/automl.py", line 251, in _compute_with_config_base
) = compute_estimator(
File "/workspace/autonlp/flaml/ml.py", line 558, in compute_estimator
val_loss, metric_for_logging, train_time, pred_time = get_val_loss(
File "/workspace/autonlp/flaml/ml.py", li

[2022-01-08 00:25] #386 closed

[2022-01-10 06:23] SharkFin-top opened #390 "official example: Time Series Forecast ValueError: list.remove(x): x not in list"
Hello!

python 3.9.5

https://microsoft.github.io/FLAML/docs/Examples/AutoML-Time%20series%20forecast

when I run Univariate time series and Multivariate time series, it return **ValueError: list.remove(x): x not in list**

### Univariate time series

[code]

output

[code]

### Multivariate time series

[code]

output

[code]

I really dont know why
o(╥﹏╥)o
thank you guys!

[2022-01-10 17:14] sonichi commented on #390
That's a bug introduced by a recent PR: #362. It should be an easy fix: check whether "catboost" is in the estimator_list before removing it. Feel free to create a PR if you would like to.

@int-chaos

[2022-01-10 17:23] int-chaos commented on #390
will do

[2022-01-11 05:36] #315 closed

[2022-01-11 07:55] sonichi commented on #390
@int-chaos could you also tell @SharkFin-top an easy workaround before the PR is merged? Such as passing an `estimator_list` which contains "catboost".
BTW, Bugs like this are detectable in a notebook example.

[2022-01-11 09:56] bladesaber commented on #363
Yes, it works. Thanks

[2022-01-11 09:56] #363 closed

[2022-01-11 21:17] #390 closed

[2022-01-12 06:51] camer314 opened #393 "Do you expect FLAML to run across multiple nodes in AML using RAY"
On your page [https://microsoft.github.io/FLAML/docs/Examples/Integrate%20-%20AzureML/#use-ray-to-distribute-across-a-cluster](url) you describe the process of configuring an AML cluster with Ray and using FLAML against it.

Is it your expectation that this configuration, as you have it, will be distributed Ray or parallel Ray on a single node?

I was under the impression you needed a compute clus

[2022-01-12 08:56] camer314 commented on #393
After further testing I got this working as per your documentation :)

[2022-01-12 18:59] sonichi commented on #393
Great to hear that! Looking forward to your feedback.

@ruizhuanguw @aminsaied @rezasherafat @qingyun-wu @slhuang

[2022-01-14 01:27] liususan091219 opened #398 "changing per_device_train_batch_size to train_batch_size"
Changing per_device_train_batch_size to train_batch_size to adjust to transformers' version change.

[2022-01-14 05:08] #398 closed

[2022-01-14 10:49] camer314 commented on #393
This works well. What do you know about this hidden environment variable _AZUREML_CR_START_RAY? Is this something that is reliable? Do you think the AML guys will make Ray initialize public anytime soon?

Also in the log files at the end there is a big table printed that has all the information for each trial, is that information available through the library?

[2022-01-14 19:28] MichaelMarien opened #400 "FLAML model API not fully compatible with sklearn API"
First of all - thanks a lot for the great library.

I used FLAML successfully to find a suitable model for my classification use case. As I need to have calibrated probabilities I decided to clone the best found estimator and introduce it into sklearn CalibratedClassifierCV:
[code]

unfortunately I run into a **TypeError: predict_proba() got an unexpected keyword argument 'X'**. I traced it down t

[2022-01-15 00:20] sonichi commented on #393
@rezasherafat could you chime in here?

The information for each trial is logged in a file, as documented [here](https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#log-the-trials). It is not exactly the same as the big table printed by ray. Let us know if the current logging works for you.

[2022-01-15 01:12] sonichi commented on #400
@MichaelMarien Please go ahead and make the PR. Thanks!

BTW, in your use case, you may want to apply `automl._transformer.transform()` to your training and test data before `model_to_calibrate.fit()` and `predict_proba()` in general. If no transformation is actually applied, then you don't need it.

[2022-01-15 01:13] rezasherafat commented on #393
the start ray variable is currently experimental, i.e., may change in the future.

[2022-01-15 01:55] #361 closed

[2022-01-15 03:21] camer314 commented on #393
Thanks @rezasherafat, it is an extremely handy piece of functionality so hoping it makes it to public

@sonichi With the log file and distribution, is the log file the composite of all nodes or is it just the log file from the master node (seems like I have only a subset in my log file from what Ray is reporting)

[2022-01-15 09:22] MichaelMarien commented on #400
Thanks for the swift reply, I'll give the PR a go!

[2022-01-15 16:13] sonichi commented on #400
Thank you! BTW, what application do you use flaml for?

[2022-01-16 16:55] MichaelMarien commented on #400
Optimising marketing actions - I'm looking at it from a causal point of view (trying to integrate it also with econML) and I need to train a lot of models for the different actions (treatment) as well as retrain them quite often. Moreover, have some constraints on how complex or slow during inference the models can be. FLAML addressed part of the problem nicely :)

[2022-01-16 22:37] sonichi commented on #400
Thanks for sharing the feedback and for your contribution. Feel free to join [gitter](https://gitter.im/FLAMLer/community) to chat.

[2022-01-16 22:37] #400 closed

[2022-01-17 01:56] sonichi commented on #393
@camer314 It logs the runs from all the nodes. But remember that by default it only logs trials that are better than previous trials. To log all the trials, pass `log_type="all"`.

[2022-01-17 08:59] camer314 commented on #393
Indeed it does, you are correct

This Ray stuff works really well, especially spread across the cluster.

[2022-01-17 16:11] sonichi commented on #393
Wonderful! Please keep us posted. BTW, what application do you use flaml for?

[2022-01-17 17:16] #340 closed

[2022-01-17 19:38] Yasslight90 opened #412 "Forecasting example"
Hello,

The example on https://github.com/microsoft/FLAML for forecasting is not working with the latest release 0.9.5. Please find the error below:

InsufficientDataLengthError: Sum of model lags (3) and forecasting horizon (12 cannot be bigger than length of y (12).

Kind regards,

Yassine

[2022-01-17 22:14] sonichi commented on #412
It looks a bug for the newly added regressors. @int-chaos

As a workaround, you can limit the estimator_list to `["prophet", "arima", "sarimax"]`.

[2022-01-18 02:32] camer314 commented on #393
It is an application under development that allows distributed hyper parameter optimizations for our own internal GLM/GBM models + LGBM etc

The application is being demonstrated tomorrow to the Azure ML engineering team seeing as we work as partners with you guys. I am going to be pushing for the Ray setup to be promoted to public GA in AML.

Btw, if you want a demo of what we are doing and how w

[2022-01-18 16:25] Yasslight90 commented on #412
I just came back to and old release. Let me know when you release a new version.
Thank you!

[2022-01-19 00:10] int-chaos opened #413 "support anomaly detection"
Add a task type 'anomaly_detection', and at least one learner for it.

From my understanding there are multiple types of anomalies - point anomalies, contextual anomalies, and collective anomalies - and also different types of anomaly detection algorithms - nearest-neighbor, clustering, classification, and statistic based.

If anyone has any suggestions or requests for this task, please comment.

[2022-01-19 00:12] int-chaos commented on #412
Thank you for the issue. I'll look into it more, but it seems the error occurs because the lag value is too big.

[2022-01-22 06:10] Tint0ri opened #417 "FLAML_sample_size cause train error"
try to make a classification task on 0.9.5 and 0.9.4. But always exit with this exception:

[flaml.automl: 01-22 05:58:44] {2705} INFO - selected model: XGBClassifier(base_score=0.5, booster='gbtree',
              colsample_bylevel=0.04654671402865765, colsample_bynode=1,
              colsample_bytree=0.7848077464977525, gamma=0, gpu_id=-1,
              grow_policy='lossguide', importance_type=

[2022-01-22 20:43] sonichi commented on #417
I created a PR to fix this issue. If you'd like to share more about your use case or join the community, feel free to chat on [gitter](https://gitter.im/FLAMLer/community#).

[2022-01-23 06:59] #417 closed

[2022-01-23 09:38] Tint0ri opened #424 "code crash jupyter kernel"
try to run a s simple ts forecast code on Google Colab(12G RAM) and Amzon Sagemaker(16G RAM). Both environment get jupyter kernel crashed and restarted report after a while.

sample code:

import numpy as np
import pandas as pd
from flaml import AutoML

X_train = pd.date_range('2017-01-01', periods=70000, freq='T')
y_train = pd.DataFrame(np.random.randint(6500, 7500, 70000))
automl = AutoML()
auto

[2022-01-23 09:51] Tint0ri commented on #417
Thanks. Look forward to testing on new FLAML release.

[2022-01-23 17:06] sonichi commented on #424
I believe the root cause is the same as #412 . I suggest the same workaround before the issue is fixed.
@int-chaos

[2022-01-24 01:18] Tint0ri commented on #424
I had the #412 issue before. But I can bypass it by change period from 12 to a smaller number, such as 10 as above. My code can finish if time_budget is a small number.  But if I set time_budget greater than 2000, I got kernel crashed. I assumed #424 should be something about memory management such as not retrieve the memory in time. Because Colab log show memory tmalloc was not fulfilled.

[2022-01-24 05:11] int-chaos commented on #424
To address this memory issue, we will be setting a limit for the upper bound of `lags`. But what exactly should be the limit is to be determined. If you have any suggestions for it please let me know. Below is an explanation of what is happening and why this error occurs.

Currently our upper bound for the `lags` hyperparameter is dependent on the size of the data_size and period, where the upper

[2022-01-24 05:13] sonichi commented on #424
And that's why the same workaround in https://github.com/microsoft/FLAML/issues/412#issuecomment-1014920806 would avoid this issue.

[2022-01-24 05:17] int-chaos commented on #424
Yes that would since those learners `['prophet', 'arima', 'sarmiax']` do not handle lags the same way the sklearn regressors do.
- Prophet does not have lags
- ARIMA/SARIMA use `d` parameter as lags

[2022-01-24 09:53] Tint0ri commented on #424
Got. Thanks for clarify.

[2022-01-25 18:59] sonichi opened #429 "samples about conversion to ONNX"
In principle it seems getting the parameters from FLAML to C# LightGBM seems to work, but I dont have any metrics yet. The names of parameters are slightly different but documentation is adequate to match them. Microsoft.ML seems to have version 2.3.1 of LightGBM.

Another approach that might be useful, especially for anyone working with .NET, would be having some samples about conversion to ONNX.

[2022-01-25 19:00] #350 closed

[2022-01-26 03:28] #383 closed

[2022-01-26 14:01] GDGauravDutta opened #433 "Unable to work with FLAML in Kaggle"
Error :
IImportError                               Traceback (most recent call last)
/tmp/ipykernel_33/3768597154.py in <module>
----> 1 from flaml import AutoML
      2 automl = AutoML()

/opt/conda/lib/python3.7/site-packages/flaml/__init__.py in <module>
      1 from flaml.searcher import CFO, BlendSearch, FLOW2, BlendSearchTuner
----> 2 from flaml.automl import AutoML, logger_formatter
      3

[2022-01-26 15:47] sonichi commented on #433
mean_absolute_percentage_error is only available from scikit-learn>=0.24.
Are you able to install scikit-learn>=0.24 in Kaggle?

[2022-01-26 17:19] GDGauravDutta commented on #433
# Name                    Version                   Build  Channel
scikit-learn              1.0.2            py37hf9e9bfc_0    conda-forge

[2022-01-26 17:56] sonichi commented on #433
No import error for me: https://www.kaggle.com/sonichi/notebooka80575f30b

[2022-01-26 19:15] GDGauravDutta commented on #433
Not able to see your notebook

[2022-01-27 00:49] sonichi commented on #433
Could you try again now?

[2022-01-27 02:06] flippercy opened #434 "best_model_for_estimator() returns empty objects for some estimators"
Hi @sonichi:

I just found out that after running automl with several customized estimators, for certain estimators, best_model_for_estimator() returned an empty object although a few models have been built with them. When I tried to save the best model, there were error messages like below:

AttributeError: 'NoneType' object has no attribute 'save_model'

Do you know why? My team has been using F

[2022-01-27 03:06] GDGauravDutta commented on #433
still not working

[2022-01-27 03:54] fengsxy commented on #301
![image](https://user-images.githubusercontent.com/57928993/151288886-abbd5364-e59c-483e-8ef1-aded6967b096.png)
@sonichi Hi,sonchi. I have two things to share!
Today i am trying to use warm-start,but when i use muti-Reregssor with two out-put first it has some problems.
And with these time's thinking,i have a new a idea,for example ,like Extra-Tree,it needn't use muti-regressor,so we can check the

[2022-01-27 06:03] flippercy commented on #434
In addition, during the training I noticed some discrepancies in the output as shown below:

![image](https://user-images.githubusercontent.com/51969693/151300992-0f827565-e3d6-478a-a3f4-a61d49bdfca7.png)

'MonotonicCatboost' and 'MonotonicXgboostDart' are my customized classifiers. In this case, after training a monotonic catboost, shouldn't the program return the best performance of MonotonicCat

[2022-01-27 12:44] torronen commented on #199
I could not find the conversion from source for some reason, but based on other documentation I think it can be converted like:
` max_bin = 2^log_max_bin - 1 `

Let me know if I am mistaken.

[2022-01-27 14:38] torronen opened #435 "fit() got an unexpected keyword argument 'gpu_per_trial'"
How would I go ahead debugging GPU issues?

When trying to run .fit with gpu_per_trial = 1, I receive the error "fit() got an unexpected keyword argument 'gpu_per_trial'"
I have installed Keras and Tensorflow support, and those are able to utilize the Nvidia card.

[code]

[2022-01-27 18:01] sonichi commented on #434
What's the search space for "MonotonicCatboost"? One possible reason is that the sampler fails to find a new config for MonotonicCatboost, so it is skipped. And for some reason some lines in the console log are missing.

[2022-01-27 18:10] torronen commented on #435
@sonichi ok, thanks. Both: now just testing. In future, probably GPU for LightGBM would be nice. I suppose I can enable GPU for LightGBM by editing your latest sample ( https://github.com/microsoft/FLAML/pull/430 ) once I get to running it?

However, my current production app are in C# so I need to first find a way to bring FLAML results to .Net (I updated the latest challenges in the dicussion: h

[2022-01-27 18:10] sonichi commented on #434
If you make the estimator_list contain a single estimator that causes this issue, do you get the same problem?

[2022-01-27 18:16] sonichi commented on #435
Correct. If you get a chance to try it, it'll be great to let me know the result.

Yes, that's correct. You can find some examples in https://microsoft.github.io/FLAML/docs/Examples/AutoML-NLP

[2022-01-27 18:28] sonichi commented on #301
automl1 is an instance of MultiOutputRegressor. So it doesn't have attribute best_config_per_estimator. I think the idea we discussed was to run AutoML for the first label first (single output regression). And then take the best_config_per_estimator as the starting_point for the next label, and so on.

The new idea you have, requires some change in _preprocess() function of each estimator in model

[2022-01-27 18:30] sonichi commented on #433
Do you mean you still can't see my notebook? I've made it public and tested.

[2022-01-27 18:44] #435 closed

[2022-01-27 19:12] GDGauravDutta commented on #433
It's visible now

[2022-01-27 19:14] GDGauravDutta commented on #433
I found that issue only appear only if pandas are imported first before Flaml

[2022-01-27 21:21] torronen commented on #199
In case someone else wonders, here is the conversion:

https://github.com/microsoft/FLAML/blob/81f54026c94312557a3e258c3073ede63fbb35be/flaml/model.py#L836
`   params["max_bin"] = (1 << params.pop("log_max_bin")) - 1`

[2022-01-27 21:54] flippercy commented on #434
Hi @sonichi:

There is no problem if I just run automl() with the estimator causing the issue.

Moreover, my observations include:

1. The issue is not data-specific. A coworker ran automl() with a different and much smaller dataset and got the same issue.
2. The issue is kind of random. Later yesterday I re-ran automl() with less CPUs and somehow it worked without any problem. Not sure whether n_

[2022-01-27 21:58] flippercy commented on #434
The search space for MonotonicCatboost is quite big and should not be the reason for the discrepancy; more catboost models were built later in that search and the issue did not happen anymore. Probably it is just a one-time glitch but want to let you know.

[2022-01-27 23:11] sonichi commented on #434
Good that it's not data-specific. Bad that it's random. It happens to the custom estimator only, right?

[2022-01-27 23:18] int-chaos commented on #424
Thank you for the suggestion and I believe that it is a reasonable limit as well, as it encompasses both cases of KPSS test for find the optimal lag value and its function prosperities allow it to work as a good limit.

[2022-01-28 01:02] sonichi commented on #433
It doesn't fail for me.

[2022-01-28 12:24] m13uz opened #438 "broken link in README.md"
The following link should be fixed probably?  [cost-effective hyperparameter optimization](https://microsoft.github.io/FLAML/Use-Cases/Tune-User-Defined-Function#hyperparameter-optimization-algorithm)

[2022-01-28 15:04] sonichi commented on #438
Thanks for finding it. Would you like to create a PR to fix it? The correct url is https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function#hyperparameter-optimization-algorithm.

[2022-01-28 17:27] flippercy commented on #434
I am not sure since we usually use customized estimators only; might do some tests with default estimators later.

[2022-01-28 22:09] sonichi commented on #434
I haven't seen this issue before. So there might be some unexpected behaviors of the custom estimators. Could you use `log_type="all"` and check the logged results, and see if there is any anomaly?

[2022-01-29 11:18] torronen opened #441 "Suggestion: log all iterations"
Currenlty, log file include all iterations which have a new best result.

However, I would like to understand better how the parameters impact results.
For example, I might want to plot model size against accuracy, or maybe even 3D surface of chosen parameters.
Although grid search may give a better picture in general, I think it might also help understand why and how tuning progresses.

Suggestio

[2022-01-29 15:14] sonichi commented on #441
That's already supported by setting `log_type="all"`.

[2022-01-29 15:17] torronen commented on #441
thank you

[2022-01-29 15:17] #441 closed

[2022-01-30 04:18] #438 closed

[2022-01-30 15:30] #412 closed

[2022-01-30 15:30] #424 closed

[2022-01-31 06:11] sonichi commented on #412
@Yasslight90 v0.9.6 is released.

[2022-01-31 18:54] sonichi commented on #374
Places to check:

docstr for `task` in automl.py
"Tasks" in https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML
Examples in https://microsoft.github.io/FLAML/docs/Examples/AutoML-NLP

[2022-02-02 01:23] GDGauravDutta opened #443 "Get best model : Documentation update needed [Typo]"
Existing Code:
automl.fit(X_train, y_train, task="regression")
print(automl.mdoel)
# <flaml.model.LGBMEstimator object at 0x7f9b502c4550>

Correct Code:
automl.fit(X_train, y_train, task="regression")
print(automl.model)
# <flaml.model.LGBMEstimator object at 0x7f9b502c4550>

[2022-02-02 01:37] GDGauravDutta opened #444 "Optimization metric​ Duplicate * [Typo]"
Existing :
Optimization metric​

'micro_f1': minimize 1 - f1_score with average="micro".
'micro_f1': minimize 1 - f1_score with average="micro".

Should be present
Optimization metric​

'micro_f1': minimize 1 - f1_score with average="micro".
'macro_f1': minimize 1 - f1_score with average="macro".

[2022-02-02 01:39] sonichi commented on #443
Thanks. Would you like to create a PR to fix it?

[2022-02-02 01:40] sonichi commented on #444
Thanks. Would you like to create a PR to fix it?

[2022-02-02 09:58] Yasslight90 commented on #412
Ok perfect. I will test it.

[2022-02-02 15:54] flippercy commented on #434
@sonichi this issue has not happened since then so I will close the thread for now. We may discuss it later if it appears again.

Thank you very much for the help!

[2022-02-03 06:46] vijaya-lakshmi-venkatraman opened #445 "Typo in Github.io page"
Existing:
Paralle tuning

Expected:
Paralle**l** tuning

https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function/#paralle-tuning

[2022-02-03 17:25] #443 closed

[2022-02-03 17:25] #444 closed

[2022-02-03 17:40] #445 closed

[2022-02-04 19:52] sonichi commented on #365
BTW, flaml provides two search spaces for XGBoost.
[XGBoostSklearnEstimator](https://github.com/microsoft/FLAML/blob/b930de0e1f661d8f1e4f047dc0cac4c9464bf2d9/flaml/model.py#L1146) tunes "max_leaves", and [XGBoostLimitDepthEstimator](https://github.com/microsoft/FLAML/blob/b930de0e1f661d8f1e4f047dc0cac4c9464bf2d9/flaml/model.py#L1196) tunes "max_depth".

[2022-02-09 23:28] sonichi opened #451 "filter fit_kwargs"
Scenario: A user has multiple estimators which accept different fit_kwargs.

Suggested change:
* inspect the signature of model.fit() (in the constructor) and filter the kwargs before:
https://github.com/microsoft/FLAML/blob/b4d312412a6b11ab7d799f670eeeedcca9348f6f/flaml/model.py#L152
* add test which includes extra fit_kwargs that is not accepted by LGBM and ensure there is no error

Effect:
* Ac

[2022-02-10 01:27] camer314 commented on #451
That is a good suggestion. Another option is to have a keyword argument on fit which is a dictionary of estimator to kwargs to eliminate any potential for unnamed kwargs.

[2022-02-10 05:21] sonichi commented on #451
That will avoid the ambiguity. This dict should contain only the estimator-specific kwargs. The kwargs shared by all the estimators will still be passed via **fit_kwargs.

[2022-02-10 16:11] sonichi opened #452 "add a keyword argument in AutoML.fit() which is a dictionary of estimator to fit_kwargs"
That is a good suggestion. Another option is to have a keyword argument on fit which is a dictionary of estimator to kwargs to eliminate any potential for unnamed kwargs.

_Originally posted by @camer314 in https://github.com/microsoft/FLAML/issues/451#issuecomment-1034389059_

[2022-02-10 16:12] sonichi commented on #452
That will avoid the ambiguity. This dict should contain only the estimator-specific kwargs. The kwargs shared by all the estimators will still be passed via **fit_kwargs.

[2022-02-12 12:09] baniasbaabe opened #456 "Little Typo on the webpage"
It should be "hyperparameters" (see image)
![image](https://user-images.githubusercontent.com/72874670/153710713-b26fdf6a-4ae2-437c-a003-3af78f406a3f.png)

[2022-02-12 19:28] RishiKumarRay commented on #456
@sonichi i would like to go instead if doesn't raise

[2022-02-13 01:24] sonichi commented on #456
Thanks. Next time :)

[2022-02-13 05:19] RishiKumarRay commented on #456
@sonichi you have invited me to become collaborator, why? I am pretty amazed 😬

[2022-02-13 19:24] ThunderBolt-OS commented on #456
can i contribute to this , i am new to open source

[2022-02-13 20:59] sonichi commented on #456
Sure. Please read the [contributing guide](https://microsoft.github.io/FLAML/docs/Contribute/) to start.

[2022-02-15 09:42] GowthamChowdary commented on #456
is this issue still open? seems like there was a PR which fixes this.

[2022-02-15 17:12] #456 closed

[2022-02-19 15:12] knoam commented on #65
Is there a way to force an upper bound on n_estimators? Even though my model is not overfitting, it is still impractically slow to train since my dataset is large.

[2022-02-20 15:57] sonichi commented on #65
@knoam There are multiple ways to solve your problem.
1. You can set `train_time_limit` in AutoML.fit() to restrict the training time per model, without explicitly modifying the upper bound of n_estimators.
2. You can inherit the default estimator and override its [search space](https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#search-space) to use a smaller upper bound.

Pleas

[2022-02-20 16:02] #393 closed

[2022-02-22 23:30] username725 opened #466 "AutoML compatibility w/ sklearn cross-validation & roc_auc"
To perform nested cross-validation:
[code]
However that requires AutoML to have a `score()` method available.  Okay, let's explicitly give sklearn a scoring method:
[code]
This ends up in sklearn's `_BaseScorer._select_proba_binary()` which requires `classes_` to be a Numpy ndarray.  AutoML explicitly is turning these to a list.  So there is an error.

Full example:
[code]
Leads to error:

A worka

[2022-02-23 00:38] sonichi commented on #466
Not sure because it is not applicable to all learners and tasks.

Yes, it makes sense. Would you like to add it?

We used this to make it work for automlbenchmark. Let me try converting it to `np.array`. If it works, we should make it compatible.

[2022-02-25 20:46] #65 closed

[2022-03-01 00:53] username725 commented on #466
Thanks for the quick turn around.
We can consider this Issue closed, and I can open another for `score()` if I get a chance.

[2022-03-01 03:36] #466 closed

[2022-03-07 22:15] flippercy opened #475 "TypeError: __init__() got an unexpected keyword argument 'FLAML_sample_size' when building an ensemble"
When building an ensemble with the automl classification example in the notebook, I got the following error:

settings = {
    "time_budget": 200,  # total running time in seconds
    "metric": 'roc_auc',  # can be: 'r2', 'rmse', 'mae', 'mse', 'accuracy', 'roc_auc', 'roc_auc_ovr',
                           # 'roc_auc_ovo', 'log_loss', 'mape', 'f1', 'ap', 'ndcg', 'micro_f1', 'macro_f1'
    "task":

[2022-03-07 23:26] sonichi commented on #475
Are you sure it's the latest version? The log
`-> 2706 self._X_train_all, self._y_train_all, **self._state.fit_kwargs`
doesn't match the latest code.

[2022-03-08 16:35] flippercy commented on #475
print(flaml.__version__)

0.9.3

Is it anything newer available?

[2022-03-08 17:52] #475 closed

[2022-03-08 21:41] flippercy opened #476 "A potential issue with sklearn when building an ensemble with large datasets"
Hi @sonichi:

I noticed recently that if the dataset was large (hard to specify how 'large' it has to be), there was always a memory-related error when building the ensemble:

**TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating Sys

[2022-03-09 01:33] sonichi commented on #476
Does it fail when `n_jobs=2`?

[2022-03-09 17:40] flippercy commented on #476
I tried it with my internal datasets, default estimators from flaml and n_jobs=2; the issue still happened.

TerminatedWorkerError                     Traceback (most recent call last)
~/windows/Scorecards/Apps/R/Model-Development-Process/FLAML_Customized_Learners.py in <module>
      1 automl.fit(X_train = data_dev_balanced_B_X, y_train = data_dev_balanced_B_y,  sample_weight=data_dev_balanced_B_

[2022-03-10 02:04] sonichi commented on #476
Does `n_jobs=2` work when the dataset is smaller? If so, then it means that your RAM is not large enough to train 2 models at the same time.

[2022-03-11 21:40] flippercy commented on #476
It does. Actually, if the dataset is small enough, such as the one used by your notebook example, n_jobs is not an issue at all.

On the other hand, I am a bit suspicious that my RAM is not large enough for training even two models at the same time with the modeling dataset. It has 200GB+ RAM and during the training process we monitored the usage of RAM at the backend; it never exceeded 40% (80GB)

[2022-03-12 00:23] sonichi commented on #476
I guess one way to verify is to run two Python processes to train two models at the same time. If that doesn't fail, then it indicates extra memory consumption by stacking. Then, you can try running the stacking training outside flaml, using the best models found by flaml. If that still fails, then I'd suggest creating an issue in scikit-learn.

[2022-03-16 21:04] #476 closed

[2022-03-16 21:05] #58 closed

[2022-03-18 22:11] liususan091219 opened #487 "When sampled, time budget of each trial may not be optimal"
When sampled, the time budget of each trial is automatically set to time budget / total_data_size * 10000. This definition of time budget is adhoc and may not be optimal

[2022-03-21 02:03] #348 closed

[2022-03-21 02:03] #373 closed

[2022-03-21 02:03] #374 closed

[2022-03-21 21:13] sonichi opened #493 "allow user-defined meta feature function in suggest_config()"

[2022-03-21 22:40] lokijota opened #494 "Error: TypeError: generate_variants() takes 1 positional argument but 2 were given on 0.10.0"
Hi,

I'm trying flaml on a new data set on a regression problem. I'm using version 0.10.0 . The following error also happens if I use classification. The dataset looks like this:

[code]

The code is as simple as I can have it (I removed all the extra params). The error also happens if I limit to a specific estimator:

[code]

And the stack trace is:

[code]

Any ideas? I've used FLAML succesfully

[2022-03-21 22:44] lokijota commented on #494
Here's the version of ray, which seems to be the cause of the error:

[code]

[2022-03-21 22:50] lokijota commented on #494
I did an update of ray to '1.11.0' and now the error is different, I think this time related to dependencies to xgboost.

In an case, I don't see why flaml has a dependency on Ray if I don't use distributed training, and the coomment in https://github.com/microsoft/FLAML/blob/569908fbe64f08b19fbef7487513b81d62e6eaba/flaml/tune/space.py saying that ray > 1.0.0 is probably wrong.

Any suggestions to

[2022-03-21 22:59] lokijota commented on #494
The error above happens both with xgboost 1.5.2 (latest, just installed) or 1.3.3, which is supposed to be the supported version.

[2022-03-22 17:21] sonichi commented on #494
I can't reproduce that error with "python 3.6 - AzureML" and xgboost 1.3.3. Could you try the following code?
[code]
My output is:
[code]

[2022-03-22 23:15] lokijota opened #496 "Shape of feature_importances_ vs columns"
Hi,

I have trained a regression model that ended up with this lgbm config:

[code]

When I try the code in the FAQ to plot the feature importances:

[code]

I get this error:

[code]

If I go compare the shapes, I get:

[code]

[code]

So for some reason the feature_importances_ have 6 more columns, which I am absolutely sure are **not in the training or test datasets**.

Any ideas!?

This has ha

[2022-03-22 23:19] lokijota commented on #496
Using

[code]

For some reason works.

[2022-03-23 15:48] sonichi commented on #494
I made a PR to address the first issue.
For the second issue, could you try installing flaml in a clean environment? If the problem persists, we need to look deeper into the environment you are using.

[2022-03-24 22:35] lokijota commented on #496
Reopening issue. The above code,

[code]

Doesn't (from here: https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML) seem to work for the extra trees regressor. Is there any way to get the feature names (inc the ones that FLAML generates for datetime features), that works for all the regressors?

[2022-03-25 04:17] qingyun-wu commented on #496
Hi @lokijota, according to [ExtraTreesRegressor's documentation](https://scikit-learn.org/stable/modules/generated/sklearn.tree.ExtraTreeRegressor.html#sklearn.tree.ExtraTreeRegressor), you can use `feature_names_in_` to get the feature names. Currently, flaml is not providing a unified way to get feature names, and you need to check the attribute name for feature names in the specific model used.

[2022-03-25 22:03] qingyun-wu commented on #496
@Yard1, does this need for a unified way to get feature names also exist in PyCaret? If so, could you please share suggestions or pointers on how PyCaret is handling it?

[2022-03-25 22:37] Yard1 commented on #496
We just get the feature names from the dataframe used in the PyCaret experiment

[2022-03-26 21:25] EgorKraevTransferwise opened #504 "How to report a failed evaluation of evaluation_function to tune?"
I am trying to optimize a custom objective function, for which some evaluations may fail with an exception. I can catch the exceptions, but what is a graceful return value for the evaluation function to return to `tune.run` if the evaluation of that particular config has failed?

I could just return a very bad value of the metric being optimized, but wondering whether there is a better way, and co

[2022-03-26 22:39] sonichi commented on #504
Does the failure mean the configuration is bad? If so, returning a bad value of the metric is right.

[2022-03-28 09:21] EgorKraevTransferwise commented on #504
We search over ML models from the EconML repo (and their hyperparameters), and as some models there are fairly fresh, certain models can fail on certain datasets for all sorts of sometimes unforeseen reasons; the goal is to handle that gracefully and keep searching over models/configurations that work

[2022-03-28 09:23] EgorKraevTransferwise commented on #504
So do I understand correctly that with #505 merged, the evaluation_function should return an empty dict in this case? Would it not make sense to return a metric value of NaN instead? That way, the evaluation function could return other data in the return dict, eg details of the failure.

[2022-03-28 14:38] sonichi commented on #504
In your scenario, I still suggest returning a bad value of the metric being optimized because the failure does imply the configuration is bad for your dataset. The empty dict is meant for undeterministic evaluation error which doesn't imply the configuration is bad.

[2022-03-28 14:43] EgorKraevTransferwise commented on #504
But for "bad" I'd have to guess ahead of time the likely range of the metric and then return a valid float value worse than anything in that range, right? There is no support for eg a NaN metric value to indicate such a usecase?

[2022-03-28 14:58] sonichi commented on #504
You can return np.inf or -np.inf depending on whether you minimize or maximize the metric.

[2022-03-29 08:15] EgorKraevTransferwise commented on #504
Perfect, thanks! Will try that.

[2022-03-29 08:15] #504 closed

[2022-04-01 09:29] MichalChromcak opened #509 "New HCrystalBall release"
I published a new v0.1.12 release of [HCrystalBall](https://github.com/heidelbergcement/hcrystalball), that updated some package dependencies and fixed some bugs in cross validation.

Should the original pin for 0.1.10 be updated? Unfortunately won't have time soon to submit a PR for this.

[2022-04-01 15:02] sonichi commented on #509
Thanks @MichalChromcak .
If you get the chance to make a PR, please make sure all the tests can pass and the model quality does not regress in the notebook examples.
@int-chaos

[2022-04-01 15:04] int-chaos commented on #509
got it. will do

[2022-04-09 20:35] GDGauravDutta opened #510 "Error while fitting"
AssertionError                            Traceback (most recent call last)
/tmp/ipykernel_33/4176855811.py in <module>
----> 1 automl.fit(X_train, y_train, task="regression",metric='rmse',time_budget=3600)

/opt/conda/lib/python3.7/site-packages/flaml/automl.py in fit(self, X_train, y_train, dataframe, label, metric, task, n_jobs, log_file_name, estimator_list, time_budget, max_iter, sample, ense

[2022-04-10 19:29] sonichi commented on #377
@liususan091219 Is this issue solved already?

[2022-04-11 00:41] qingyun-wu commented on #510
Hi @[GDGauravDutta](https://github.com/GDGauravDutta), is your y_train_all a pandas series? Make sure it is in pandas series format.  Let me know if it does not resolve the issue. Thank you!

[2022-04-11 02:59] irhawks opened #512 "Error when gpu_per_trial is not an integer."
environment:
- GPU: Tesla V100 16GB, CUDA 11.1
- ray                       1.11.0
- FLAML                     1.0.0
- torch                     1.11.0

A huggingface's transformer model have the following configuration:

[code]

I want to train 2 trails in parallel by setting `n_concurrent_trials=2`. However, `gpu_per_trial=0.4` raises exception by the following code in `models.py` (line 664-672):

[2022-04-12 05:03] liususan091219 commented on #512
Hi @irhawks, thanks for pointing out this problem. Indeed, so far FLAML only supports integer-valued gpu_per_trial.

I just added a ceiling function to handle the fractional case: https://github.com/microsoft/FLAML/pull/513, it should be merged soon. Let me know if it solves your problem :)

Good question. The reason we reset is for handling our native tuning method (FLAML.tune). After fixing this

[2022-04-12 15:18] GDGauravDutta commented on #510
All are series

[2022-04-12 21:16] liususan091219 commented on #493
The current meta_feature function does not support different meta feature methods, need to add another parameter such as "algorithm" to support inputting the meta feature method:

meta_feature(task, X_train, y_train) -> meta_feature(task, method="data_size", X_train, y_train)

[2022-04-13 04:34] EgorKraevTransferwise opened #514 "How can I gracefully continue an optimization run once completed?"
I would like to first do a `tune.run()` over a certain subset of the search space, with a certain time budget, then depending on the results continue that fit while possibly using a different subset of the same search space, but taking into account the previous runs.

What is the most graceful way of doing that? I could take the previous results from `.results` and transform them them into `points

[2022-04-13 15:31] LeavesWang opened #515 "AttributeError: 'GroupKFold' object has no attribute 'groups'"
When I set "split_type" as GroupKFold, then use fit() with setting "groups", I got the issue: _AttributeError: 'GroupKFold' object has no attribute 'groups'_ and

So it seems the _groups_ value needs to be assigned in the **_evaluate_model_CV()_** function. Am I right?

[2022-04-13 17:18] sonichi commented on #515
For clarification, did you set `split_type` as the string 'group' or as a custom GroupKFold object? In the former case, the `groups` attribute should have been assigned by flaml. In the latter case, it is not.

[2022-04-14 04:25] qingyun-wu commented on #510
Hi  @[GDGauravDutta](https://github.com/GDGauravDutta), Can you share with me a copy or a sub-sample of your data such that I can reproduce the error you had? Thank you!

[2022-04-14 07:02] jayshanker2000 opened #516 "Unable to import from flaml.ml.sklearn_metric_loss_score as it throws wrappedAttributeError: readonly attribute (Python 3.10.4, flaml 1.0.0)"
The fix i got was to move change the order from

`@wraps(super_class._get_param_names)`
`@classmethod`

to

`@classmethod`
`@wraps(super_class._get_param_names)`

in flaml.default.estimator.py

![image](https://user-images.githubusercontent.com/39528562/163331663-79140a57-232c-4774-aaa4-2b6a9b913a2f.png)

[2022-04-14 16:17] busekoseoglu opened #517 "KeyError [...77789,77790] index not found error when I put AutoML in sklearn pipeline and run it"
Code:

categorical_transformer = Pipeline(steps=[('one_hot', OneHotEncoder())])
categorical_features = ['merchant_category', 'merchant_group',"name_in_email"]

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features)
    ])

clf = Pipeline(steps=[('missing', fill_missing()),
                      ('outlier', outlier_filling()),

[2022-04-14 17:20] qingyun-wu commented on #514
Hi @[EgorKraevTransferwise](https://github.com/EgorKraevTransferwise),

What you said, "take the previous results from .results and transform them into points_to_evaluate and evaluated _rewards for the next run," is the right way to do it currently. By `clumsy`, do you mean it requires additional code? Presumably, it should just take 1 or 2 additional lines of code. let me know if you need help.

[2022-04-14 17:46] sonichi commented on #517
@busekoseoglu I can't reproduce this problem with my synthetic data for testing. Could you please share an example dataset to reproduce this problem?
BTW, you don't have to use one hot encoding before AutoML.fit(). It often works better without this encoding.

[2022-04-15 13:23] LeavesWang commented on #515
Thank you, [sonichi](https://github.com/sonichi)! You are right. I changed the `split_type` from  the custom GroupKFold object created by sklearn to "groups". In addition, my task is regression and setting `split_type` as "groups". Then everything is good.

[2022-04-15 14:56] sonichi commented on #515
Great. I'd appreciate your feedback in this survey:
https://docs.google.com/forms/d/e/1FAIpQLSd0u4BbSzr-m9hgM8rmPlYB_JJoFXeHhuoXI9YFbHDRWrDlOQ/viewform?usp=sf_link

[2022-04-15 15:40] busekoseoglu commented on #517
Of course, I am attaching an example csv file. I ran it without One hot encoding but I'm wondering if it will work as well
[sampledf.csv](https://github.com/microsoft/FLAML/files/8496779/sampledf.csv)
.

[2022-04-15 16:29] sonichi commented on #517
This works for me:
[code]

I removed the first two steps in your pipeline because they are undefined.

[2022-04-15 18:18] jayshanker2000 commented on #516
Thanks for the response!!

I have created the following Pull Request: https://github.com/microsoft/FLAML/pull/518

[2022-04-15 18:18] #516 closed

[2022-04-15 18:34] bbstats commented on #515
Is there any solution which lets you use the GroupKFold object instead?

[2022-04-15 21:50] sonichi commented on #515
Yes. The solution would be create a PR and move https://github.com/microsoft/FLAML/blob/cfed6578121ac5d1e7f2212b15f6fb7babfd751d/flaml/automl.py#L1231
to https://github.com/microsoft/FLAML/blob/cfed6578121ac5d1e7f2212b15f6fb7babfd751d/flaml/automl.py#L1267
with an `if` check whether the kf object is of type GroupKFold.
Would you like to create a PR?

[2022-04-18 13:23] luoguohao opened #519 "Does FLAML support distributed models such as pytorch ddp or distributed xgb/lgbm?"
As I noticed that flaml integrating Ray to support distributed hyperparamerters tuning, but what if the model need to be distributed, how it works on FLAML or it is not supported yet ?

[2022-04-18 13:36] luoguohao commented on #519
my mistake, i just learn that ray already supported DDP and xgb.  but as we already using kubeflow training operators for pytorch and xgb，it is possible to integrate with kubeflow directly instead of ray?

[2022-04-18 14:13] sonichi commented on #519
Yes. You can modify https://github.com/microsoft/FLAML/blob/46f80dfa16a1396027a2f8fea2460f5795e3ee20/test/tune_example.py#L21
For example, you can replace https://github.com/microsoft/FLAML/blob/46f80dfa16a1396027a2f8fea2460f5795e3ee20/test/tune_example.py#L30 with your distributed training code.

[2022-04-20 23:48] justinxzhao opened #520 "AutoML throws TypeError: 'int' object does not support item assignment"
My code (nothing fancy):

[code]

Stack trace:

[code]

Relevant culprit code:

https://github.com/microsoft/FLAML/blob/main/flaml/tune/space.py#L373-L374

It looks like `point` is set to an integer and on the very next line is treated differently.

[2022-04-21 01:47] sonichi commented on #520
Thanks for finding this bug. I'm trying to reproduce it.

[2022-04-21 05:02] justinxzhao commented on #520
A couple of observations that may help with reproducing on your end:
- It happens specifically in the distributed setting with Ray.
- It's happening with smaller sized datasets that have a mix of number and binary features.
- It seems to be non-deterministic -- rerunning without changing anything sometimes works, and the trial that it causes the failure also varies.