[2022-04-21 10:25] EgorKraevTransferwise commented on #514
Thanks! By 'clumsy', I mean for example that this approach doesn't allow to do a run, then both resume the run so taking into account the earlier attempts, and at the same time prescribe some new config points for it to try for which the score is as yet unknown (useful, for example, when the resuming run wants to add a couple of new model types to the search space).
Also, if I do it this way, will

[2022-04-21 15:53] sonichi commented on #520
[code]
`value[choice]` is supposed to be a dict here. If it's not, the next line will fail. I haven't been able to reproduce that bug. Could you add `print(key, value, choice)` between these two lines and share the output with me? That would help me identify the cause. Thanks!

[2022-04-21 16:23] sonichi commented on #520
I'm able to reproduce that bug now.

[2022-04-22 18:22] qingyun-wu commented on #514
Hi @[EgorKraevTransferwise](https://github.com/EgorKraevTransferwise), thank you for your explanation. We plan to improve the way to accept `points_to_evaluate` and `evaluated _rewards` such that `tune.run` can both accept the evaluated points and new points. This should be able to resolve the first clumsy issue you mentioned. I will keep you posted about this improvement.

For the second question

[2022-04-23 22:33] #520 closed

[2022-04-25 18:53] qingyun-wu commented on #514
Hi @[EgorKraevTransferwise](https://github.com/EgorKraevTransferwise),

The two needs you mentioned should have been resolved by the above PR, which was released via v1.0.1 yesterday.
(1)  [revised `points_to_evaluate ` and `evaluated_reward`, which allows you to append new points that do not have reward at the end of `points_to_evaluate`](https://github.com/microsoft/FLAML/blob/main/flaml/tune/tu

[2022-04-26 11:27] TimoFlesch commented on #514
Hi, I'm working with Egor on this. Thank you very much for the quick replies! I've just implemented the warm start by supplying `evaluated_rewards` and `points_to_evaluate` which includes all configs from the result dict of the previous run, as well as some additional configs which we hadn't tried previously (here's the code https://github.com/transferwise/auto-causality/pull/109/commits/ed0f43e91

[2022-04-26 17:57] sonichi opened #523 "docstr cleanup"
remove
https://github.com/microsoft/FLAML/blob/a1c49ca27be8439e69904bec222eed65705a5f0d/flaml/model.py#L259-L260

[2022-04-27 00:35] liususan091219 opened #525 "+ use case"
![image](https://user-images.githubusercontent.com/5702457/165415061-ecb57234-f415-447f-b09d-6a3acf120259.png)

[2022-04-27 01:23] liususan091219 commented on #525
https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML/#search-space

[2022-04-27 01:32] liususan091219 commented on #525
关于nlp的example应该看一下有没有过时需要改的

[2022-04-27 02:11] #512 closed

[2022-04-27 02:35] qingyun-wu commented on #514
Hi @TimoFlesch, thank you for following up. The results are in fact added to the `results` property of the searcher instead of the returned ExperimentAnlaysis class. Sorry about the confusion. Please find an example in this link: https://github.com/microsoft/FLAML/blob/main/test/tune/test_tune.py#L246

[2022-04-27 08:11] TimoFlesch commented on #514
Hi @qingyun-wu  Ok that makes perfect sense, thanks for the quick reply!
I can confirm that it works as intended, this issue can be closed now.

[2022-04-27 13:19] #514 closed

[2022-04-27 14:50] #523 closed

[2022-04-27 18:23] qingyun-wu commented on #514
Hi @[TimoFlesch](https://github.com/TimoFlesch), and @[EgorKraevTransferwise](https://github.com/EgorKraevTransferwise),

Sure. You are welcome. If you haven't done so, can you please do a quick survey about FLAML: https://docs.google.com/forms/d/e/1FAIpQLSd0u4BbSzr-m9hgM8rmPlYB_JJoFXeHhuoXI9YFbHDRWrDlOQ/viewform?usp=sf_link

Thank you!

[2022-04-28 15:45] liususan091219 opened #526 "TransformersEstimatorForModelSelection model_path search space based on memory cost"
Add TransformersEstimatorForModelSelection model_path search space based on memory cost

[2022-04-28 18:06] #307 closed

[2022-04-28 18:06] #452 closed

[2022-04-28 20:21] liususan091219 opened #527 "remove empty row from data"
remove empty row from data

[2022-04-28 23:31] sonichi commented on #451
closing as #452 is an alternative solution already implemented in #511

[2022-04-28 23:31] #451 closed

[2022-05-04 04:32] qingyun-wu opened #535 "Reproducibility of flaml.tune when the searcher is set up externally"
Use the following test code to reproduce the issue
https://github.com/qingyun-wu/FLAML/blob/reproducibility/test/tune/_test_reproducibility.py

[2022-05-04 08:00] #519 closed

[2022-05-04 08:23] HuangChiEn opened #536 "Hung on a long time in fit"
As the title described, the console is hung on after completing the fit function.
The following figure shows the console output, it's obvious that the program should continue to perform the model evaluation, but it's hang on fit function for a long time.

![image](https://user-images.githubusercontent.com/52521165/166645621-5a62e7c4-5c5a-4395-9b33-9883e6f60da0.png)

[code]

[2022-05-04 15:14] sonichi commented on #536
@HuangChiEn From the console msg, it is stuck at the step of building the ensemble model (sorry for not making that explicit in the msg). You can verify it by removing `"ensemble": True` from the settings.

[2022-05-04 15:25] sonichi opened #537 "make the ensemble step msg more explicit."
@HuangChiEn From the console msg, it is stuck at the step of building the ensemble model (sorry for not making that explicit in the msg). You can verify it by removing `"ensemble": True` from the settings.

_Originally posted by @sonichi in https://github.com/microsoft/FLAML/issues/536#issuecomment-1117464699_

Suggestion: Modify https://github.com/microsoft/FLAML/blob/c1e1299855dcea378591628ae4ec

[2022-05-05 00:17] HuangChiEn commented on #536
Thank you ~ it works!! 😊
---
Although it's fine to remove the ensemble parameters in my case, do you mind to explain why the process will huang on while enable the "ensemble flag" ? (just curious~)

[2022-05-05 00:19] HuangChiEn commented on #536
I saw the related issue you opened for more deatil~
🔗 https://github.com/microsoft/FLAML/issues/537
Thank you !!

[2022-05-05 00:19] #536 closed

[2022-05-09 07:22] LinWencong opened #542 "run test_restore.py and got _pickle.UnpicklingError: state is not a dictionary"
I use BlendSearch save() and restore() functions to achieve a warm start from a file, but got these problem。
so I run test_restore.py, and got the same problem

  File "test_restore.py", line 57, in testWarmStart
    results_exp_2 = self.run_explicit_restore(r_state, checkpoint_path)
  File "test_restore.py", line 38, in run_explicit_restore
    search_alg2.restore(checkpoint_path)
  File "/usr/lo

[2022-05-10 19:42] qingyun-wu commented on #542
Hi @[LinWencong](https://github.com/LinWencong),

Thank you for raising the issue and making a contribution to resolving it. I have two questions/comments:
(1) I cannot reproduce the error you reported by running test_restore.py. Can you provide more information about how you were running the test? And can you also try the latest flaml version v1.0.2 (although I did not get the error in v0.10.0 as

[2022-05-11 14:13] sonichi opened #547 "flaml crashes on MacOS Monterey v 12.3.1"
### Discussed in https://github.com/microsoft/FLAML/discussions/543

<div type='discussions-op-text'>

<sup>Originally posted by **scvail195** May  9, 2022</sup>
Call to resource.setrlimit(resource.RLIMIT_AS, (memory_limit, hard)) causes error
<img width="1399" alt="Screen Shot 2022-05-05 flaml crash" src="https://user-images.githubusercontent.com/90455225/167453259-0e30f323-0ae6-46ae-ab4d-2b20b39

[2022-05-11 14:21] sonichi commented on #547
According to https://bugs.python.org/issue40518, it's a mac-specific error.
Proposed change: catch the ValueError and output a warning.

[2022-05-12 11:08] LinWencong commented on #542
Referring to the error message of Build / build (ubuntu-latest, 3.7), it may be wrong to simply remove the random state without saving the complete information;
But I don't understand why I can pass several of these test pipelines

[2022-05-12 11:08] LinWencong commented on #542
Referring to the error message of Build / build (ubuntu-latest, 3.7), it may be wrong to simply remove the random state without saving the complete information;
But I don't understand why I can pass several of these test pipelines

[2022-05-12 16:26] LinWencong commented on #542
Hi  @qingyun-wu,

Thanks for your guidance❤️.

Referring to the error message of test pipeline : Build / build (ubuntu-latest, 3.7), I found the inconsistency problem as well.
It may be incorrect to simply remove rs_random without saving its entire state when saving. When restoring, rs_random is initialized to a new state, and no historical information is recorded, which will also cause inconsiste

[2022-05-12 16:43] LinWencong commented on #542
Maybe this part is causing the error.

/flaml/tune/sample.py

[code]

I will do more tests.

[2022-05-13 07:50] mossadhelali opened #548 "[FLAML Crash] [Classification] ValueError: Categorical categories must be unique"
Hey, thanks for the great system.

I am experiencing a crash with a specific dataset. I get the following error when I fit FLAML on the [Higgs](https://www.openml.org/search?type=data&status=active&id=23512) dataset, a binary classification dataset used in the FLAML paper:
[code]

Here is my script:
[code]

Your feedback is appreciated.

[2022-05-13 08:01] mossadhelali opened #549 "[FLAML Crash] [Regression] Do not support special JSON characters in feature name."
Hey, thanks for the great system.

I am experiencing a crash with two specific regression datasets: [mv](https://github.com/EpistasisLab/pmlb/tree/master/datasets/344_mv) (used in the FLAML paper) and [MagicTelescope](https://www.openml.org/search?type=data&sort=runs&id=1120&status=active). I get the following error when I fit FLAML on these datasets:
[code]

Here is my script:
[code]

Your feedba

[2022-05-13 08:07] mossadhelali opened #550 "[FLAML Crash] [Classification] 0 feature is supplied. Are you using raw Booster interface?"
Hey, thanks for the great system.

I am experiencing a crash with the following multi-class classification dataset from Kaggle: [spooky-author-identification](https://www.kaggle.com/c/spooky-author-identification). I get the following error when I try to fit FLAML:
[code]

Here is my script:
[code]

Your feedback is appreciated.

[2022-05-13 14:37] sonichi commented on #548
Could you share the .csv file? A few lines are enough as long as this error can be reproduced. Also, could you let me know the flaml version?

[2022-05-13 14:39] sonichi commented on #549
Could you share the .csv file? In the paper we used openml API to load the data instead of the .csv file. To reproduce the error I need to have the same .csv file used. Thanks.

[2022-05-13 14:41] sonichi commented on #550
Could you share a link to download the .csv file? Thanks.

[2022-05-14 17:40] sonichi commented on #542
Thanks @LinWencong for looking into this. If you can confirm that numpy version is the cause, I agree with updating the numpy version in setup.py.

[2022-05-14 19:26] qingyun-wu commented on #542
@[LinWencong](https://github.com/LinWencong),

Thank you for looking into it. I tried "NumPy==1.16.2", and "NumPy==1.16.4" and indeed reproduced the error. With versions "NumPy>=1.17.0", the tests work well. I guess we can update the numpy version in setup.py.  @sonichi

[2022-05-15 03:17] mossadhelali commented on #549
Thanks @sonichi for your reply. Please find the .csv files of ([mv](https://drive.google.com/file/d/1XPR2Y4oAJwAgnCjN_oBPssNsJgkTpqRf/view?usp=sharing)) and ([MagicTelescope](https://drive.google.com/file/d/1kUGjhMy2UeuzgdzM4aSICtIj4rv_XNDm/view?usp=sharing)).

[2022-05-15 03:19] mossadhelali commented on #548
Thanks @sonichi for your reply. Please find the .csv file of ([higgs](https://drive.google.com/file/d/1uzZtnFpqu7t9msiPmpplHB_Qi3Ps4xDS/view?usp=sharing)). I am using FLAML v0.6.3

[2022-05-15 03:22] mossadhelali commented on #550
Thanks @sonichi for your reply. Please find the .csv file of [spooky-author-identification](https://drive.google.com/file/d/1K0RNQuIREw5gB-0d5g1vunimWHSdAPFz/view?usp=sharing]).

[2022-05-15 18:22] sonichi commented on #550
Thanks @mossadhelali . The reason is that the raw text feature column is removed in preprocessing. There is no automatic feature engineering for pure text data in flaml now for `task='classfiication'`. We do support `task='seq-classfiication'` for such use cases. This is a big area for improvement and we'd appreciate contributions if it's of your interest.
cc @liususan091219

[2022-05-15 18:35] sonichi commented on #549
Thanks. For mv, the problem is that the first column is a numeric id column. The following code works for me:
[code]

[2022-05-15 18:46] sonichi commented on #548
Thanks. I received a warning when reading the csv:
[code]
Then, I found that the last row contains `?` in it. After I removed `?`, the warning is gone and I don't get an error.

[2022-05-17 01:33] mossadhelali commented on #548
Thanks for your reply, @sonichi . This worked for the higgs dataset, but I can imagine it might appear again for other datasets. Any plans to fix this in future releases?

[2022-05-17 01:37] mossadhelali commented on #549
Thanks for your reply, @sonichi . I find it weird because FLAML worked for me on the housing prices datasets ([CSV link](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data?select=train.csv)), which also has the first column as ID. Also, would this issue happen if the column was not the first one?

[2022-05-17 01:47] sonichi commented on #548
Your suggestion is welcome here. I don't know how common it is to use "?" for missing data, and how we are supposed to infer that without explicit hint from users. For example, we can't simply replace all "?" by "" because it could be a legitimate value. What would you recommend to address this kind of ambiguity?

[2022-05-17 01:52] sonichi commented on #549
It "worked" because the first column is named, but the ID column is still used as a feature column which it shouldn't. So for housing price datasets using `index_col=0` should give you better performance.
The LightGBMError is raised because the first column is unnamed in mv. So mv has two issues, and `index_col=0` solves both.

[2022-05-17 16:42] mossadhelali commented on #548
I have seen multiple OpenML datasets where the NaN values are stored as "?". I understand that a blind replacement of "?" with NaN might not be desired in some situation, but how about an analysis of the data types of column values? If e.g. 90%+ of values are integers, then "?" can be interpreted as NaN. If FLAML already has column data type checks, this can be integrated into it.

[2022-05-17 17:19] mossadhelali commented on #549
I see, thanks, @sonichi . Can this be automated somehow? i.e. detecting which columns in a dataset is an index column?

[2022-05-17 20:00] sonichi commented on #549
It's an open question. The hard part is to be correct in all the cases.

[2022-05-17 20:13] sonichi commented on #548
Interesting idea. Do you suggest replacing "?" with NaN automatically if 90%+ of values are integers and the remainder are "?"? What if I do use 0 and ? to represent two categories and I have 90% 0s in my data?

[2022-05-18 00:25] liususan091219 opened #552 "Fix the indentation of fit_kwargs_by_estimator in automl.py"
The indentation of fit_kwargs_by_estimator is not consistent with custom_hp:

https://github.com/microsoft/FLAML/blob/main/flaml/automl.py#L2203

which appears inconsistent in:

https://microsoft.github.io/FLAML/docs/reference/automl

[2022-05-18 03:49] sonichi commented on #552
The problem is that the code environment before that line is not closed. Adding ``` before the line would fix it.

[2022-05-18 03:51] sonichi commented on #542
@LinWencong would you like to either update #545 or create a new PR to solve this issue?

[2022-05-18 04:22] LinWencong commented on #542
I am glad to do that 😊.
At the same time, I also want to explore the real cause of this problem with numpy<1.16.* .
I will create a new PR soon.

[2022-05-18 13:32] harish445 commented on #552
Fixed the issue and created pull request. I am new to open-source. please review it.

[2022-05-19 23:29] #552 closed

[2022-05-23 18:23] #542 closed

[2022-05-23 22:41] sonichi opened #557 "Remove `cat_hp_cost` from docstr"
Remove https://github.com/microsoft/FLAML/blob/515a77ac712893700766575be67500ac4f8f22cd/flaml/searcher/flow2.py#L61-L64

[2022-05-24 00:31] Mount-Blanc commented on #557
Hello, I would like to work on this issue.

[2022-05-24 23:49] sonichi commented on #557
@Mount-Blanc Thanks for your interest. There is already a PR created. Would you like to pick another issue to work on?

[2022-05-26 17:21] #557 closed

[2022-05-30 13:34] TimSchim commented on #434
I noticed this issue was closed but I just encountered the same problem with a default estimator.
[code]
returns
[code]
where the last estimator should be ```xgb_limitdepth```, which is in ```automl.estimator_list```.

Since this did not happen for a colleague with same estimators and data it might in fact be somewhat random.

[2022-05-30 13:38] flippercy commented on #434
And I can confirm that this issue still exists for me.

[2022-05-30 14:08] TimSchim commented on #434
Found the source of this for my case.
Seems like ```xgb_limitdepth``` gets relatively few resources compared to the other estimators which leads to no model being fit for this estimator.
Increasing the time_budget solved it for me.

[2022-05-31 19:11] #525 closed

[2022-06-02 21:45] justinxzhao opened #568 "pip install flaml failing with HTTP error 403"
Perhaps this is due to the release from 40 minutes ago, in our Github tests and running locally, we're getting an error:

[code]

Similar error with with `pip install flaml\[blendsearch\]`

[2022-06-03 00:04] sonichi commented on #568
I just tested and I didn't see the error:
Collecting flaml
  Downloading FLAML-1.0.4-py3-none-any.whl (195 kB)
     |████████████████████████████████| 195 kB 8.0 MB/s

Could you try again?

[2022-06-03 15:52] justinxzhao commented on #568
The error's gone for me now too -- glad that it was intermittent!

It's odd that `pip install flaml` was not working for about an hour or two yesterday (several of our PRs were failing), probably some issue with pythonhosted's hosting.

[2022-06-03 15:52] #568 closed

[2022-06-03 19:30] liususan091219 commented on #550
@mossadhelali thanks for your question. Indeed, you should be using the NLP module with the task = 'seq-classification' option. Here is the sample code for using FLAML to classify the spooky-author-identification dataset:

[code]

I ran the above code on my local machine with 4x NVIDIA V100 GPUs and got a 0.389 multi-class logarithmic loss on the test dataset. Please let us know if this solution w

[2022-06-04 04:34] sonichi commented on #568
@justinxzhao If you use flaml in your project, we'd appreciate your feedback in this survey:
https://docs.google.com/forms/d/e/1FAIpQLSd0u4BbSzr-m9hgM8rmPlYB_JJoFXeHhuoXI9YFbHDRWrDlOQ/viewform?usp=sf_link

Thank you!

[2022-06-04 19:01] sonichi opened #570 "Fix misplacement of space in doc"
https://microsoft.github.io/FLAML/docs/FAQ

"but it is not required( It is fine to leave it the default value, i.e., None)."

[2022-06-04 19:43] sonichi opened #571 "Update the .NET offering in README and website documentation"
Two places to update:

1. one paragraph of README.md
<img width="444" alt="image" src="https://user-images.githubusercontent.com/4250911/172023261-9650e493-77e9-46b0-9a4b-d8ae83aaf6d5.png">

2. one sentence in https://microsoft.github.io/FLAML/docs/Installation
<img width="366" alt="image" src="https://user-images.githubusercontent.com/4250911/172023280-1d06e2f1-5b07-44e0-85b1-fc530cca3541.png">

[2022-06-05 18:03] #570 closed

[2022-06-07 05:36] sonichi opened #576 "arima and sarimax init value"
In version 1.0.2 to 1.0.5, the init value of quniform HPs in arima and sarimax is int which doesn't pass the validity check. So these init values are not respected.

I propose a change in PR #575 .

Also, I suggest adding a performance test like https://github.com/microsoft/FLAML/blob/619107edf504905b069e0ca77f117f8aca32d042/test/automl/test_notebook_example.py#L73 for the forecasting task (@int-c

[2022-06-07 10:29] prateekgml opened #577 "AssertionError: y_train_all must be a numpy array or a pandas series."
Hi,

While fitting the model using below kine of code:

`from flaml import AutoML
automl = AutoML()
automl.fit(train_x, train_y, task="classification", estimator_list=["catboost"])`

I am facing following error-
![image](https://user-images.githubusercontent.com/97145738/172349243-1158cfbd-eeec-4a24-8145-6cf69f49f225.png)

My running environment is: Kaggle

Let me know if I can share my notebook l

[2022-06-08 23:44] qingyun-wu commented on #577
Hi @[prateekgml](https://github.com/prateekgml),

Can you check if your data `y_train` is a NumPy array or a pandas series of labels in shape (n, )? If not, can you first convert it to the required format?

You can share your notebook link with me if you need help.

Thank you!

[2022-06-09 04:03] prateekgml commented on #577
Thanks @qingyun-wu
After changing to `train_y = train["target"]` assertion error issue is resolved.

But now I am facing out of memory error while fitting the model. Can you please help me how can I proceed?

[amex-train-model.txt](https://github.com/microsoft/FLAML/files/8866693/amex-train-model.txt)

Please change extension from .txt to .ipynb to see the content of the notebook.

[2022-06-09 05:57] justinxzhao commented on #568
Filled out the survey!

[2022-06-09 14:22] prateekgml commented on #577
Hi @qingyun-wu ,

No, it did not help.
Although with taking 55% of data I am able to proceed-
`train = train.sample(frac=0.55, random_state=42)`

But now facing the following error-

`CatBoostError: catboost/private/libs/target/target_converter.cpp:375: Target contains only one unique value`

The full trace is as below-

![image](https://user-images.githubusercontent.com/97145738/172870269-75f95d9

[2022-06-10 08:12] EgorKraevTransferwise opened #580 "Nested FLAML optimizations get their search spaces tangled up"
When using FLAML to search over models, which themselves have a FLAML regressor as a component, in the same Python process, we find that the two search spaces are confused, and the component FLAML regressors get fed arguments from the outer search space (and therefore fail).

We use joblib to work around that, so each inner FLAML regressor fit runs in a separate process spawned by joblib.

A way t

[2022-06-10 23:28] sonichi commented on #580
Cause:
The global variables defined in: https://github.com/microsoft/FLAML/blob/0642b6e7bbaed8aab3fb775c51af4fda3472e242/flaml/tune/tune.py#L28-L32
would be modified when calling `tune.run()` (invoked by `flaml.AutoML`) inside `tune.run()` (invoked by `auto_causality`).

Proposed solution:
Before https://github.com/microsoft/FLAML/blob/0642b6e7bbaed8aab3fb775c51af4fda3472e242/flaml/tune/tune.py#L4

[2022-06-11 01:09] sonichi opened #582 "TypeError: __init__() got an unexpected keyword argument 'ml'"
### Discussed in https://github.com/microsoft/FLAML/discussions/581

<div type='discussions-op-text'>

<sup>Originally posted by **prateekgml** June 10, 2022</sup>
Hi,

I am trying to fit the model with the ensemble option-

`automl.fit(X_train=X_train, y_train=y_train, task='classification', ensemble=True, use_ray=True, seed=42)`

But I am getting the following error:-

![image](https://user-imag

[2022-06-11 02:22] qingyun-wu commented on #577
Hi @[prateekgml](https://github.com/prateekgml), I guess only one value exists on the target attribute in your subsampled dataset, which caused the error in catboost classifier. Can you revise the way to subsample the data (make sure both the positive and negative values exist in case of a binary classification task)?

Thank you!

[2022-06-11 03:48] prateekgml commented on #577
Thanks @qingyun-wu , after revising my dataset I am able to proceed but it seems with FLAML, we cannot proceed with a large dataset. I tried to fit the model with use_ray=True attribute but it failed with OOM error. I can proceed with only 50% data.

[2022-06-11 03:48] #577 closed

[2022-06-11 04:28] #582 closed

[2022-06-11 13:24] EgorKraevTransferwise commented on #580
Why do you even use global variables? Why not eg use a Borg that stores these variables per FL:AML session, with the session ID being eg a uuid4 generated at each tune.run() invocation, or something like that? Or am I missing the point?

[2022-06-11 14:12] sonichi commented on #580
The global variables are used for `tune.report()` call in the user-defined training function. In the user-defined training function, there is no awareness of session context. `tune.report()` needs to access and update some global variables when it's called. Even if a session id is used, the session id needs to be a global variable and we still need to do this backup-recover to handle nested `tune.

[2022-06-14 04:52] #535 closed

[2022-06-14 10:12] wisecornelius opened #588 "Pytorch Lightning Integration"
This is a feature request:

It would be great to have an integration with PyTorch Lightning the way that `Optuna`, `Ray-Tune` or `W&B` have it.

[2022-06-14 14:20] sonichi commented on #588
Thanks for the suggestion. Does the "way `Ray-Tune` have it" refer to [this](https://docs.ray.io/en/latest/tune/examples/tune-pytorch-lightning.html)?

[2022-06-14 17:36] sonichi commented on #588
Good. Since flaml.tune can use ray as the backend, you can do the same thing in `flaml.tune.run()` as long as setting `use_ray=True`.

[2022-06-14 18:03] #580 closed

[2022-06-15 16:18] sonichi opened #592 "modify setup instructions"
In https://microsoft.github.io/FLAML/docs/Contribute#setup
Change
`pip install -e .[test,notebook]`
into
`pip install -e FLAML[test,notebook]`

[2022-06-15 20:46] #547 closed

[2022-06-15 22:45] #592 closed

[2022-06-16 03:13] #308 closed

[2022-06-17 21:36] #433 closed

[2022-06-18 13:48] #537 closed

[2022-06-20 12:20] ZviBaratz opened #598 "Support for recent xgboost version"
Hi,

I am getting a repeating `FutureWarning` from `xgboost` during fitting:
[code]
Would be great to update the requirements to support more recent versions of`xgboost`.

Thank you very much for all your great work!

[2022-06-20 17:49] sonichi commented on #598
@ZviBaratz I can make a PR to support the latest version of xgboost, if you are willing to review the PR and test it.

[2022-06-20 18:48] ZviBaratz commented on #598
@sonichi thank you! Will gladly review and test 🙏

[2022-06-20 23:42] sonichi commented on #598
Thanks. Please review and test #599

[2022-06-21 17:01] ZviBaratz opened #600 "Unused settings in scikit-learn pipeline integration example"
The ["Run AutoML in the pipeline"](https://microsoft.github.io/FLAML/docs/Examples/Integrate%20-%20Scikit-learn%20Pipeline#run-automl-in-the-pipeline) section of the docs contains the following snippet:

[code]
It seems like `settings` should have been included in the call to `Pipeline.fit()`, perhaps like:
[code]
Or possibly:
[code]
I'd be happy to come up with a PR with either version, if I'm no

[2022-06-21 19:39] qingyun-wu commented on #600
Hi [ZviBaratz](https://github.com/ZviBaratz), thank you for catching this mistake in the documentation. Both versions of the proposed change look good to me. Please feel free to create a PR with either version. Feel free to let me know if you need any help.

[2022-06-22 01:59] #598 closed

[2022-06-22 04:23] sonichi commented on #434
Thanks @TimSchim
@flippercy @TimSchim there is no guarantee to train every estimator in the estimator list within the time budget. One way to increase the priority of a particular estimator is to redefine the `cost_relative2lgbm()` function for the corresponding estimator class. The lower is the cost, the higher is the priority.

[2022-06-22 07:47] ZviBaratz opened #601 "Running tests in devcontainer creates unignored files"
When working in a devcontainer, running tests creates a `core` file and `test` directory which are not included in the `.gitignore` file. Would be great to add them.

[2022-06-22 08:28] ZviBaratz opened #603 "Use magic %pip command in notebooks"
It is recommended to use the [`%pip`](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-pip) command rather than `!pip`.

[2022-06-22 08:41] ZviBaratz opened #605 "Update packaging format"
Python packaging is moving towards ditching the `setup.py` file altogether and using `pyproject.toml` and `setup.cfg`. Would is be a welcome PR if I replace the existing `setup.py` with the new files?

[2022-06-22 15:24] sonichi commented on #605
That sounds a good idea, especially if you are interested in being a maintainer.  BTW, thanks for your contributions so far. Do you use flaml in your project?

[2022-06-22 16:22] ZviBaratz commented on #601
My mistake, a partial run of the tests left some artifacts that should simply be removed.

[2022-06-22 16:22] #601 closed

[2022-06-22 16:31] ZviBaratz commented on #605
@sonichi glad to hear, and I would be happy to become a maintainer.
I am using flaml as part of my PhD, studying the individuality of anatomical MRI-derived features and their relationship with physiological and cognitive attributes. I was looking up AutoML frameworks and came across flaml in the [OpenML Benchmark](https://openml.github.io/automlbenchmark/) website.
I am under some pressure to fin

[2022-06-23 02:44] #600 closed

[2022-06-23 07:42] ZviBaratz opened #608 "Update pre-commit hooks"
`pre-commit` is using a deprecated `flake8` hook and an old version of `black`.

[2022-06-23 16:36] qingyun-wu opened #611 "Reproducibility test keeps breaking"
Failed runs:
https://github.com/microsoft/FLAML/runs/7026006370?check_suite_focus=true
https://github.com/microsoft/FLAML/runs/7019067677?check_suite_focus=true

Need to debug this test case:
https://github.com/microsoft/FLAML/blob/main/test/tune/test_reproducibility.py

I will debug later tonight if no one helps before that.

[2022-06-23 22:16] #611 closed

[2022-06-24 01:45] #603 closed

[2022-06-25 17:46] #608 closed

[2022-06-30 04:04] #515 closed

[2022-07-01 16:59] sonichi opened #622 "code example format in the doc"
https://microsoft.github.io/FLAML/docs/Examples/Integrate%20-%20AzureML
add a space after the comma in `subscription_id='<azure-subscription-id>',resource_group=`

[2022-07-01 19:02] 31Sanskrati commented on #622
Can I work on issue #622

[2022-07-01 20:29] sonichi commented on #622
Yes please.

[2022-07-02 12:59] adi611 commented on #622
Hi I have fixed this in #624

[2022-07-02 15:28] sonichi commented on #622
@adi611 There was already a PR for this issue before yours. Thanks all the same. Would you like to work on a different issue?

[2022-07-02 15:50] adi611 commented on #622
Yes definitely

[2022-07-02 16:04] #622 closed

[2022-07-02 17:42] Shafi2016 opened #625 "AttributeError: 'DataFrame' object has no attribute 'copy'"
I m using autoML(FLAML) with Spark on large data. The error image is given below

[code]

Everything works fine up to the above point.
[code]

![image](https://user-images.githubusercontent.com/56795978/177010789-b3d04a04-e02b-4168-be0b-f48a08e1f036.png)

[2022-07-02 23:04] liususan091219 opened #626 "Debug to see how custom metric can take both tokenized (here) and untokenized input (ml.py)"
Debug to see how custom metric can take both tokenized (here) and untokenized input (ml.py)

[2022-07-02 23:11] sonichi commented on #625
The line 396 `X=X.copy()` can be removed from data.py. Would you like to create a PR to remove that line and test it?

[2022-07-03 03:55] Shafi2016 commented on #625
Thank you!, Would you please elaborate more? Where I can find data.py?

[2022-07-03 17:13] sonichi commented on #625
PR = pull request.
The first step is to remove line 396 in data.py and try again. There could be new issues after that. Please let me know if that's the case.
If you don't know how to do this and would like help, please share the dataset and use case so that others can test.

[2022-07-07 03:50] qingyun-wu opened #630 "Correct the code example for parallel tuning in the documentation page"
`ray.init(n_cpus=16)`
should be
`ray.init(num_cpus=16)` in the documentation page
https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#parallel-tuning

[2022-07-07 05:15] Shafi2016 commented on #625
Thank you, I m not sure how to proceed further. I need help. Here is the  [error reproducible notebook](https://www.kaggle.com/code/bigdataanalysis1/flaml-error-reproduce?scriptVersionId=100226142).

[2022-07-07 06:39] adi611 commented on #630
Please assign me this issue.

[2022-07-07 14:34] adi611 commented on #630
Hi @qingyun-wu thanks for assigning me this issue. I looked through other places as well and didn't find any error which resembled this one.

[2022-07-07 17:19] MichaelMarien commented on #625
Hi, I'm afraid you're trying something impossible. FLAML is build upon the in-memory python data stack and interacts beautifully with pandas, numpy, scikit-learn... On the other hand, (py)spark data frames can't easily be used interchangeably with this stack. Thus, training or predicting a FLAML (or scikit, tensor flow, pytorch...) estimator with a pyspark data frame simply does not work.

That's

[2022-07-08 22:51] sonichi commented on #625
I got the following error when running this notebook:
---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
/tmp/ipykernel_33/1041752136.py in <module>
     13   .option("header", first_row_is_header) \
     14   .option("sep", delimiter) \
---> 15   .load(file_location)
     16 df.limit(2).toPandas()

[2022-07-09 04:08] Shafi2016 commented on #625
Thank You, @MichaelMarien and @sonichi. I have tested already with pandas parquet. I get the memory issues. I think this may be a limitation of FLAML with Big Data. The integration of FLAML  with synapseml might be a better idea. There is no memory issue when I used  the same data with LightGBMClassifier with synapseml.

[2022-07-09 14:20] sonichi commented on #625
@Shafi2016 thanks for confirming that. Since LightGBMClassifier with synapseml works, you can modify [this example](https://microsoft.github.io/FLAML/docs/Getting-Started#tune-user-defined-function) to do hyperparameter tuning for synapseml.LightGBMclassifier before the integration is made. You might need to modify the search space as well based on the parameter name correspondence between lightgb

[2022-07-10 15:19] #630 closed

[2022-07-10 19:26] #496 closed

[2022-07-14 22:38] qingyun-wu opened #634 "Ecosystem"
TODO:
- Add FLAML to [ray's ecosystem page](https://docs.ray.io/en/latest/ray-overview/ray-libraries.html)

Tentative TODO:
- Add an ecosystem page for FLAML?

[2022-07-16 11:47] liususan091219 opened #635 "ray tune keep_checkpoints_num is ineffective"
ray tune keep_checkpoints_num is ineffective, debug to make it effective.

[2022-07-17 20:48] liususan091219 opened #636 "Trainer.hyperparameter_search is much faster than AutoML.fit when using the same config"
Figure out the reason why.

[2022-07-17 22:55] liususan091219 opened #637 "AutoML's best val_loss is still incorrect for TransformersEstimator"
There's a bug that makes AutoML's best val_loss is still incorrect (and larger) for TransformersEstimator.

[2022-07-17 22:55] liususan091219 commented on #637
To reproduce, run the experiment in Jupyter notebook.

[2022-07-18 15:59] EgorKraevTransferwise opened #638 "Support y as a single-column pd.DataFrame"
When using` FLAML(task="classification")` as a component model in EconML/DoWhy, sometimes it gets called with `y` being a `pd.DataFrame` with a single column, and that throws an error as it only expects a `pd.Series` or `np.ndarray`.

Can we please also support dataframes with a single column, in which case we'd take that column as` y`?

Happy to do the PR myself if you tell me where in the code t

[2022-07-18 17:22] sonichi commented on #638
Great suggestion. These are the relevant places to be changed:

https://github.com/microsoft/FLAML/blob/a64956a7c8f98db6a7de7e8cc5d0ce53e9c86a03/flaml/automl.py#L1052
https://github.com/microsoft/FLAML/blob/a64956a7c8f98db6a7de7e8cc5d0ce53e9c86a03/flaml/automl.py#L1164
allow one-column dataframe and convert to series.

https://github.com/microsoft/FLAML/blob/a64956a7c8f98db6a7de7e8cc5d0ce53e9c86a0

[2022-07-18 19:39] YIWEI-CHEN opened #639 "The definition of config_constraints and metric_constraints are not clear in Docs"
There are two constraints can be used in tuning procedure,`config_constraints` and `metric_constraints`. What is the definition of `config_constraints`? When we should use `config_constraints`? What difference between `config_constraints` and `metric_constraints`? To my understanding, `config_constraint` is used to restrict the specific attribute of a trial's config (e.g., area). The attribute of

[2022-07-18 21:58] liususan091219 commented on #636
After debugging, found that loss.backward for FLAML takes 100 times longer running time than transformers.

FLAML's loss.backward takes 0.173, HF's loss.backward takes 0.02 secs.

[2022-07-19 00:58] liususan091219 commented on #637
in seqclass.log, validation_loss is smaller than the min of eval_automl_metric.

[2022-07-19 19:04] zzheng93 opened #640 ""n_jobs" doesn't work well"
Hi, I just wanted to report an issue about `n_jobs`. Note I am using version `1.0.0`. I am not quite sure if it is still an issue for the latest version.

1. The `n_jobs` parameter for `automl.predict()` appears to be non-functional.
![image](https://user-images.githubusercontent.com/23510121/179828655-781bbea9-3f7a-42ba-aebc-71df52dcd900.png)

2. The `n_jobs=-1` parameter for `automl.model.estima

[2022-07-19 21:05] sonichi commented on #640
I just tried the lightgbm notebook example and all the cores are used in prediction time. Could you share your notebook?

[2022-07-19 21:07] sonichi commented on #640
I found the problem now. `automl.predict()` uses all the cores but `automl.model.estimator.predict(n_jobs=-1)` doesn't. Thanks!

[2022-07-19 21:09] zzheng93 commented on #640
But you can see there is no difference between n_jobs for `automl.predict()`

[2022-07-19 21:11] sonichi commented on #640
Yes, that's an easy-to-fix problem:
https://github.com/microsoft/FLAML/blob/a64956a7c8f98db6a7de7e8cc5d0ce53e9c86a03/flaml/model.py#L257
should pass `**kwargs` to `predict()`

Would you like to make a PR?

[2022-07-19 21:15] sonichi commented on #640
There are more places like this to update, e.g.,
https://github.com/microsoft/FLAML/blob/a64956a7c8f98db6a7de7e8cc5d0ce53e9c86a03/flaml/model.py#L280
https://github.com/microsoft/FLAML/blob/a64956a7c8f98db6a7de7e8cc5d0ce53e9c86a03/flaml/model.py#L1324
https://github.com/microsoft/FLAML/blob/a64956a7c8f98db6a7de7e8cc5d0ce53e9c86a03/flaml/model.py#L2134

[2022-07-19 21:26] zzheng93 commented on #640
Thanks! Sure. I just made a PR.

[2022-07-19 22:26] qingyun-wu commented on #639
Thank you @[YIWEI-CHEN](https://github.com/YIWEI-CHEN) for raising this issue. They are indeed not clearly explained in the current documentation.

### Definitions:
- `config_constraints` is a`List[Tuple[Callable[[dict], float], str, float]]`, meaning that the constraints are functions that needs to be provided by the user, e.g., the `area` function.

- While the `metric_constraints` is a `List[Tu

[2022-07-20 09:04] EgorKraevTransferwise commented on #638
Thanks! Would I not want to convert the one-column dataframe to a column before using it, or will that happen automatically if it passes the assertions?

[2022-07-20 13:41] sonichi commented on #638
Please convert it. It won't happen automatically. Thanks.

[2022-07-21 21:14] flippercy commented on #434
Hi @sonichi:

It's been a while and I hope you are doing well. Glad to see your package, FLAML, attracting so much attention and already got almost 2k stars.

I have to follow up on this issue again because it has never been really solved and we have no clue what caused it. During the last six months, my team have been using several versions of FLAML with various datasets on different platforms. A

[2022-07-26 14:47] liususan091219 opened #649 "Update text summarization example in notebook"
Update text summarization example in notebook to include the prediction

[2022-07-26 20:53] #640 closed

[2022-07-26 22:22] liususan091219 commented on #635
If use ray: override _save_checkpoint, but add with tune.checkpoint_dir(...) to make ray keep track of the checkpoint.

else: manually delete the checkpoints other than the best one in TransformersEstimator.fit(), before trainer.train().

[2022-07-26 23:53] #571 closed

[2022-07-27 14:17] luigif2000 opened #650 "is the final model fitted to the whole train set?"
Dear, first of all thanks a lot and compliment!
Then,
in documentation is not clear one thing: after a fit the final model is fitted to the whole train set?
I need to do something else in order to fit the model to all data and go in production?

thanks in advance and waiting your kindly reply...

luigi

[2022-07-27 14:44] luigif2000 commented on #650
for example, verstack has  fit(X,y) to "Execute LGBM model hyperparameters tuning " and has fti_optimized(X,y) to "Train model with tuned params on whole train data"..............

waiting Your help....

[2022-07-28 16:05] liususan091219 opened #651 "Find a search space for NLP"
Find the optimal search space for NLP, potentially replacing the current continuous search space.

[2022-07-28 22:00] liususan091219 opened #652 "Update nlp notebook with heads up and toy example"
Update the nlp notebook with headsup on the time budget and the small example using FLAML Tune.

[2022-07-29 03:08] #637 closed

[2022-07-29 17:32] luisquintanilla opened #653 "Document sequential vs parallel tuning recommended practices"

[2022-07-29 17:43] liususan091219 commented on #653
Add one concrete example of NLP of selecting parallel vs sequential.

[2022-07-30 05:17] Wang-Lin-boop opened #654 "No GPU detected when flaml fit()"
I want to use the following parameters for flaml training:
[code]
When this function is executed, the following message is returned:
[code]
Following this hint, flaml can't find the gpu available, however when I execute the torch alone, the ```torch.cuda.device_count()``` can find the GPU.
[code]

[2022-07-30 11:23] Wang-Lin-boop commented on #654
If I change ```gpu_per_trial``` to 0, training works fine.

[2022-07-30 13:36] liususan091219 commented on #654
Hello, n_concurrent_trials means how many trials you can run in parallel. Since you requested 1 GPU for each trial, you need 5 GPUs, but torch.cuda.device_count() output shows you only have 2. Could you try changing n_concurrent_trials to 2 fixes the problem?

[2022-07-30 13:38] Wang-Lin-boop commented on #654
Thanks for the reply, I'll try it!

[2022-07-30 13:46] #654 closed

[2022-07-30 14:29] Wang-Lin-boop opened #655 "What is the type of loss in the log?"
When I trained a model with the following parameters, FLAML gave me some log information, but I still had some confusion about two parameters, ```loss``` and ```eval_loss```.

My params:
[code]
Output:
[code]
I'm guessing that ```eval_automl_metric``` means that the metric I specified is also R2, but I don't find an option in the documentation to specify the loss function in the ```fit``` function

[2022-07-30 14:38] liususan091219 commented on #655
Hi! eval_loss is the loss (e.g., cross entropy loss) of the validation data, whereas eval_automl_metric is 1-metric (of the validation data). Yes, in your case, the metric is set to R2, so eval_automl_metric = 1- the R2 score.

When you set the task to seq-regression, the default metric is R2: https://github.com/microsoft/FLAML/blob/main/flaml/nlp/utils.py#L18

If you want to use RMSE, you can set

[2022-07-30 14:48] Wang-Lin-boop commented on #655
Thank you for your reply.
I'm doing a regression task where two sequences determine a value, in fact I tried AutoGluon and got very poor results, probably it's a difficult task (for a novice like me), emm...... let me try again with other parameters.

[2022-07-30 14:48] Wang-Lin-boop commented on #655
Thank you for your reply.
I'm doing a regression task where two sequences determine a value, in fact I tried AutoGluon and got very poor results, probably it's a difficult task (for a novice like me), emm...... let me try again with other parameters.

[2022-07-30 14:56] Wang-Lin-boop commented on #655
@liususan091219  An another topic, can I specify to train two different transformer models separately for two different sentences in the sequence regression task?

After all, while in more common NLP tasks two sentences are two similar languages, in my task the two sentences are in almost completely different languages, and I wanted to capture the connection between them.

[2022-07-30 15:18] liususan091219 commented on #655
Hello, thanks for sharing your use case. It may be helpful to learn more details about your application and I will try my best to help you improve your results. We invited you to gitters, feel free to drop me a line there!

[2022-07-30 15:46] Wang-Lin-boop commented on #655
Thanks, I will try to complete a whole training session with the default FLAML settings first. I will share my case with you in detail by email (or other ways you like). BTW, I have just signed up for gitters, maybe I won't get your invitation before then.

[2022-07-30 15:46] #655 closed

[2022-07-30 20:53] liususan091219 commented on #655
Sounds good. My email address is xliu127@stevens.edu, and I just added you to Gitter FLAMLer through your github account!

[2022-08-02 17:48] jmrichardson opened #658 "Disable shuffle with Custom CV"
Hi,

It appears that shuffling of data is enabled unless the task is of type TS_FORECAST.  I have supplied a custom CV splitter which a shuffle is then applied afterwards.  It would be preferable for shuffle to be disabled when a custom CV is provided.  Thank you for your consideration.

[2022-08-02 18:53] sonichi commented on #658
How about setting `split_type="time"`? That will disable the automatic shuffle.

[2022-08-02 19:41] jmrichardson commented on #658
Hi @sonichi

Yes, but how would I pass the custom CV splitter?  I am currently using:
[code]

If I change split_type to "time"  I don't think I can pass a custom cv?

[2022-08-02 20:09] sonichi commented on #658
Got it. I'll suggest making a PR to modify https://github.com/microsoft/FLAML/blob/74e6026ab903b055dcffa89f93c1481263a44091/flaml/ml.py#L485
into:
`shuffle = getattr(kf, "shuffle", task not in TS_FORECAST)`

After that, you can set `cv.shuffle=False` in your code to skip shuffle.

[2022-08-02 20:33] jmrichardson commented on #658
That's great news and appreciate the help :)

[2022-08-02 20:50] sonichi commented on #658
Would you like to make a PR?

[2022-08-02 21:14] qingyun-wu commented on #650
Hi @luigif2000,

Thank you for the question and sorry for the late response.  Yes, the model is fitted on the full train set. The relevant keyword argument in the fit function is [`retrain_full`](https://github.com/microsoft/FLAML/blob/main/flaml/automl.py#L570). You can find more details in the docstr for `retrain_full`.

Please let me know if your question is not resolved. Thank you!

[2022-08-03 01:34] jmrichardson commented on #658
Yes, I can give it a go.   Hopefully get to it tomorrow.

[2022-08-03 04:11] #636 closed

[2022-08-03 14:40] luigif2000 commented on #650
ok thank's so much....

you are very welcome

best regards

luigi

Il giorno mar 2 ago 2022 alle ore 23:14 Qingyun Wu ***@***.***>
ha scritto:

[2022-08-03 18:45] jmrichardson opened #660 "Disable data validation"
I would like to be able to disable pre-processing of data as I am working with a very large dataset.  The dataset is clean and does not contain missing values.   However, it appears that flaml iterates each feature (1000s) with millions of observations to replace missing data:

`X[column] = X[column].fillna(np.nan)`

In addition it does simple imputation:

[code]

This takes a considerable amount

[2022-08-03 21:54] sonichi commented on #660
The solution would be:
1. https://github.com/microsoft/FLAML/blob/21fa6c10ec6f963edbda99e9020ad585ae60a1a5/flaml/automl.py#L1122 -> `if issparse(X_train_all) or self._skip_transform:`
2. add a keyword argument in both `AutoML.__init__()` and `AutoML.fit()` in automl.py and set `self._skip_transform` to it before https://github.com/microsoft/FLAML/blob/21fa6c10ec6f963edbda99e9020ad585ae60a1a5/flaml

[2022-08-04 02:26] jmrichardson commented on #660
Hi @sonichi

Should I create a PR for this change?  Happy to give a shot tomorrow.

[2022-08-04 02:35] jmrichardson opened #661 "Multi-thread jobs not working on Linux (works on Windows)"
Hi, I have an interesting problem that I have observed that I am not sure how to fix.   On my local windows PC, lightgbm model with flaml works with n_jobs=-1 where multiple threads are created and reflected in the CPU utilization on all cores (100% utilization).  However, when I use the same code and same environment on my CentOS linux server it only runs 1 thread.  Here is the code sample:

[cod

[2022-08-04 13:27] daddyseal opened #663 "import error"
Hello,
can't import flaml

error like:

...Anaconda3\lib\site-packages\mlflow\protos\scalapb\scalapb_pb2.py", line 22, in <module>
    options = DESCRIPTOR.extensions_by_name['options']
AttributeError: 'NoneType' object has no attribute 'extensions_by_name'

thanks,

[2022-08-04 14:56] sonichi commented on #660
Yes please. :)

[2022-08-04 15:09] sonichi commented on #661
I don't know the reason. Could you provide a minimal reproducible code+data example?

[2022-08-04 15:33] sonichi commented on #663
Hi. what's the version of flaml and mlflow?

[2022-08-04 16:20] liususan091219 opened #664 "Starting point will be overwritten by low cost config"
if setting automl_settings["starting_points"], the low cost dims will be overwritten by the low cost config.

[2022-08-04 16:24] jmrichardson commented on #661
Hi @sonichi

I've validated that this is an issue on the server and not flaml.  I still haven't figured out what the issue is but it works fine on my other servers.  Closing and will let you know if I can determine the root cause.

[2022-08-04 16:24] #661 closed

[2022-08-04 16:33] sonichi commented on #661
BTW, there are some issues in `custom_hp`. For example, the "low_cost_init_value": 2 for "n_estimators" is not inside its domain `tune.randint(lower=1000, upper=3000)`. The "init_value":0.01 for "learning_rate" is not inside its domain. "low_cost_init_value" for "learning_rate" should be removed because the cost is not affected by "learning_rate".

[2022-08-04 16:35] #664 closed

[2022-08-04 16:40] jmrichardson commented on #660
Hi, I am not an expert in PRs and not sure if the first PR should be applied first?  If I make the modifications for this and submit a new PR I will have the updates from the first PR included in the second PR.  Is this acceptable?

[2022-08-04 16:53] sonichi commented on #660
Thanks for the question. As long as the second PR doesn't depend on the first PR, you don't need to wait for the first PR to be merged. You can create the second PR still from the main branch and it shouldn't include the updates from the first PR. When either PR is merged to main, you can update the other PR by merging from the (new) main into the PR branch. Is that clear?

[2022-08-04 18:13] daddyseal commented on #663
flaml 1.0.9
mlflow 1.26.1

[2022-08-04 18:30] sonichi commented on #663
How did you install the packages? I tried pip install these two packages and I don't have any issue importing them.
`pip install flaml==1.0.9 mlflow==1.26.1`
![image](https://user-images.githubusercontent.com/4250911/182925407-8fc98875-eb29-4f41-b473-1e221391c8fc.png)

[2022-08-04 18:57] daddyseal commented on #663
thanks for looking into it.
i did  conda install on flaml yesterday....mlflow maybe came with other package a while ago. should be all conda install

[2022-08-04 18:57] sonichi commented on #663
Do you mind sharing the conda install commands to reproduce this issue?

[2022-08-04 18:58] daddyseal commented on #663
just tried again, same error 'either import flaml or from flaml import AutoML

[2022-08-04 18:59] daddyseal commented on #663
conda install -c conda-forge flaml

[2022-08-04 22:48] sonichi commented on #663
I ran:
[code]
and I don't get an import error:
<img width="464" alt="image" src="https://user-images.githubusercontent.com/4250911/182966928-65366e5f-7298-421b-9862-4d31a116f59e.png">

could you please try installing the packages in a clean environment?

[2022-08-05 11:58] qingyun-wu commented on #650
You are welcome. Let me know if you need more help! Do you mind sharing what kind of production you are working on and using FLAML?  And can you please fill out this survey to share your feedback about FLAML:
https://docs.google.com/forms/d/e/1FAIpQLSd0u4BbSzr-m9hgM8rmPlYB_JJoFXeHhuoXI9YFbHDRWrDlOQ/viewform?usp=sf_link

Your feedback is appreciated. Thank you!

[2022-08-05 13:26] daddyseal commented on #663
ok. will try later, thanks for checking.

[2022-08-06 18:18] luigif2000 commented on #650
sure, i did...no more help for now...have a nice day
thanks again

luigi

Il giorno ven 5 ago 2022 alle ore 13:58 Qingyun Wu ***@***.***>
ha scritto:

[2022-08-08 03:23] sonichi opened #670 "Better logging for tune"
Ideas to improve the logging capabilities in `flaml.tune`:
1. Take a `log_file_name` argument in `tune.run()`. Right now it takes `local_dir` as the directory for the log file, but the log file name is auto generated and can't be overridden.
2. When using ray, log the results after the run finishes when `log_file_name` is given.
3. Provide utility functions to load the log and plot the optimizatio

[2022-08-10 14:16] zurKreuzigungLinks opened #674 "dot_size argument not working for interaction values scatter plot"
As the title says. The dot_size argument is simply missing where dependence_legacy is called recursively.

`dependence_legacy(
            ind1, proj_shap_values, features, feature_names=feature_names,
            interaction_index=(None if ind1 == ind2 else ind2), display_features=display_features, ax=ax, show=False,
            xmin=xmin, xmax=xmax, x_jitter=x_jitter, alpha=alpha
        )`

[2022-08-10 15:07] sonichi commented on #674
Where is this code snippet from?
Could you provide a complete example of how to reproduce the issue?

[2022-08-10 17:52] jmrichardson opened #676 "Catboost and RF error with groups error"
Hi, catboost and random forest errors with the following when providing groups in settings:

[code]

This error doesn't happen with lgbm or xgboost.  Thanks for any help.

[2022-08-10 18:27] sonichi commented on #676
random forest doesn't support groups. Need to remove it from your estimator_list.
catboost doesn't take "groups" as a fit kwarg. It takes "group_id" instead.
Some code change is required to make catboost work. We need to rename "groups" into "group_id" in `fit_kwargs` when invoking CatboostEstimator.fit() in ml.py.

[2022-08-10 18:38] jmrichardson commented on #676
Hi @sonichi

For a quick test, I changed my settings dict:
[code]
and got:

[code]

Confirmed also my model in model.py where the error occurred is catboost:

[code]

Also, I am using groups for the purposes of my optimization function where the group is provided in the "groups_train" parameter.  Basically, I need the group to be able to calculate Sharpe by group.  In other words, I don't need gro

[2022-08-10 19:50] sonichi commented on #676
You are right. For regression catboost can't take groups as input.
If you don't need groups for the model training, you can use [custom estimator](https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#estimator-and-search-space) to inherit and override the `fit()` function from a parent estimator, e.g., CatboostEstimator. In the `fit()` function, remove "groups" from kwargs and cal

[2022-08-11 00:48] jmrichardson commented on #676
Thank you for the solution, it worked perfectly!  :)

[2022-08-11 00:48] #676 closed

[2022-08-11 13:58] zurKreuzigungLinks commented on #674
Sorry for the confusion, I actually posted on the wrong git project. :disappointed: :laughing:

[2022-08-11 13:58] #674 closed

[2022-08-11 17:04] jmrichardson opened #678 "Catboost not respecting custom_hp"
Hi,

I have configured a custom_hp for catboost:

[code]

The first iteration of the model fit the self.params for n_estimators is 2001 as defined by init_value.  However, subsequent iterations of the fit the n_estimators is a very low value such as 3.  Initially I thought it was because my low_cost_init_value was low set at 2 but as you can see I set it to the minimun for the domain as 2000.

Her

[2022-08-11 17:23] sonichi commented on #678
I guess it's because the time_budget is small for `AutoML.fit()`. When it's small, the training will try to finish early to meet the budget requirements. If it's not the case, could you provide an example to reproduce this behavior?

[2022-08-11 18:03] jmrichardson commented on #678
I have the time_budget set to 24 hours so don't think that is the issue.   Here is a reproducible script:

[code]

[2022-08-11 18:52] sonichi commented on #678
Thanks. I didn't have enough memory to run this example, so I used `make_regression(10000, 1000)` instead. With that modification, I didn't get "n_estimators=1" but I get "n_estimators=109" becuase of early stopping. Is that desirable or do you intend to disable early stopping?

[2022-08-11 19:32] jmrichardson commented on #678
Hi,

Sorry, the original test data was smaller which is probably why the n_esitmators was smaller.  I am getting between 100 and 200 for the make_regression example as well.  I disabled "early_stop" by commenting it out as well as making it False and still the n_estimators is less than 1000 for the domain defined in custom_hp.  This doesn't happen with xgboost or lightgbm.  That is, the n_estimato

[2022-08-11 21:58] sonichi commented on #678
To clarify, the behavior of catboost has nothing to do with the "early_stop" argument in `AutoML.fit()`. The latter is used to early stop the whole AutoML process. By default catboost sets [use_best_model](https://catboost.ai/en/docs/concepts/python-reference_catboostregressor_fit#use_best_model) to True which means the best number of estimators will be used after training which could be smaller t

[2022-08-11 23:19] jmrichardson commented on #678
Hi @sonichi

Thank you for the clarification as I had it confused.  However, I just set the the parameter and it is still setting the n_estimators to the low 100s:

`automl.fit(X_train=x_train, y_train=y_train, **settings, use_best_model=False)`

[2022-08-11 23:33] sonichi commented on #678
I suspect that the reason is the free memory check in the callback function. I made a PR to disable it and it worked in my local test. Would you like to test it?

[2022-08-11 23:41] #660 closed

[2022-08-11 23:49] jmrichardson commented on #678
Hi @sonichi

I just merged your PR and it does prevent it from using less estimators but on each iteration the self.params are the same.  Unless I am confused on how catboost works, I would expect that flaml would adjust those params on each iteration?

[2022-08-12 00:06] sonichi commented on #678
That doesn't happen for me. Could you provide an example?

[2022-08-12 00:17] jmrichardson commented on #678
Sorry, I mistakenly saw that the parameters were the same on each iteration because the fit was being called for multiple splits.  You are correct, it does change the parameters after all the splits have been fitted.

The PR does work on my end too and sorry for the confusion.

[2022-08-12 12:46] prateekgml opened #680 "ValueError: unsupported pickle protocol: 5 while ensemble=True"
Hi,

I am trying to use ensemble method while training a dataset as below-

![image](https://user-images.githubusercontent.com/97145738/184355790-ecd0fc83-2cde-49f0-b2f9-46bcb623f09d.png)

The training was fine but in the end of the following line- `[flaml.automl: 08-12 12:34:01] {3407} WARNING - Using passthrough=False for ensemble because the data contain categorical features.`

I am getting bel

[2022-08-12 21:17] sonichi commented on #680
The error message is https://user-images.githubusercontent.com/97145738/184356110-52f5f468-2d53-4e7d-bfea-c1943e18dc86.png
It suggests that you don't have enough RAM to build the ensemble. You can try specifying a simple final_estimator, e.g.,
[code]

[2022-08-13 00:05] #658 closed

[2022-08-13 03:47] prateekgml commented on #680
@sonichi is this syntax is correct-

![image](https://user-images.githubusercontent.com/97145738/184467286-57dde562-80d7-46c1-9e56-f9911542763b.png)

And what should I import to resolve this error with above syntax-

![image](https://user-images.githubusercontent.com/97145738/184467303-a6e69fcd-d2c8-40a8-ba30-fd0f3b3a8b8b.png)

[2022-08-13 04:47] prateekgml commented on #680
I am able to proceed after importing as `from sklearn.linear_model import LogisticRegression`

[2022-08-13 09:10] prateekgml commented on #680
Now training is completed but RAM error is occurred as below-

![image](https://user-images.githubusercontent.com/97145738/184477158-e95e6ac8-cd60-4c21-92da-6f52ad648e6e.png)

It seems ensembling is not possible with FLAML.

[2022-08-13 22:36] sonichi commented on #680
How large is the dataset and how large is the free RAM?
Ensemble requires more RAM than training each single model. One thing you can try is to use a smaller time budget for tuning such that small models will be used for ensembling.

[2022-08-14 02:08] sonichi opened #684 "check config_constraints for the first trial in blendsearch"
The config constraint is not checked for the initial configuration.

[2022-08-14 23:11] #384 closed

[2022-08-15 11:19] prateekgml commented on #680
Dataset is not so big as you can see here-

![image](https://user-images.githubusercontent.com/97145738/184625353-72d55a75-979e-4ecd-a88f-8d11d8a7e5e5.png)

With `"time_budget\": 10000*10,` I am able to continue the training in Kaggle. Since its execution time crossed 12 hours limit, it stopped further.

I will continue my experiment with Colab Pro+ which has Tesla P100 16 GB GPU and 54 GiB RAM. I

[2022-08-15 12:30] #684 closed

[2022-08-15 13:37] sonichi commented on #680
Thanks. Have you tried using smaller time budget to test whether the ensemble works?
One other question is did you feed the raw data into `AutoML` or did you do one-hot encoding before it? One-hot encoding could blow up the size of the dataset and should be avoided.

[2022-08-15 14:55] prateekgml commented on #680
Yes, I started the experiment with `3600` but then ensembling was covering 96% so I increased the time budget.
And I am feeding raw data into the FLAML.

[2022-08-16 00:28] sonichi commented on #680
Did ensemble succeed with lower time budget?

[2022-08-16 02:21] prateekgml commented on #680
No, it was not successful.

[2022-08-16 03:16] #639 closed

[2022-08-16 05:23] prateekgml commented on #680
Please suggest some steps to improve the result using ensembling. My current settings are as below-

![image](https://user-images.githubusercontent.com/97145738/184803946-34501081-d285-4f1d-a0e4-309985fc0945.png)

[2022-08-16 10:55] sonichi commented on #680
If you have enough RAM now, try removing the key "final_estimator" from "ensemble".

[2022-08-16 11:09] prateekgml commented on #680
I have started the training with below changes in colab pro+ which have 54 GiB RAM-

![image](https://user-images.githubusercontent.com/97145738/184865371-9e926d79-51ce-4b71-94c1-8bef06218364.png)

[2022-08-16 11:32] sonichi commented on #680
Use `log_type="all"`. https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#log-the-trials

[2022-08-16 11:58] prateekgml commented on #680
I did an experiment with commenting on the ensemble line like below-

![image](https://user-images.githubusercontent.com/97145738/184873950-568df99f-a31b-4754-af32-d51e8bc4054a.png)

And the score dropped to 83.3.

[2022-08-17 10:57] prateekgml commented on #680
@sonichi I tried adding more estimators with the ensemble as below-

![image](https://user-images.githubusercontent.com/97145738/185102196-cf6e61ac-9eef-48a8-9b1e-8dfbe18a1cb8.png)

And my score improved to 83.968 from 83.55. Is there anything I can try to improve the score?

[2022-08-18 20:37] sonichi commented on #680
What about using all the estimators, by removing the `estimator_list` argument?

[2022-08-19 03:24] liususan091219 opened #691 "colab pickle bug"
When using colab, the following code will cause the saved (best) checkpoint path to be deleted.

[code]

[2022-08-19 06:09] prateekgml commented on #680
After removing the estimator_list, the score dropped to 83.92 from 83.96.

[2022-08-19 15:10] qingyun-wu commented on #653
Documentation is added.

[2022-08-19 15:12] qingyun-wu commented on #653
Hi @liususan091219, thank you for offering to help. Are you going to add the example you mentioned? If so, when do you plan to add it?

Thank you!

[2022-08-20 13:29] sonichi commented on #691
Is it because of https://github.com/microsoft/FLAML/blob/e3d26c0650ba3cf6b55ee9e9231cc54c680e9fb9/flaml/automl.py#L2025?

[2022-08-20 13:31] liususan091219 commented on #691
Not sure, it only happens to colab, not to jupyter notebook.

[2022-08-21 01:38] #678 closed

[2022-08-23 05:15] Abhilash2000 opened #702 "Checkpointing at every model tuning stage"
Hello,

Is there a way we can checkpoint and save the model at every stage in the AutoML training process? If not, where in the code can we modify it?

Thanks.

[2022-08-23 16:24] sonichi commented on #702
A couple of thoughts:
1. We save each configuration in a log file when `log_file_name` is specified. Then the corresponding configuration can be retrained afterwards using `AutoML.retrain_from_log()`.
2. When mlflow is installed and the `AutoML.fit()` is within a mlflow run, we also use mlflow to log the configurations and metrics of each trial. That can be extended to log the trained model if tha

[2022-08-24 13:14] liususan091219 opened #703 "Intermediate results"
Update intermediate results from a list to a float

[2022-08-29 16:56] jmrichardson opened #707 "Warm start using dictionary not working"
Hi,

I am storing the best configurations per learner inside a list of dictionaries.  For example:

[code]

This is supplied as starting_points in settings dictionary with log_type "all" to see each iteration:

[code]

However, the log file doesn't show the config given as the first in the iterations.  I am providing a custom_hp with init values and the init values are applied on the first iterati

[2022-08-29 18:36] sonichi commented on #707
`'n_estimators': 5725` is not within the range (500, 5000). That's the reason the first starting point is not used.
`'learning_rate': 0.09958816585710001` is out of the range for the second starting point.
So both starting points are invalid in the custom hp space. There should be a warning message in the console output.

cc @liususan091219

[2022-08-29 19:10] jmrichardson commented on #707
Hi @sonichi

Thank you!  That fixed the issue.  I did notice that the init_value parameters don't run so I am assuming the starting_points if given override the init_value in custom_hp.    Thanks again :)

[2022-08-29 19:10] #707 closed

[2022-08-30 12:30] jmrichardson opened #709 "Ensemble not using custom CV"
Hi,

It appears that the ensemble code does not use CV when provided to automl settings.  In my case, my data requires a custom CV:

[code]

When I ensemble with FLAML, the results are worse because it's not passing the cv iterator.  Thanks for your consideration.

[2022-08-31 02:29] qingyun-wu opened #710 "Max iterations based on validation_loss?"
### Discussed in https://github.com/microsoft/FLAML/discussions/705

<div type='discussions-op-text'>

<sup>Originally posted by **jmrichardson** August 25, 2022</sup>
Hi, is it possible to set the maximum number if iterations per learner without validation loss improvement?  I know there is a early_stop setting but it appears to be based on convergence.  Thanks for any guidance</div>

[2022-08-31 03:05] qingyun-wu commented on #709
Hi @jmrichardson, yes, what you said is correct. Thank you for raising this issue. Can you please make a PR to allow using custom cv in ensemble?

To enable it, presumably you can just pass the custom cv to the [stacker in flaml] (https://github.com/microsoft/FLAML/blob/main/flaml/automl.py#L3543) via the cv keyword argument here. cv is supported in sklearn StackingClassifier:
https://scikit-learn

[2022-09-01 13:54] luigif2000 opened #712 "HOW TO RETRAIN BEST MODEL ON FULL DATA AFTER TEST SCORE"
Dear,
in TimeSeries FLAML module examples You kindly show how to use flaml and in the example is also used a test set data (the last part of all data, generally);
after the flaml model end to search the best model You show how to score the test set data using the best model.
Your examples end.
I THINK that is missing a phase: retrain the best model on the full, repeat full data.
I tried but i fail

[2022-09-01 14:20] sonichi commented on #712
The test data are not part of the training data. They are not known at training time. Whatever you pass to `AutoML.fit()` should be the full training data.
The model is already retrained on the full training data when the `AutoML.fit()` finishes. During the hyperparameter search, part of the full training data are split out as validation data. But at the end of `AutoML.fit()`, the best configurati

[2022-09-01 17:16] luigif2000 commented on #712
Dear thanks for your kindly reply, that's very kind of You!
You true but my question is regarding the test data that at the end is non
trained or fitted, alias the optimized model doesn't take in count this
part of the data.
I hope i explain well the problem. let me try to explain better: according
your kindly reply and examples the optimized model (the "best") doesn't
know the test set data; in t

[2022-09-01 18:12] MichaelMarien commented on #712
Hi, in general I think you can do this "outside" of FLAML as follows. If automl is your fitted FLAML instance:
[code]
hope this helps.

[2022-09-02 14:55] luigif2000 commented on #712
Dear michael and sonichi, thanks for your replies!
1) unfotunatelly the great michael suggestion doesn't work: no way. Various error encountered.....

The big problems remain to understand the theory behind this problems: let me to explain: a) the set test data is usefull to score the best model: we don't use it during train b) after the best model is founded why don't retrain to all data, all ( i

[2022-09-02 14:59] luigif2000 commented on #712
Hope to simplify in a phrase: the best final model (the production model) should know all, ALL the data!? Is it right?

[2022-09-02 15:23] luigif2000 commented on #712
Dear sonichi another issue: i have always thought that a multivariate time series forecasting model should take care about the feature using lagged label? In this way a need to know today data (without label obvoiosly) in order to forecast tomorror label!? (1day example) Is it true? Regression is not forecasting.....
Hope it help and not wrong

[2022-09-02 15:31] luigif2000 commented on #712
https://github.com/pycaret/pycaret/issues/975

[2022-09-02 15:52] luigif2000 commented on #712
https://analyticsindiamag.com/hands-on-guide-to-darts-a-python-tool-for-time-series-forecasting/

[2022-09-02 18:43] MichaelMarien commented on #712
Hi,

sad to hear. Could you give some insight in the error as this works like a charm for me? Note you might still need to preprocess your data before you can feed it into the cloned model when dealing with time series.

Yes, it's common practice to first tune hyperparameters and test a model using a train/valid/test split or cross-validation (FLAML does this for you). Second, retrain the best fou

[2022-09-03 15:44] luigif2000 commented on #712
Sure dear Michael, I agree at all; about the problem:

STEP 1)
            automl.fit(X_train=X[:-100],
                       y_train=y[:-100],
                       **settings,
                       period=5,
                       estimator_list=['lgbm', 'rf', 'xgboost', 'extra_tree', 'xgb_limitdepth'],
                       seed=2,
                       n_jobs=1,
                       )
T

[2022-09-03 15:49] luigif2000 commented on #712
as You can see i used X[:-100],y[:-100] with automl -> NO ERROR

than i simply use  X, y with clone -> ERROR
ValueError: Found array with 0 sample(s) (shape=(0, 2420)) while a minimum of 1 is required by RandomForestRegressor.

why?

[2022-09-03 17:26] sonichi commented on #712
Does `automl.fit(X, y, estimator_list=['lgbm', 'rf', 'xgboost', 'extra_tree', 'xgb_limitdepth'], period=5)` work?

[2022-09-04 00:50] luigif2000 commented on #712
HI dear, YES automl.fit(X, y, estimator_list=['lgbm', 'rf', 'xgboost', 'extra_tree', 'xgb_limitdepth'], period=5) WORK WITHOUT ERROR

[2022-09-04 01:02] luigif2000 opened #713 "HOW TO FORECAST FEATURE? meaning of period parameter"
Dear all,
in a multivariate time series forecast the flaml website example show how to run automl and then predict set test data for scoring; well. this is a regression approach, i think. in order to forecast in the feature the label is necessary to lag the label before training or not?
sorry for my ignorance but this is a very important question

[2022-09-04 02:41] luigif2000 commented on #713
https://towardsdatascience.com/the-complete-guide-to-time-series-analysis-and-forecasting-70d476b

[2022-09-04 02:55] sonichi commented on #712
In this case, all the data are used to retrain the model in the end.
Does that solve your problem?

[2022-09-04 10:55] luigif2000 commented on #712
Dear sonichi,
the automl.fit(X,y,...) change the best final model......is not the same thing of michael kindly not working suggestion....

in other words:

a) automl.fit(X[:-100],y[:-100].....
    retrain with clone of the previous best model on X, y

is not

b) automl.fit(X,y....

hope help

[2022-09-04 14:16] sonichi commented on #712
Why do you need to use the same model for `X{:-100]` and `X`?

[2022-09-05 06:14] int-chaos commented on #713
If you are referring to sklearn regressor models, we do lag the label before training. See https://github.com/microsoft/FLAML/blob/9901156deec8eb2a603e2fbf74ca01ceac5e9b5c/flaml/model.py#L2050. We use hcrystalball's `_transform_data_to_tsmodel_input_format` function to do this.

[2022-09-05 08:22] luigif2000 commented on #712
I need  to:
1) train on X[:-100]
2) scoring on X[-100:]
3) train the best model found in point 2 on all X data (without changing hyperparameter)

it's the finalize concept in pycaret.....
I think is right, but i can't how to do in flaml

[2022-09-05 14:03] sonichi commented on #712
Now I understand what you want. It's as easy as:
[code]
The retraining automatically happens in the end and you can see that from the console log.
The scoring is done on `X[-100:]` with models trained on `X[:-100]` during the model search and you can see that too from the console log. You can also find the scores in a log file if you set a `log_file_name`.

[2022-09-06 07:15] luigif2000 commented on #712
I’m very sorry I didn’t explain well, excuse me.
Unfortunately the subject ML is borning now and we have to change our natural neuron to think Ml. Anyway: thanks so much again for the patient.
Unfortunately I suspect that Your kindly solution is not right (here the reason of the finalize function in pycaret):The test set data is not the validation data.
In other word: the test set data should not

[2022-09-06 07:32] luigif2000 commented on #712
anyway i understand better the meaning of period parameters,  (you remember i asked the  meaning of period parameter at the beginning) thanks

[2022-09-07 04:49] sonichi opened #714 "docker build instruction"
change
`docker build git://github.com/microsoft/FLAML -t flaml-dev`
in https://microsoft.github.io/FLAML/docs/Contribute/#docker
into
`docker build https://github.com/microsoft/FLAML.git#main -t flaml-dev`

[2022-09-07 05:04] qingyun-wu opened #715 "docker build error"
After correcting the command line to

_docker build https://github.com/microsoft/FLAML.git#main -t flaml-dev_

in https://microsoft.github.io/FLAML/docs/Contribute#docker

I encounter the following error:

_Step 12/17 : RUN npm install --global yarn
 ---> Running in 290e5b6652c6
npm ERR! code EACCES
npm ERR! syscall mkdir
npm ERR! path /usr/local/lib/node_modules
npm ERR! errno -13
npm ERR! Error:

[2022-09-07 10:54] EgorKraevTransferwise opened #717 "Different search space for flaml.tune vs for built-in models?"
I am trying to add a new time series model to the list of FLAML's built-in ones, but have trouble specifying the search space. This model contains two component models from FLAML's builtins, and I want to search over the available component models and their respective search spaces, so the [code](https://github.com/markharley/FLAML/blob/2dba8d4a0ad1a2c9368f15411a576a29d9115f02/flaml/time_series/mu

[2022-09-07 12:21] vvijayalakshmi21 opened #718 "Error while building the documentation locally"
I am trying to build the documentation locally by following the instructions given in

But I face the below:
`UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 109702: character maps to <undefined>`
while executing pydoc-markdown

If i try yarn start (without the previous step i.e, pydoc-markdown - I assume this is not the right order to execute though) I see the below error:

[2022-09-07 14:25] sonichi commented on #717
The search space dict format required in `model.py` is different from that in `flaml.tune`. https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#search-space
In short, each hyperparameter's value is also a dict which needs to contain "domain" (required), "init_value" (optional) and "low_cost_init_value" (optional) as keys. The value for "domain" is the same as the value in the spa

[2022-09-07 14:41] skzhang1 commented on #715
I have made a PR. @qingyun-wu
https://github.com/microsoft/FLAML/pull/719

[2022-09-07 14:42] sonichi commented on #718
Are you using the instructions in https://microsoft.github.io/FLAML/docs/Contribute/#documentation?
What version of `pydoc-markdown` are you using?

[2022-09-07 15:20] EgorKraevTransferwise commented on #717
Thanks!
Changing the last line of the for-loop above to `out[mdl] = {"domain": tune.choice(est_cfgs)}` I get another error:

Can the syntax you use for estimators not deal with nested/hierarchical search spaces in the same way that `flaml.tune` does?

Also below see the screenshot from the debugger of what the complete search space looks like.
[code]

![image](https://user-images.githubusercontent

[2022-09-07 16:13] sonichi commented on #717
Right. Here we convert the dict returned by `search_space` function to the search space dict format required by `flaml.tune`.
https://github.com/microsoft/FLAML/blob/87d9b35d634f8085ea87b588a85a07bf7a3b7197/flaml/automl.py#L174
but we only did it for the top level and didn't traverse the hierarchy. It didn't handle the case of hierarchical search space.

The solution would be making it recursive:

[2022-09-07 17:37] #715 closed

[2022-09-08 04:20] #714 closed

[2022-09-08 05:02] vijaya-lakshmi-venkatraman commented on #576
Hi I see a merged PR for this issue
Is there something left to close this issue?

[2022-09-08 13:24] firmai opened #720 "ConcurrencyLimiter Issue"
The `ConcurrencyLimiter` only works with `Searcher` objects (got <class 'flaml.searcher.blendsearch.CFO'>). Please try to pass `max_concurrent` to the search generator directly.

[code]

![image](https://user-images.githubusercontent.com/26666267/189133621-ff92398a-3d0c-474d-9350-42ed7a132f00.png)

This on the latest and previous pypi versions, I haven't tried older ones.

[2022-09-08 14:26] sonichi commented on #720
I assume it's caused by the new version of ray. What's the version of ray you are using?

[2022-09-08 17:14] qingyun-wu commented on #712
Hi @luigif2000,

Thank you for the questions.

First, the "finalize" concept in pycaret is just trying to train the model on the data including both training and [holdout set](https://github.com/pycaret/pycaret/blob/5bdef1ec6bfb55eedb4d80cdf6bfee1b799f8fde/pycaret/classification/functional.py#L2222). It is not touching the test data. @Yard1 can you please help confirm this or clarify the meaning o

[2022-09-08 18:54] qingyun-wu commented on #712
@Yard1, Thanks for your prompt reply.  Regarding "_In pycaret, we divide the dataset into train and test (holdout) sets, and use cross validation on the train dataset for validation", what is the holdout set held for?

[2022-09-08 18:58] Yard1 commented on #712
Final unbiased evaluation (with cross-validation on training set used during tuning etc.).

[2022-09-08 19:11] qingyun-wu commented on #712
What is the unbiased evaluation used for? Is it always needed? If I do not need to do an additional step of evaluation after finding the best model via AutoML, this holdout is not needed, right?

[2022-09-08 20:41] Yard1 commented on #712
It's there to detect overfitting - while it's rare to overfit to CV, it's not unheard of. If the results from CV and holdout are widely different, that hints at a problem. That being said it is not needed and in PyCaret you can choose to have a holdout dataset of size 0.

[2022-09-08 21:59] liususan091219 opened #722 "Runtime issue for ray ==1.13"
Runtime issue for ray ==1.13 (fixed when ray==2.0)

[code]

[2022-09-09 01:03] qingyun-wu commented on #712
Got it. Thanks for the clarification!

[2022-09-09 01:35] qingyun-wu commented on #712
Hi @luigif2000, Can you please read my conversations with Yard1.

In a nutshell, pycaret divides the dataset into train and test (holdout) sets, and use cross-validation on the train dataset for validation. `finalize_model` in pycaret trains the model on all available data. The test data in pycaret is held out for detecting overfitting and is optional.

FLAML dose not have the built-in step of hol

[2022-09-09 10:17] luigif2000 commented on #712
Dear qingyun-wu, thanks so much for the kindly reply.
I have realized many thinks thanks to you:

1) FLAML use (TRAIN +VALIDATION) for training
2) the lenght of VALIDATION is the PERIOD parameter
3)  flaml use (TRAIN +VALIDATION) for training and TESTSET for scoring, with ALL=TRAIN +VALIDATION + TESTSET
3) PYCARET use  (TRAIN +TESTSET/HOLDOUT) for training, then finalize/retrain on  (TRAIN +TESTSE

[2022-09-09 18:39] firmai commented on #720
Yes using this version https://pypi.org/project/ray/2.0.0/

[2022-09-09 20:54] sonichi commented on #720
I'm not getting the same issue using ray 2.0.0. I got a bunch of warnings for which I made a PR #721
But I don't get the RuntimeError when using flaml==1.0.12 and ray==2.0.0.
Could you double check the flaml version being used?

[2022-09-09 22:37] liususan091219 opened #723 "Model not selected"
Model not selected when running nlp notebook, first experiments with time_budget=120 using the first 128 samples.

[2022-09-09 22:43] liususan091219 opened #724 "NLP notebook, first experiment, runtime error when batch size =128"
NLP notebook, first experiment, runtime error when batch size =128

[code]

[2022-09-10 16:47] sonichi commented on #712
3 and 4 are incorrect: flaml doesn't use anything for scoring. The scoring example is the notebook is meant for a user to check the performance after the trained model is deployed, not before deployment. PYCARET uses TRAIN for training, not TRAIN+TESTSET/HOLDOUT.
2 is correct. When holdout is used as the evaluation method, only one train/validation is produced. When cross-validation is used as the

[2022-09-10 23:48] sonichi opened #725 "use packaging.version for version comparison"
as suggested by @Yard1 in #721

[2022-09-12 18:29] sonichi opened #728 "Add a hyperlink to github location"
In https://microsoft.github.io/FLAML/docs/Examples/Tune-AzureML-pipeline#azure-ml-training-pipeline:
add a hyperlink for `test/pipeline_tuning_example/` to
https://github.com/microsoft/FLAML/tree/main/test/pipeline_tuning_example

[2022-09-13 02:07] liususan091219 opened #729 "How to handle X_val, y_val for NLP"
If not cross-validation: requires X_val, y_val for TransformersEstimator.fit
If cross-validation: only evaluate the perf after the training.

[2022-09-13 04:49] kingsonzhang commented on #728
Hello, I believe I can fix this issue. Just to clarify, does the text

also need to look like inline code, or just a hyperlink is fine?

[2022-09-13 17:14] sonichi commented on #728
Thanks. Just a hyperlink is fine.

[2022-09-13 20:47] firmai opened #730 "Pickle Transformer"
It seems like I can't save the transformer object.
`
AttributeError: Can't pickle local object 'preprocess_and_suggest_hyperparams.<locals>.AutoMLTransformer'`

[2022-09-13 21:01] kingsonzhang commented on #728
Thanks! If you could assign the issue to me, I'll submit a pull request as soon as I can

[2022-09-13 21:22] liususan091219 commented on #730
Hi, can you share the code so we could reproduce the issue?

[2022-09-14 16:50] luigif2000 commented on #712
You true! sure!.......thanks so much, sincersly and excuse me for my misunderstanding.

That' very kind of You and Your patience very big.

I got it.

wish the best!!!

[2022-09-14 17:01] #728 closed

[2022-09-14 17:31] ruizhuanguw opened #732 "Simplify user experience of AML pipeline tuning."

[2022-09-14 18:22] firmai commented on #730
It can be reproduced with any dataset, and then pickling the transformer object (feature_transformer)

[code]

[2022-09-14 18:30] sonichi commented on #712
You are welcome. Feel free to chat on [gitter](https://gitter.im/FLAMLer/community).

[2022-09-14 19:49] sonichi commented on #730
Thanks. There is an easy solution to fix this: move the definition of `AutoMLTransformer` out of the function and take `model` and `dt` as arguments in its constructor. Would you like to make a PR?

[2022-09-15 13:48] gmdiana-hershey opened #733 "Missing assignment of self._kwargs in TemporalFusionTransformerEstimator prior to call"
I've been experimenting with TFT, and ran into an issue running this line https://github.com/microsoft/FLAML/blob/74557472ececcd9a90b2f7a0938c73e1cdacf326/flaml/model.py#L2290. The source code seems to be missing that assignment, as opposed to the TransformersEstimator, which has it https://github.com/microsoft/FLAML/blob/74557472ececcd9a90b2f7a0938c73e1cdacf326/flaml/model.py#L619.

[2022-09-15 20:11] firmai opened #734 "time-based split for time series classification"
How much work would it be to get this one through, I am just interested in using the correct time series validation protocol, and currently that can't be done if your data for time dependent classification tasks.

[2022-09-15 21:16] firmai commented on #730
Hi @sonichi thanks for the explanation, I am just getting acquainted with the library, so have decided to work around this issue for now.

[2022-09-15 21:17] firmai commented on #720
This issue was solved by simply restarting the kernel on GCP, thanks :)

[2022-09-15 23:20] sonichi commented on #734
Do you mean the task is "classification" and you want to split the data by time in validation? If so, sort your data by time, and specify `split_type="time"`. Related doc: https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML/#data-split-method

[2022-09-17 14:30] firmai commented on #734
That's great that you have that! Makes it so easy to use.

[2022-09-17 14:30] #734 closed

[2022-09-18 21:24] harshvardhaniimi opened #735 "Feature request: support validation datasets in AutoML.retrain_from_log()"
Currently `AutoML.fit()` supports custom validation datasets passed using `X_val` and `y_val` but not with `AutoML.retrain_from_log()`. When I train my model with the validation datasets and save the logs, I expect to use the logs later to warm start the results. However, it is not possible as `AutoML.retrain_from_log()` doesn't support them.

Here's the discussion @sonichi and I had about it earl

[2022-09-19 02:44] sonichi commented on #735
@harshvardhaniimi validation data are not used for training during `AutoML.fit()`.

[2022-09-19 12:13] harshvardhaniimi commented on #735
Can you clarify what's the role of validation dataset? I used to think that they're used to compute validation metrics during the model training process. Finally, when the process finds the best parameters, FLAML retrains the model on the full training dataset (which includes training and validation data), given `retrain_full = True`.

[2022-09-19 16:06] sonichi commented on #735
You are right that they are used to compute validation metrics. However, user-provided validation data are not used for retraining. If users have not provided validation data, the validation data split from the training data will be used for retraining.

[2022-09-19 17:09] sonichi opened #737 "Make zero-shot automl more discoverable"
1. Shall we insert cross-links in the two notebooks https://github.com/microsoft/FLAML/blob/main/notebook/automl_lightgbm.ipynb
and https://github.com/microsoft/FLAML/blob/main/notebook/zeroshot_lightgbm.ipynb
to make the zero-shot automl more discoverable?
1. Shall we insert links in lightgbm's documentation [page](https://lightgbm.readthedocs.io/en/v3.3.2/Parameters-Tuning.html) to tuning and ze

[2022-09-20 23:54] int-chaos commented on #733
oh I see the issue. should be a minor fix to `gpus=kwargs.get("gpu_per_trial", [0])`. Can you submit a quick pr that changes that?

[2022-09-24 10:54] nikkisingh111333 opened #740 "AttributeError: 'SimpleImputer' object has no attribute '_fit_dtype'"
hi i m new into this FLAML.
i m getting this error while predicting my banknote problem

while using colab i m not getting this error but on pycharm using fastapi i m getting this error
**`AttributeError: 'SimpleImputer' object has no attribute '_fit_dtype'`**

heres my code:

**@app.post('/predict')
async def predict(data:person):
    per=data.dict()
    df = pd.DataFrame([[per['variance'],per['s

[2022-09-24 16:15] sonichi commented on #740
It looks to be caused by sklearn version mismatch. Could you check the sklearn version in these two different environments? Also, having the full traceback error message helps.

[2022-09-25 11:21] nikkisingh111333 commented on #740
which version of sklearn is needed for flaml

**ERROR:Exception in ASGI application
Traceback (most recent call last):
  File "C:\Users\ACER\anaconda3\envs\pythonForAI\lib\site-packages\uvicorn\protocols\http\h11_impl.py", line 404, in run_asgi
    result = await app(  # type: ignore[func-returns-value]
  File "C:\Users\ACER\anaconda3\envs\pythonForAI\lib\site-packages\uvicorn\middleware\proxy_hea

[2022-09-25 20:00] sonichi commented on #740
flaml requires scikit-learn>=0.24. But `_fit_dtype` is not available before scikit-learn 1.1. I guess the automl object was created under scikit-learn 1.1 but then loaded with a lower version.

[2022-09-26 06:58] nikkisingh111333 commented on #740
so suggest me a quick solution for his please.?

[2022-09-26 14:24] sonichi commented on #740
Use the same version of sklearn in your notebook which creates the automl object as the environment in which you load the automl object.

[2022-10-01 21:18] qingyun-wu opened #742 "Enable a configureable benchmark mode for flaml"
_benchmark_ here refers to the [openml AutoML benchmark ](https://github.com/openml/automlbenchmark), which supports flaml.

Currently, under the two installation modes "pip install flaml" and "pip install flaml[benchmark]", flaml is using different settings to do automl.

TODO:
1. Make the benchmark setting configurable in flaml.automl such that users who installed using "pip install flaml[benchm

[2022-10-02 00:25] #733 closed

[2022-10-02 02:13] qingyun-wu opened #744 "Improve documentation for"
TODO:

Add documentation and perhaps examples for [retrain_from_log](https://github.com/microsoft/FLAML/blob/main/flaml/automl.py#L1562)

[2022-10-02 04:06] sonichi commented on #744
Could you revise the title?

[2022-10-04 16:00] sonichi opened #748 "Documentation about small budget"
Thank you for your explaination @sonichi !
I now understand it. For small time budgets, It is advisable to rather use a predifined `max_iter` than a `time_budget`.
@qingyun-wu : That is an interesting design question. I think returning a `NoneType` might break the code for some users. However, it is also a very special case that someone uses that little training time. Maybe a bit more explaination

[2022-10-04 21:13] sonichi opened #749 "Discord badge"
In README, create a badge to https://discord.gg/Cppx2vSPVP

[2022-10-04 23:05] sonichi opened #750 "rolling forecast"
Allow a time series forecasting model to predict beyond the horizon after new data arrive, without refitting the model. For example,
[code]

@int-chaos @egor-bryzgalov @markharley @slhuang @qingyun-wu @luigif2000 @MichalChromcak Does this feature make sense?

[2022-10-05 23:11] Papa-Panda commented on #750
Yes. We need to train the model and then use the model without refitting
for a while.

On Wed, Oct 5, 2022 at 09:26 Chi Wang ***@***.***> wrote:

[2022-10-05 23:14] sonichi commented on #750
Thanks. Just to confirm, you need to use the model beyond the forecast horizon, right? Roughly how long is the forecast horizon and how long do you need to keep using the model before refitting?

[2022-10-05 23:49] Papa-Panda commented on #750
Forecasting horizon is from 1 day to 4 weeks.

Another scenario is forecast 1 hour but for this we do not need to keep
using model before refitting.

On Wed, Oct 5, 2022 at 16:15 Chi Wang ***@***.***> wrote:

[2022-10-06 00:25] sonichi commented on #750
Thanks. For the scenario where the forecasting horizon is 1 day, how long would you keep using the same model before refitting?

[2022-10-06 04:37] Papa-Panda commented on #750
I will keep using the model for a week. So model training is weekly.

On Wed, Oct 5, 2022 at 17:25 Chi Wang ***@***.***> wrote:

[2022-10-09 18:16] qingyun-wu opened #753 "Documentation about classification/regression task"
When using flaml's AutoML, users need to specify a task type via the`task` keyword argument. The two task type options "classification" and "regression" are currently limited to classification/regression tasks **with tabular data.**

The documentation should be improved to reflect this task scope:
https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML

[2022-10-09 20:03] royninja commented on #753
Hi, do i just need to add description?

[2022-10-10 14:49] gmdiana-hershey opened #754 "Time series gap detection for TFT tasks"
I've been getting a warning when I'm using TemporalFusionTransformer, indicating missing timestamps. It's coming from https://github.com/microsoft/FLAML/blob/f97c233dc55a60315f84fdb84fd49dd9ea98a5bd/flaml/automl.py#L1033. It Seems like perhaps it's checking the whole dataset as a single time series, rather than each time series individually. I think that adding logic to _validate_ts_data() to chec

[2022-10-10 15:01] gmdiana-hershey opened #755 "ValueError during training of TemporalFusionTransfomer"
I'm encountering a ValueError on some datasets when training the model. The error comes from the sklearn code that checks the lengths of the predicted and actual y arrays before calculating metrics. I've checked the data itself, and there are no missing values or gaps in any of the time series. The time-series length is also uniform, as are the date ranges. I'm including the stacktrace below.

`--

[2022-10-10 15:28] qingyun-wu commented on #753
Hi @royninja, thank you for your interest in helping. Yes, you only need to add the necessary description to make the task scope clearer. It would be great if you could examine other places that need clearer descriptions about this task scope in addition to the documentation page I pointed out.

Thank you!

[2022-10-10 18:21] qingyun-wu opened #757 "[DS440:G1] Add a visualization function to visualize feature importance"
Relevant issues:
https://github.com/microsoft/FLAML/wiki/Roadmap-for-Upcoming-Features#visualize-feature-importance-shaplime-explanation-optimization-history

Proposed API:
[code]

[2022-10-11 01:44] wil70 opened #758 "Distributed Flaml/AutoML with MARS sample?"
Hello, I'm trying to run a distributed AutoML with MARS + LightGBM for huge (TB) csv input file. I can't find how to do it any idea?
TY!
(https://docs.pymars.org/en/latest/user_guide/learn/lightgbm.html)

[2022-10-11 04:41] sonichi commented on #758
Hi @wil70, do you have an example of distributed training using MARS + LightGBM?
Without that information, the most probable solution I can recommend is to modify the example in: https://microsoft.github.io/FLAML/docs/Getting-Started/#tune-user-defined-function
by replacing the normal LigthGBM training with the MARS + LightGBM training.

[2022-10-11 08:30] qinxuye commented on #758
Duplicated isssue with https://github.com/mars-project/mars/issues/3273 .

Let's have a discussion here.

[2022-10-11 09:17] luigif2000 commented on #712
Great! I will try...thanks thanks so much

Il Gio 1 Set 2022, 20:12 Michael Marien ***@***.***> ha
scritto:

[2022-10-11 14:37] velezbeltran opened #759 "Bug with implementation of SKLearnEstimator"
I am currently using Flaml with the Sklearn regressor as described in the documentation. In particular I have
[code]
However when I use this  I get
[code]
which I think is a result of the signatures in the sklearn class not being able to handle this argument.

I can solve this easily by creating my own class as follows

[code]
and then using this class instead. However it seems that either the doc

[2022-10-11 17:04] royninja commented on #749
Hi, can you assign me this

[2022-10-11 18:45] velezbeltran opened #761 "Dockerfile seems not to work with M1 architecture"
I was working on solving a bug and have been having some issues using the dockerfile. In particular when I run
[code]
I get the following error
[code]
It seems that this might be an issue with the architecture that I am using as suggested by [this thread](https://stackoverflow.com/questions/54598558/why-does-pip-install-not-work-for-catboost).

I am unsure how to solve the issue as I am not super

[2022-10-11 20:51] sonichi commented on #761
One solution in that thread suggests using 64-bit python. Does this docker file work for you? https://github.com/prabodh1194/docker_images/blob/main/catboost/0.26/Dockerfile

[2022-10-11 21:49] velezbeltran commented on #761
Thank you. Will check and post and update

[2022-10-11 22:01] velezbeltran commented on #759
I added some changes. I tried going with the solution that you suggested but I believe it will not work super well only because it is called in the constructor of the `BaseEstimator` and if a person is subclassing the `SKLearnEstimator` class it is possible that by the time we call `config2params` the value of `self.estimator_class` will still be `None` so no correction can be made. I went with a

[2022-10-11 22:26] sonichi commented on #759
Actually there is an easier solution, which only changes one line to your original code:
[code]

[2022-10-11 22:46] velezbeltran commented on #759
Ha, yes you are right. Can't believe I missed that 😁. I will close the PR and then maybe add a simple line to the documentation explaining this?

[2022-10-11 23:42] sonichi commented on #759
Yes, that works!

[2022-10-11 23:47] sonichi commented on #434
Sorry for missing this for a long time. Does it still exist, @flippercy ?

[2022-10-12 05:26] int-chaos commented on #754
will fix!

[2022-10-12 05:43] int-chaos commented on #755
A couple of question to understand your situation: Do you have a train data and test data? If you do have a test data, did u manually pass in your test data for `x_val` and `y_val`? It says that it's using holdout method as `eval_method`, so technically it shouldn't matter what the length of your test data is unless you passed it in.

[2022-10-12 14:32] flippercy commented on #434
Hi @sonichi ! Thank you for the reply.

The issue still happens randomly and it is hard to reproduce for debugging. However, one observation is that it never happened (so far at least) when we ran FLAML in python. Therefore, we suspect that it may due to something in reticulate when we called FLAML in R.

Since our modeling process, especially the autoML component, is moving to python in AzureML,

[2022-10-12 16:32] sonichi commented on #434
Thank you @flippercy . In case I miss your message again in future, you can reach me and other maintainers on [discord](https://discord.gg/Cppx2vSPVP).

[2022-10-12 23:04] liususan091219 commented on #718
I tried with pydoc-markdown==4.5.0 and saw the same error message.

[2022-10-13 18:21] sonichi opened #764 "Add an announcement of the discord channel"
As a followup of #749 , shall we add an announcement in the beginning of README?

[2022-10-13 20:15] #749 closed

[2022-10-15 03:58] Anonymous-submission-repo opened #767 "Further Improvement for LexiFlow Extension"
TODOs of LexiFlow extension https://github.com/microsoft/FLAML/pull/752

- [x] Add performance test of LexiFlow
- [x] Improve the efficiency of LexicoFlow

[2022-10-17 21:12] flippercy opened #769 "A few questions on running FLAML distributedly via Ray on compute clusters in AzureML"
Hi @sonichi:

My team are running FLAML distributedly using Ray on compute clusters in AzureML. We have a few questions since we've never used FLAML in this environment before and hope you could provide some insights.

1. With this setting, what is the best way to log and register the optimal model returned of each learner in AzureML using mlflow? Shall we simply do mlflow.sklearn.log_model(automl

[2022-10-18 16:16] sonichi commented on #769
1. It looks good to me. @ruizhuanguw @prithvikannan @mshtelma what do you think?
2. How did you submit the AzureML job? When you open an AzureML experiment, usually there is a tab
<img width="153" alt="image" src="https://user-images.githubusercontent.com/4250911/196485044-f8ae9b4a-8dd9-46ad-9823-e704b0c0d9d5.png">
under which you will find folders in the left panel. There is a folder named "outpu

[2022-10-18 16:58] ruizhuanguw commented on #769
1. I did not tried registering model using mlflow before. But it looks right according to the [Azure ML doc](https://learn.microsoft.com/en-us/azure/machine-learning/v1/how-to-use-mlflow?tabs=azuremlsdk#manage-models)
2. second @sonichi's suggestion.

[2022-10-19 04:11] prithvikannan commented on #769
@sonichi agreed, that mlflow snippet should work. @flippercy let me know if you have any issues.

[2022-10-19 19:23] flippercy commented on #769
@prithvikannan Do the following codes make sense?

import mlflow
ray_on_aml = Ray_On_AML()
ray = ray_on_aml.getRay()

mlflow.set_tracking_uri(ws.get_mlflow_tracking_uri())

automl.fit(X_train = data_dev_balanced_B_X, y_train = data_dev_balanced_B_y,  sample_weight=data_dev_balanced_B_w,
X_val = data_val_balanced_B_X, y_val = data_val_balanced_B_y, sample_weight_val=data_val_balanced_B_w, **setting

[2022-10-21 17:37] flippercy commented on #769
@sonichi, @prithvikannan:

Thank you very much for the reply. A few more questions:

1. Usually we use a bunch of customized learners for FLAML. It seems that if we only use one learner, no matter what it is, the automl process can be done distributedly and the model can be registered. However, if we use more than one learner such as:

"estimator_list": ['LearnerA', 'LearnerB'],

The automl still

[2022-10-21 18:09] prithvikannan commented on #769
Re: the error with param length, we have bounded params to be <255 bytes. My guess is that https://github.com/microsoft/FLAML/blob/58227a976bdbf91617a639831f1ed247bcc41538/flaml/automl.py#L3113 is the line that causes the issue, since this will log *all* of the automl params in a dict. @flippercy can you share the stack trace? @sonichi, since we are already logging params individually, can we remo

[2022-10-21 20:26] flippercy commented on #769
@prithvikannan @sonichi

Here is the stack trace:

Warnings:
AzureMLCompute job failed.
JobFailed: Submitted script failed with a non-zero exit code; see the driver log file for details.
	Reason: Job failed with non-zero exit Code

Show less
---------------------------------------------------------------------------
ActivityFailedException                   Traceback (most recent call last)
Input

[2022-10-22 04:22] sonichi commented on #769
I doubt that's the cause because (1) there is no error when one learner is used, and (2) the error happens after `automl.fit()`. It happens when logging the model.

Does this error happen only when ray is used? @flippercy which line causes the error?

[2022-10-22 04:46] sonichi commented on #769
@flippercy Another question: Does the logging and registering code work for non-flaml models?

[2022-10-22 18:06] wil70 commented on #758
I have other issues going on with MARS when big dataset, I posted on their forum

What do you guys use for huge CSV input file (let's say >1TB) + LightGBM + Flaml
I can make
- LightGBM c++ work and distribute it but I do not have parameter tuning in that case (may be I can sample on small data set with FLAML and then feed the parameter to LightGBM but that won't be exactly the same)
- ML.net is gr

[2022-10-22 23:04] sonichi commented on #758
For LightGBM c++, do you use a cmd line to train models? How do you pass hyperparameters? You can wrap the cmd line in a python function which takes the hyperparameter configuration as an argument. Follow the same example given above.

[2022-10-24 05:06] flippercy commented on #769
@sonichi , @prithvikannan:

1. The error happens when the models returned by FLAML were logged.
2. It is unrelated with any specific learner. I got the same error with the default learners in FLAML.
3. The logging and registering code work for both non-flaml models and flaml models built without Ray.

The codes with issues are:

ray_on_aml = Ray_On_AML()
ray = ray_on_aml.getRay()

mlflow.set_track

[2022-10-24 16:27] ruizhuanguw commented on #769
@flippercy It would be very helpful if you can provide a minimal reproducible example.

[2022-10-24 16:47] flippercy commented on #769
@sonichi @ruizhuanguw @prithvikannan Thank you for the reply guys! I am off today and will give you some updates tomorrow.

[2022-10-25 20:07] flippercy commented on #769
@sonichi , @ruizhuanguw and @prithvikannan:

I did a few tests with both the default learners and customized learners; the result is confusing:

1. If I use customized learners without Ray on a VM, there is no issue at all with logging and registering codes.
2. If I use customized learners with Ray on a compute cluster, I got the error aforementioned and the models cannot be logged.
3. If I use de

[2022-10-25 20:25] int-chaos opened #771 "pytorch TimeSeriesDataSet handling missing time stamps - for TemporalFusionTransformer model"
PyTorch's TimeSeriesDataSet is capable of handling missing time stamps. We would like to leverage this capability for our TemporalFusionTransformer model. PyTorch has two methods forward fill strategy and constant fill strategy.
- Set `allow_missing_timesteps=True`
- Add fill strategies to search space when there exist missing data.
- For constant fill strategies, will need to search for constant

[2022-10-25 20:32] int-chaos commented on #771
This would also affect our way of dealing with missing timestamps.

Current assumption is that users do no have missing timestamps in their time series and we use `pd.infer_freq()` and `pd.data_range` to help create our `time_idx` column and output an error message if `pd.infer_freq()` is `None` (missing timestamps).

With this new update, users have two options:
 1. input a timeseries with no mis

[2022-10-26 00:00] sonichi commented on #769
Does `**settings` of `AutoML.fit()` contain `model_history=True`?

[2022-10-26 18:22] sonichi commented on #769
I tried to reproduce the error but couldn't. Things work fine when I use your example custom learner. My code is:
[code]

[2022-10-26 20:35] flippercy commented on #769
@sonichi:

Thank you very much for your help. With your codes, I've figured out that the issue is due to the following codes:

with mlflow.start_run() as run:
      .......
mlflow.end_run()

If I add them to your example as:

with mlflow.start_run() as run:
    automl.fit(
        train_x, train_y, X_val=test_x, y_val=test_y, time_budget=60, metric="accuracy", task="classification", n_concurrent_t

[2022-10-26 21:55] #635 closed

[2022-10-26 21:55] #651 closed

[2022-10-27 02:44] flippercy commented on #769
@sonichi:

Thank you very much for your help. With your codes, I've figured out that the issue is due to the following codes:

with mlflow.start_run() as run:
.......
mlflow.end_run()

If I add them to your example as:

with mlflow.start_run() as run:
automl.fit(
train_x, train_y, X_val=test_x, y_val=test_y, time_budget=60, metric="accuracy", task="classification", n_concurrent_trials=2,
estimator

[2022-10-27 02:59] sonichi commented on #769
`mlflow.sklearn.log_model` is executed out of the `with` clause, right? I don't think you need to add the `with` clause to get the uri. I'm not an expert of AzureML. If you are using AzureML sdk v2, consider https://learn.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models?tabs=fromjob%2Cmir%2Csdk#deploy-using-azure-ml-clisdk-v2

[2022-10-27 04:31] liususan091219 commented on #703
Add an example.

[2022-10-27 16:28] liususan091219 opened #772 "How to handle X_val, y_val"
Currently X_val, y_val are handled differently for TransformersEstimator in ml.py/compute_estimator/585

The goal is to remove this special treatment for NLP by removing these lines. Allow X_val, y_val to be None.

If X_val, y_val are none, don't checkpoint the intermediate results in TransformersEstimator. Only evaluate outside of TransformersEstimator,fit at ml.py/eval_estimator/361

[2022-10-27 16:31] liususan091219 opened #773 "How to handle metric for TransformersEstimator"
Currently metric is handled differently for TransformersEstimator in [ml.py](https://github.com/microsoft/FLAML/blob/main/flaml/ml.py#L585) and [another place in ml.py](https://github.com/microsoft/FLAML/blob/main/flaml/ml.py#L651).

The goal is to remove this special requirement. However, metric is required in TransformersEstimator to compute the intermediate result.

Currently, no other estimato

[2022-10-27 16:42] flippercy commented on #769
@sonichi My team managed to used other ways to pull the model uri after training and save the model. Problem solved.

Thank you very much for your help with the debugging! I've learned a lot.

[2022-10-27 16:42] #769 closed

[2022-10-28 03:00] sonichi opened #774 "Add metric roc_auc_weighted"
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
Set average="weighted".
Find all occurrences of "roc_auc" in ml.py, add "roc_auc_weighted" accordingly, and update the documentation website and test.

[2022-10-28 03:11] sonichi opened #775 "Remove extra | in documentation"
![image](https://user-images.githubusercontent.com/4250911/198491700-ff7ac6ad-3cde-4071-b117-5eff94a6c678.png)
https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function#details-and-guidelines-on-hyperparameter-search-space

[2022-10-28 03:13] sonichi opened #776 "Fix indent in documentation"
https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#how-to-set-time-budget
![image](https://user-images.githubusercontent.com/4250911/198492485-49a19a00-b969-419a-bc81-3fed2e37ff1b.png)
The two warning messages should have equal indentation.

[2022-10-28 04:49] sonichi opened #777 "Handle the case "y_train is a series while X_train is a numpy array""
Python 3.9, pandas 1.5.1.

[code]

flaml/automl.py:290: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`

Solution: make the indentation of https://

[2022-10-28 23:05] velezbeltran opened #780 "Quantile Regression"
Hello!

I was wondering if there is any native way of doing quantile regression with Flaml or any quick way of going about setting it up so that it works with it. I was taking a look at the tutorials and it wasn't clear to me how to do so.

Alternatively, if there isn't one, happy to make a PR implementing it if people support this feature.

Thank you!

[2022-10-28 23:36] qingyun-wu opened #781 "Revise the tutorial announcement and links in README"
In README.md, make the following revision on the tutorial announcement:
1. Add an announcement about the **upcoming** AAAI tutorial and add a link to the tutorial page: https://github.com/microsoft/FLAML/tree/tutorial-aaai23/tutorial
2. Revise the KDD tutorial announcement (it is a **past** tutorial now)

[2022-10-29 15:22] sonichi commented on #780
It seems that LGBMRegressor already supports quantile regression. I haven't checked other libraries yet. In LGBMRegressor, we need to add `alpha`, `objective="quantile"`. To pass these parameters to LGBMRegressor in flaml, the simplest way is to use the "custom_hp" argument in `AutoML.fit()`. See https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML/#a-shortcut-to-override-the-sear

[2022-10-29 16:03] sonichi opened #782 "zero-shot config out of search space"
For small datasets, the recommended zero-shot config may be of out of the search space because the search space depends on the dataset size. For example, `n_estimators` is bounded the # rows in the training data. The current behavior in `AutoML.fit()` is to remove the invalid configuration. If neither `time_budget` nor `max_iter` is given, we will end up training each learner with the low cost con

[2022-10-29 17:58] sonichi opened #784 "default config unrecognized"
When time_budget and max_iter are both unspecified in `AutoML.fit()`, only one model per estimator will be trained (using our [zero-shot](https://microsoft.github.io/FLAML/docs/Use-Cases/Zero-Shot-AutoML) technique). Each library's default config is returned as an empty dict `{}`. However, in `AutoML.fit()`, such a config will be then regarded as incomplete and modified. To prevent this, we need t

[2022-10-30 02:10] evensure commented on #777
I'd like to make that my first "real" issue. Please assign

[2022-10-30 04:15] #776 closed

[2022-10-30 13:50] velezbeltran commented on #780
Thanks @sonichi will try it out.

[2022-10-30 18:45] satya-vinay commented on #775
I would like to pick this issue.

[2022-10-31 14:31] wil70 opened #785 "Flaml/LightGBM - Shouldn't I found better/faster or equal results from FLAML than direct LightGBM?"
Hello

I have the following training with LightGBM

[code]

[code]

I'm trying with FLAML (please keep in mind I'm new with Python and those libraries)

[code]

[code]

[2022-10-31 14:48] evensure commented on #777
@sonichi I know the issue is rather trivial, however I wanted to reproduce the error first so that I can see if there'd be more than only line 290 with FutureWarnings related to this issue. Could you give me some guidance, please?

I followed the steps from [https://microsoft.github.io/FLAML/docs/Contribute/](https://microsoft.github.io/FLAML/docs/Contribute/)
`pip install -e FLAML[test,notebook]`

[2022-10-31 15:30] sonichi commented on #785
In your first code snippet, `x_test` and `y_test` are leaked to the `fit()` function. In the second code snippet, they are not. So the comparison is not fair. Try remove the leak?

[2022-10-31 16:00] sonichi commented on #777
Sure. Thanks for working on it. First, about the pip install error: did you run the command after git clone? "FLAML" is supposed to be a relative path you cloned into. If you clone into a different path, replace "FLAML" with that path.
I'll update the issue content about how to reproduce this warning.

[2022-10-31 16:17] evensure commented on #777
Sure, glad I can help... hopefully :D

I did run it right after! I just spotted my the error, needed to escape the brackets!

[2022-10-31 16:19] sonichi commented on #777
I see. Maybe you can create a PR to update the documentation website first, about the escaping. :)

[2022-10-31 16:44] #576 closed

[2022-10-31 17:54] sonichi commented on #777
@evensure After some investigation, I found that this issue only appears when X_train is a numpy array and y_train is a pandas series.
And the solution is very simple. Please see the updated issue.

[2022-10-31 18:41] tanmay2798 commented on #36
Hi, I had a question, there are cases when None is returned as configuration from suggest function of Blendsearch. So in that case, nni.get_next_parameter() receives None configuration. How can we handle that case?

[2022-11-01 10:50] evensure commented on #777
@sonichi Is there an advantage of your solution against dealing with it in the same manner as for `X_train` in the lines before?

https://github.com/microsoft/FLAML/blob/b63f1bc8b8b511932d3c519e0e214bd706e94068/flaml/automl.py#L286-L289

I'd have proposed this in order to omit potential side-effects from `.reset_index()`:
[code]

[2022-11-01 15:48] sonichi commented on #777
The reason is the shuffling: https://github.com/microsoft/FLAML/blob/b63f1bc8b8b511932d3c519e0e214bd706e94068/flaml/automl.py#L1259-L1264
Maybe it works without resetting the index if you use .iloc. But then we need to search for all the places using [:] and replace with .iloc.
BTW, we should check `self._state.sample_weight_all` and either reset index or use .iloc too.

[2022-11-01 19:14] #759 closed

[2022-11-02 00:50] sonichi opened #787 "Add a link to documentation webpage in notebook"
https://github.com/microsoft/FLAML/blob/main/notebook/automl_time_series_forecast.ipynb
![image](https://user-images.githubusercontent.com/4250911/199368167-17345bf9-290c-4d42-a175-faa535c11efb.png)
Add a link to https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML/#optimization-metric for understanding what metrics are available.

@qingyun-wu @liususan091219 @luisquintanilla what

[2022-11-02 16:46] ohenry-proda opened #788 "Misspelled import on docs page"
https://microsoft.github.io/FLAML/docs/Getting-Started contains a 'ligthgbm'

[2022-11-02 18:04] sonichi opened #789 "Change cost_attr when max_iter is used as the stopping criterion instead of time_budget in AutoML.fit"
### Discussed in https://github.com/microsoft/FLAML/discussions/779

<div type='discussions-op-text'>

<sup>Originally posted by **flippercy** October 28, 2022</sup>
Hi Team FLAML:

I have a few general questions regarding FLAML:

1. Could I use a customized learner for the ensemble? For example, for a linear combination, I want to make sure all the coefficients are negative.

2. I noticed that th

[2022-11-02 18:07] sonichi commented on #788
Good catch. Would you like to make a PR?

[2022-11-03 09:25] ohenry-proda commented on #788
This is my work account so I'll leave it to the experts :)

[2022-11-03 18:54] sonichi opened #794 "Performance test fails due to runtime variance"
One test fails occasionally due to runtime variance:
https://github.com/microsoft/FLAML/actions/runs/3384080281/jobs/5627262984
It requires rerunning the test until it passes.
It'll be nice to fix this.

[2022-11-03 20:47] harshvardhaniimi opened #795 "How does warm start (`starting_points`) work? FLAML doesn't start training from there"
FLAML does not seem to respect `starting_points` hyperparameters provided to it for [warm starting](https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#warm-start). In the following example, I am fitting the first model and storing its best parameters as `warm_start_config = automl.best_config`. Later, I do the exact same run but with `starting_points = warm_start_config`. Both r

[2022-11-03 22:30] sonichi commented on #795
Could you change `warm_start_config = automl.best_config` into `warm_start_config = automl.best_config_per_estimator" and try again?

[2022-11-03 22:40] sonichi opened #796 "Explain how to use group fold cross validation"
Q from user: I am having trouble with getting the API to support groupfold cross validation. Is there somewhere in the documentation where this is covered?

A: Setting `split_type="group"` and `eval_method="cv"` will do it. We should update the documentation in https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#data-split-method to make it more clear.

[2022-11-04 13:16] #775 closed

[2022-11-05 04:24] glmcdona opened #798 "Larger dimensionality sparse array inputs cause many FLAML use cases to fail"
Classification and regression models often leverage sparse arrays. For example when composing a Sklearn pipeline, sparse arrays are formed as the output of categorical OneHot transforms and ngramming like CountVectorizer and TfidfVectorizer.

These sparse arrays are passed into the learners (eg LightGbm, Xgboost, LogisticRegression), and these learners are designed to support these sparse arrays e

[2022-11-05 13:48] #788 closed

[2022-11-05 15:40] harshvardhaniimi commented on #795
Using `warm_start_config = automl.best_config_per_estimator` works. I feel terrible missing such small detail. Feature request: if `starting_points` is not provided in the right format, could FLAML fail loudly and not silently? Even a warning saying the starting_points is wrongly provided and not used in the output would be greatly useful.

[2022-11-05 15:40] #795 closed

[2022-11-05 17:15] wil70 commented on #785
oh, I didn't realize this. TY!

**LGBMClassifier**
[code]
[code]

**AutoML**
[code]
[code]

[2022-11-05 17:35] wil70 commented on #785
oh, I didn't realize this. TY!

**LGBMClassifier**
[code]
[code]

**AutoML**
[code]
[code]

[2022-11-05 22:21] sonichi opened #800 "If starting_points is not provided in the right format, fail loudly"
Even a warning saying the starting_points is wrongly provided and not used in the output would be useful.

Originally suggested in #795

[2022-11-05 22:26] sonichi commented on #785
`(x_test,y_test)` is still given to LGBMClassifier via `eval_set`.

[2022-11-05 23:19] dcapeluto opened #801 "Continue/finish training after error"
automl.fit ran for 24h for hp tuning. While ensembling, at around 13h, there was an error (AssertionError - looking at ram, maybe it was OOM). So automl.model returns "None", yet saving it, saves a +15GB file, and automl.best_estimator, best_config and best_config_per_estimator all have values. If I try predict_proba, I get "No estimator is trained. Please run fit with enough budget."

What's the

[2022-11-06 01:22] wil70 commented on #785
@sonichi
I also tried this way

[code]
but the result is the same as the test set is not use for the training per-se in "fit()" but for metrics? Like the testing error doesn't seems to be feedback to the training algo, only the training error seems to be
so I basically have the same results:

[code]
The only thing I could think of is somehow the random learning_rate=0.09,max_depth=-5 I picked for

[2022-11-06 02:21] sonichi commented on #785
The result is surprising. How large is the dataset? How many iterations are finished for AutoML?

[2022-11-06 04:01] qingyun-wu commented on #801
Hi @dcapeluto, thank you for your question. You can warm start a new AutoML instance by setting `starting_points` following the example in this doc: https://microsoft.github.io/FLAML/docs/Use-Cases/Task-Oriented-AutoML#warm-start

Let me know if you need further help!

[2022-11-06 14:09] qingyun-wu commented on #801
Hi @dcapeluto, can you please let me know if your questions and issues are resolved? I will close this issue then.

By the way, may I ask what is your use case scenario? We'd appreciate your feedback in this survey:
https://docs.google.com/forms/d/e/1FAIpQLSd0u4BbSzr-m9hgM8rmPlYB_JJoFXeHhuoXI9YFbHDRWrDlOQ/viewform?usp=sf_link

You are also welcome to join our discord channel https://discord.gg/Cpp

[2022-11-07 02:48] wil70 commented on #785
Hi @sonichi, the file is small (7GB)
The file labels are mutli-class.

- LGBMClassifier, 18min, 1000 iterations
-  AutoML, 60 min, 1 iteration (I tried a few times)

I'm running
`automl.fit(X_train=x_train, y_train=y_train, time_budget=-1, max_iter=1000, metric='log_loss', estimator_list=['lgbm'], task='classification')
`
I will post after the 1000 iteration via AutoML.
TY

[2022-11-07 04:58] sonichi commented on #785
The `max_iter` in `AutoML.fit()` means the number of trials, not `n_estimators`.
If 1000 iterations took LGBMClassifier 18min to finish, the dataset is quite large. I have two suggestions.
1. Since your evaluation metric is accuracy, set `metric="accuracy"` in `AutoML.fit()`.
2. Since you already know one good starting point, set `starting_points={"lgbm": {"learning_rate": 0.09, "n_estimators": 10

[2022-11-07 19:07] mautini opened #803 "'Booster' object has no attribute 'predict_proba' with classification and custom xgboost model"
I'm currently trying to use FLAML to perform hyperparam tuning on my custom XGBoost model.

I defined a simple model, like this:
[code]

but when trying to fit it with AutoML:

[code]

I got the following issue: ```AttributeError: 'Booster' object has no attribute 'predict_proba'```

xgboost 1.7.1
flaml 1.0.13

[2022-11-07 19:25] mautini commented on #803
Fixed using `XGBoostSklearnEstimator` instead of `XGBoostEstimator`

[2022-11-07 19:25] #803 closed

[2022-11-07 21:37] sonichi opened #804 "Issue a warning if early stopping happened when retraining"
Early stopping could happen when retraining:
https://github.com/microsoft/FLAML/blob/d2bc168f3692ac41c8f13e1464a078879aa38a45/flaml/automl.py#L3393
i.e., `self._trained_estimator.params[self._trained_estimaotr.ITER_HP]` may be not equal to `self.best_config[self._trained_estimaotr.ITER_HP]`. When this happens, we should issue a warning.

[2022-11-08 13:10] luigif2000 opened #805 "how to pass categorical features names or indices to learner"
Dear, first of all thanks so much again for You awesome project and support.

I have thought to increase score best learner passing the features categorical information to the learner capable to manage categorical features.
I rearrange Your extra argument example:

from flaml.data import load_openml_dataset
from flaml import AutoML
import numpy as np

X_train, X_test, y_train, y_test = load_openml

[2022-11-08 13:14] luigif2000 commented on #805
Please could You kindly reply also usefull information about categorical features in flaml?!? how to manage? how to pass? other...thanks again

luigi

[2022-11-08 15:29] dcapeluto commented on #801
Hi #qingyun-wu , thanks for your incredibly prompt response. I suppose the matter is mostly resolved. It seems that both methods you suggest achieve the same. Is there a reason to choose one over the other?

If I understand correctly, I can do starting_points with negligible time budget and the training would jump into ensemble right away.

If choosing the ratrain_from_log, should one pass the exa

[2022-11-08 15:31] #801 closed

[2022-11-08 19:02] vivkhatri22 opened #806 "hyperparameters"
Good Day,

Is there a way to see what hyperparameters can be tuned for a given algorithm? And specify fixed values for some parameters, while indicating the others are to tuned with cross-validation?

Thank you

Vivek

[2022-11-08 20:01] qingyun-wu commented on #806
Hi @vivkhatri22,

Thank you for your question.

1. "Is there a way to see what hyperparameters can be tuned for a given algorithm" Are you asking about a particular built-in learner in FLAML? If so, you can find the tuned hyperparameters and their ranges in the model.py; for example you can find the tuned hyperparameters for FLAML built-in lightgbm [here](https://github.com/microsoft/FLAML/blob/ma

[2022-11-08 21:10] vivkhatri22 commented on #806
Hi Qingyun,

This is exactly what I wished to know.

Thank you!!!!

Vivek

From: Qingyun Wu ***@***.***>
Sent: Tuesday, November 8, 2022 3:02 PM
To: microsoft/FLAML ***@***.***>
Cc: Khatri, Vivek ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [microsoft/FLAML] hyperparameters (Issue #806)

Hi @vivkhatri22<https://github.com/vivkhatri22>,

Thank you for your question.

  1.  "Is there a way

[2022-11-08 22:45] sonichi commented on #805
Have you tried to use pandas dataframe? The categorical features are supposed to be recognizable by flaml when using dataframe. And you don't need to pass that info to flaml. To support numpy array with categorical features, additional work is needed.

[2022-11-08 23:11] sonichi opened #807 "Isolate the ensemble part and expose it to users"
Right now the ensemble part is not isolated from hyperparameter search. Sometimes the ensemble part fails due to OOM. Users would like to use a more powerful machine to finish the ensemble part using a pickled automl object. #801

Suggestion: put the ensemble part in a separate function and expose it to users.

[2022-11-08 23:16] harshvardhaniimi commented on #800
If the warmstart is used it'll be useful to see what parameters are used in the printed log. [Like in this output...]

![image](https://user-images.githubusercontent.com/40472851/200696470-dcd6764d-e2ab-44a6-a968-b9bfb87a33cf.png)

[2022-11-09 01:51] qingyun-wu commented on #806
You are welcome! I will close this issue then.

By the way, may I ask what is your use case scenario? We'd appreciate your feedback in this survey:
https://docs.google.com/forms/d/e/1FAIpQLSd0u4BbSzr-m9hgM8rmPlYB_JJoFXeHhuoXI9YFbHDRWrDlOQ/viewform?usp=sf_link

You are also welcome to join our discord channel https://discord.gg/Cppx2vSPVP, where you can direct chat with the contributors and other u

[2022-11-09 01:52] #806 closed

[2022-11-09 03:26] #753 closed

[2022-11-09 17:16] luigif2000 commented on #805
Dear thanks so much: so no problem!
I made the question because I use dataframe with many categorical features.......but when flaml converged and find the best model as xgboost, i notice that the enable_categorical flag is disable?!?
Then i supposed that flaml not recognized the categorical!?!?

1) Is there a way to verify that the categorical feature are recognized as real category, and used as c

[2022-11-09 18:57] sonichi opened #808 "Versioning in documentation"
Steps:
1. Follow the guide [here](https://microsoft.github.io/FLAML/docs/Contribute#documentation) to build the documentation website locally. After this step, one should see a `reference` folder created under `website/docs/`.
1. Follow https://docusaurus.io/docs/versioning to create a versioned doc. Check https://docusaurus.io/docs/docs-multi-instance to separate the parts that need to be version

[2022-11-10 06:15] cdaekim opened #810 "LGBMRanker model parameters"
Hi all. Is there a way to pass the "label_gain" parameter (https://lightgbm.readthedocs.io/en/latest/Parameters.html#label_gain), or any other parameter, from the base model through FLAML.AutoML()?

EDIT:
Saw the tutorials on how to add a custom lightgbm learner. Sorry!

[2022-11-10 10:56] #810 closed

[2022-11-10 17:34] sonichi commented on #785
Let's try something simple first.
[code]
This should get you the same LGBMClassifier model. If not, please let me know and I can provide further guidance.

[2022-11-10 17:36] sonichi commented on #785
Sorry, I just realized that "num_leaves" should be set to 31 as that's the default value.

[2022-11-13 20:48] #730 closed

[2022-11-13 20:48] #782 closed

[2022-11-13 20:48] #784 closed

[2022-11-15 04:58] qingyun-wu opened #813 "Update import locations in notebooks subsequent to a recent refactor PR"
Some notebooks need to be updated for the import locations because of this refactor PR
https://github.com/microsoft/FLAML/pull/809
(Note the changes shall be made after the PR is merged)
FYI @markharley @sonichi

[2022-11-15 09:37] bbudescu opened #814 "Warm start using intermediate reports"
Hi,

As per [the docs](https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function#warm-start), warm start can be done by passing lists of param configs and, respectively, the associated metrics as `tune.run`'s `points_to_evaluate` and `evalulated_rewards` arguments.

1. Can this mechanism be used for pruned trials? I.e., where is the place of the resource? My first thought would b

[2022-11-15 12:16] ankitadhawan05 commented on #11
I got this error message while installing flaml

ERROR: Command errored out with exit status 1:

[2022-11-15 12:46] jingdong00 commented on #794
I recall this happening for the last pr. It seems that the random seed is already fixed and the variance is perhaps not due to the seed setting. Should I just set a catch for the assertion error and let it retry (say, three times?) if it fails?

[2022-11-15 13:59] bbudescu opened #816 "tune: support for conditional / nested, hierarchical) parameter search spaces"
This is not documented, so I assume that, most likely, it's not directly supported. However, I see that there is a discussion about it in #

[2022-11-15 14:30] bbudescu commented on #816
This is not documented, so I assume that, most likely, it's not directly supported. However, I see that there is a discussion about it in #717.

Also, I think the constraints [api](https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function#more-constraints-on-the-tuning) can be used to mark incompatible configurations as invalid. I'm not sure, though, how that affects tuning perfo

[2022-11-15 15:29] sonichi commented on #813
The changes to notebooks should be merged after a new version of flaml is released.

[2022-11-15 15:48] #767 closed

[2022-11-15 16:12] bbudescu opened #817 "tune: support for incremental searches"
So, let's assume you get a new dataset every month and need to train a new model on that data as soon as you receive it. You don't care if the model doesn't perform very well on old data, you care about the newest data only. There's enough of a concept drift within that data, that the optimal model hyperparameter configuration differs a bit from month to month so it helps to do a little tuning eve

[2022-11-15 16:21] bbudescu commented on #816
Is there perhaps an example of how to use hierarchical / nested search spaces that I can use until you guys are done with the docs?

[2022-11-15 17:48] sonichi commented on #814
There are two cases:
1. The specified `resource_attr` is a hp in the search space. In this case, the value of it is contained in each configuration. And the evaluation of each configuration is under a specific resource value specified in the configuration. So, the current way of warm start will take care of it.
2. The specified `resource_attr` is not a hp in the search space. In this case, the int

[2022-11-15 17:55] sonichi commented on #817
@qingyun-wu @skzhang1

[2022-11-15 18:08] bbudescu commented on #814
Ok, so which is the case in the [Trial Scheduling section](https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function/#trial-scheduling) of the tutorial? Is it treated like a hp in the search space or not?

As far as I understand, especially with intermediate reports which are used by ASHA pruner to cut losers short, this doesn't look like a regular hp to me.

As for the use case:

[2022-11-15 18:20] bbudescu commented on #814
Oh, Sorry, wait. I think I understand your answer now. So, the "1." in your answer corresponded to the "1." in my question, right?

I.e., when using the flaml scheduler, the resource is part of the config dict, as opposed to when using the ASHA scheduler, it is not.

Sorry for the misunderstanding :)

[2022-11-15 18:20] sonichi commented on #816
hierarchical: https://github.com/microsoft/FLAML/blob/5eb99276423f8ac88b7fe38c37d9b7f37fafe4fb/test/tune/test_space.py#L47
nested:
https://github.com/microsoft/FLAML/blob/5eb99276423f8ac88b7fe38c37d9b7f37fafe4fb/test/tune/test_tune.py#L221

[2022-11-15 18:53] bbudescu commented on #817
Ok, is there a way to do this without going through the AutoML api? How about just changing the search space every time a new optimization session is run, like I suggested in the last paragraph under `Option 1` above?

[2022-11-15 19:16] bbudescu commented on #814
Even so, isn't it still possible to integrate some knowledge from pruned trials even if only into the surrogate model? I.e., I kinda thought that, even if the ASHA scheduler is used, the global BO would still be able to get updated by the pruned trials. Indeed, the resource dimension should be treated as just another input var for the surrogate model, with a couple of differences, though:
- the va

[2022-11-15 19:38] bbudescu commented on #814
Also, related to the above, can one set `use_ray=True` for running multiple trials in parallel, and still use the `scheduler='flaml'`?

[2022-11-15 19:52] sonichi commented on #814
I believe so. @qingyun-wu please correct me if I'm wrong.

[2022-11-15 20:00] sonichi commented on #817
Use [suggest_config](https://microsoft.github.io/FLAML/docs/reference/default/suggest#suggest_config) to get k configs and pass them via `points_to_evaluate`.
In you suggested Option 1, the passed `evaluated_rewards` could mislead the optimizer because they will be treated as known rewards for the corresponding `points_to_evaluate`. But if your search space is continuous, this could be OK as a poi

[2022-11-15 20:03] bbudescu commented on #814
One more and then I'll stop (I hope):

From the code block in [this section](https://microsoft.github.io/FLAML/docs/Use-Cases/Tune-User-Defined-Function/#1-an-authentic-scheduler-implemented-in-flaml-schedulerflaml), it kinda seems to me that, when using `scheduler='flaml'`, if, let's say, we want to specify the number of iterations or number of epochs for which to run training on some dataset as

[2022-11-15 20:33] bbudescu commented on #817
I kinda need to tune a user defined function. I'm not sure how to fit it into this paradigm of standard ML tasks.

[2022-11-16 01:10] sonichi commented on #817
Do you have meta features for your tasks? Meaning, for each tuning task, are there meta features to characterize the similarity between tasks?

[2022-11-16 08:14] bbudescu commented on #817
I was thinking to use such a meta feature to store the index of the month in which the data was collected, i.e., the month index in [0...12] in the example above as an alternative to treating the month index as a regular parameter and constraining its search space to the current month index every time we rune a tuning session. Of course, some stats can be computed on each dataset and appended as f

[2022-11-16 15:03] sonichi commented on #817
We can extend the meta learning from automl to tune in future version. For now, you can experiment with Option 1 in your post, as long as the search space is continuous.
@qingyun-wu any other suggestions?

[2022-11-16 15:33] bbudescu commented on #817
Well, my datasets are month-wise, so the most natural representation is an `int` that indexes the consecutive months (actually, a `qrandint` to be able to have the start of the per-session search range equal to its stop point, so that the subspace is, effectively, collapsed into a single value on that dimension).

Now, I could just manually round a `uniform` to the nearest int, but that would make

[2022-11-16 16:59] sonichi commented on #817
Sorry, I meant whether you have other continuous hyperparameters in the search space.

[2022-11-17 01:17] qingyun-wu commented on #817
Hi @bbudescu, in addition to the existing zero-shot feature, we have some in-process ideas related to Option 1 and would like to learn more about the needs in your case. Could we chat on the community discord https://discord.gg/Cppx2vSPVP. ?

[2022-11-17 01:32] qingyun-wu commented on #814
Hi @bbudescu, yes, your understanding is correct: in the referred code example, by returning the intermediate results with a dict, you lost that training state and next time you need to train from scratch. For resources such as iterations or epochs, you could use `tune.report` and write the evaluation function in a way such that you can continue from where it left off.

[2022-11-17 03:18] HangHouCheong commented on #764
In order to facilitate communication and to know this channel in time, I think it is necessary to add an announcement

[2022-11-17 04:58] wil70 commented on #785
Thanks @sonichi

Cool, got it working - TY

1) so I use as you advise:
[code]

The result is (took a bit less than 48h)
[code]

which is an 0.03 extra point (it took 48h) than the direct LightGBM with Testing accuracy of 0.5203 (18 min)
https://github.com/microsoft/FLAML/issues/785#issuecomment-1304597243

2) I can't find how to persist the model so I can restart training from this model
I'm able

[2022-11-17 08:59] EgorKraevTransferwise opened #819 "Does FLAML set the random seed by default?"
It looks like it; and I think that's a bug because that makes it very painful to use it in stochastic simulations. The way I ran into it is I was generating the estimation error distribution by repeatedly sampling a synthetic dataset (so new values every time from a continuous distribution) and fitting FLAML on it, in a for loop.

Because FLAML apparently set the random seed, all the samples begin

[2022-11-17 16:15] sonichi commented on #819
What do you use for sampling? I tested `np.random.random()` before and after `AutoML.fit()`. I got different results.

[2022-11-17 23:02] #787 closed

[2022-11-18 08:20] EgorKraevTransferwise commented on #819
I use numpy as well. Can you please try doing a for loop which first calls something from np.random and then AutoML.fit()? What I expect you will see is that the second result will be different from the first one, but that every next result after that will be identical to the second one.

[2022-11-18 15:47] sonichi commented on #819
[code]
`np.random` is called three times. Their results are all different.

[2022-11-20 15:53] imene-swaan opened #821 "pip install flaml FAIL"
I tried installing flaml but it fails and I get:

note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

× Encountered error while trying to install package.
╰─> lightgbm

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

[2022-11-21 08:00] EgorKraevTransferwise commented on #819
Ah, my apologies - tracked the issue down to [causalml code](https://github.com/uber/causalml/blob/master/causalml/metrics/visualize.py) for Qini score calculation that we are using. Thanks a lot for taking a look!

[2022-11-21 08:00] #819 closed

[2022-11-21 14:23] velezbeltran opened #822 "Uncertainty Quantification - Regression"
Given that uncertainty quantification is used often in many settings when confidence in predictions is required it would be nice to include a task in Flaml that tackles this setting.

There are a couple of questions that about how to do this.

1) Should we create a separate tasks or is it enough to give instructions on how to use the uncertainty estimates on models like Catboost.
2) If we create a

[2022-11-22 23:26] sonichi commented on #822
The latter is preferred. Some code changes in flaml are required for getting uncertainty estimates from Catboost.

It depends on whether we can have a unified API for all the libraries. If we can, it will be an additional value for users to support multiple libraries with a unified API.

[2022-11-22 23:28] sonichi commented on #821
Could you specify the Python version and operating system?

[2022-11-24 17:06] sonichi opened #825 "Install editable package in codespace"
The flaml package in the current codespace is the pypi version. Developers need to run `pip install -e` themselves. We should update the `devcontainer.json` and `Dockerfile` to install the editable package in codespace.

[2022-11-26 12:30] imene-swaan commented on #821
Python 3.9.12
macOS Monterey version 12.6

[2022-11-26 21:03] sonichi commented on #821
I don't have macOS to test it. Hope others could help. Have you tried `pip install lightgbm`? Does it fail? Note that in some systems `pip` and `pip3` are for Python 2 and Python 3 respectively. If that's the case, use `pip3`.

[2022-11-27 04:42] qingyun-wu commented on #821
Hi @imene-swaan,

I encountered this error before. This error is a common error when installing lightgbm on MacOS with M1 chip.

I resolved this by using `brew`. More specifically, run the following command lines before installing lightgbm (or flaml)
[code]
(Assuming you have installed the Xcode Command line tools. If not, please install Xcode Command line tools first by running `xcode-select --in

[2022-11-27 06:40] sonichi commented on #821
@qingyun-wu could you please add this to the documentation website? Or label this as "first good issue".

[2022-11-27 16:59] skzhang1 commented on #821
Yes. The reason is the M1 chip. I face the same problem before.

[2022-11-27 19:22] #825 closed

[2022-11-28 01:30] hes-dev23 commented on #821
I had the same issue before. (When I set up flaml on my new m1 chip mac book.)
This is how I bypassed.

In my case, there is a way to build manually.
At first, follow the [docs](https://lightgbm.readthedocs.io/_/downloads/en/latest/pdf/) (p.15)

cd LightGBM
mkdir build
cd build
cmake -DUSE_MPI=ON ..
make -j4

Then, go to python-package dir, `python setup.py install -p` on python-package dir
and `p

[2022-11-28 17:17] qingyun-wu opened #829 "Improve the logic of retrain in AutoML"
Related keyword argument “retrain_full” https://github.com/microsoft/FLAML/blob/main/flaml/automl.py#L577

Potential problems to be fixed:
Config is sometimes revised during the training process: E.g., in LGBM https://github.com/microsoft/FLAML/blob/54220d675291d640275b4a1e6997d07812ba4762/flaml/model.py#L1056
This revision step is reasonable during tuning but is not supposed to be done during the

[2022-11-30 23:18] sonichi opened #834 "Adjust the indent"
https://microsoft.github.io/FLAML/docs/Examples/AutoML-NLP
<img width="238" alt="image" src="https://user-images.githubusercontent.com/4250911/204928471-765bee97-ad38-4180-9060-b0d3a541aec3.png">
The indent after "transformer" should be adjusted.